<div class="app-card<%= colour == :default ? '' : " app-card--#{colour}" %>">
  <%= link_to path, class: link_classes do %>
    <span class="<%= count_class %>"><%= number_with_delimiter(count) %></span>
    <span class="app-card__label"><%= label %></span>
  <%- end %>
</div>
