<%- title = t('page_titles.internet_access')  %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: @current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      Extra mobile data
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Request extra data for mobile devices', extra_data_guidance_internet_mobile_school_path(@school) %>
      </li>
      <li>
        <%= govuk_link_to 'View your requests', extra_data_requests_internet_mobile_school_path(@school) %>
      </li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      4G wireless routers
    </h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to 'What you need to know to request 4G wireless routers', how_to_request_4g_wireless_routers_path %>
      </li>
      <li>
        <%= govuk_link_to 'Request a 4G wireless router', 'https://forms.gle/LE1hi2FAKdedUvCz6' %>
      </li>
    </ul>
  </div>
</div>
