<%- pass_through_params = {support_enable_orders_form: {order_state: @form.order_state, cap: @form.cap}} %>
<%- content_for :before_content, govuk_link_to('Back', support_devices_school_enable_orders_path({school_urn: @school.urn}.merge(pass_through_params)), class: 'govuk-back-link') %>
<%- title = t('page_titles.support_order_status.confirm_enable_orders') %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= title %>
    </h1>

    <%= render Support::EnableOrdersConfirmSummaryListComponent.new(
      order_state: @form.order_state,
      cap: @form.cap,
      allocation: @allocation,
      change_path: support_devices_school_enable_orders_path(@school.urn, pass_through_params)) %>

    <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
    <p class="govuk-body">We will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>email everyone at <%= @school.name %> to tell them they <%= t(@form.order_state, scope: %i[support order_status confirm order_states]) %></li>
      <li>tell their <%= @school.responsible_body.humanized_type %> <%= @school.responsible_body.name %> that this school <%= t(@form.order_state, scope: %i[support order_status confirm order_states]) %></li>
    </ul>


    <%= form_for @form, url: support_devices_school_enable_orders_path(@school.urn), method: :patch do |f| %>
      <%= hidden_field_tag :confirm, true %>

      <%= f.hidden_field :order_state %>
      <%= f.hidden_field :cap %>

      <%= f.govuk_submit 'Confirm', classes: 'govuk-!-margin-top-6' %>
    <%- end %>
  </div>
</div>
