<%- content_for :before_content do %>
  <div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to 'Home', responsible_body_home_path, class: 'govuk-breadcrumbs__link' %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to t('page_titles.responsible_body_internet_home'), responsible_body_internet_path, class: 'govuk-breadcrumbs__link' %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= t('page_titles.request_extra_mobile_data') %>
    </li>
  </ol>
  </div>
<% end %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.request_extra_mobile_data') %>
    </h1>

    <% if FeatureFlag.active?(:mno_offer) %>
      <% unless @extra_mobile_data_requests.any? %>
        <%= render partial: 'shared/use_the_mobile_guide' %>
      <% end %>
      <p class="govuk-body">
        <%= govuk_button_link_to 'New request',
          responsible_body_internet_mobile_extra_data_requests_type_path
        %>
      </p>
    <% else %>
      <h2 class="govuk-heading-l">You cannot request data at the&nbsp;moment</h2>
      <p class="govuk-body">Our initial pilot ended on 30 September 2020, and we are now working with mobile network providers to prepare for the next phase.</p>
      <p class="govuk-body">If you were planning to request a data increase, please hold on to the information you’ve gathered and wait for an update on the scheme.</p>
      <p class="govuk-body">Data increases already received will continue until 31 December 2020.</p>
    <% end %>
  </div>
</div>
<% if @extra_mobile_data_requests.any? %>
<h2 class="govuk-heading-l govuk-!-margin-top-6">Your requests</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Account holder</th>
      <th class="govuk-table__header">Mobile number</th>
      <th class="govuk-table__header">Mobile Network</th>
      <th class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%- for emd_request in @extra_mobile_data_requests do %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= emd_request.account_holder_name %></td>
        <td class="govuk-table__cell"><%= emd_request.device_phone_number %></td>
        <td class="govuk-table__cell"><%= emd_request.mobile_network.try(:brand) %></td>
        <td class="govuk-table__cell">
          <%= render partial: 'shared/extra_mobile_data_request_status', locals: {extra_mobile_data_request: emd_request} %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>
<% end %>
