<% content_for :title, "#{@school.name} – Computacenter" %>
<%- content_for :before_content do %>
  <%= breadcrumbs([
    { 'Home' => computacenter_home_path },
    { t('page_titles.computacenter.responsible_bodies') => computacenter_responsible_bodies_path },
    { @school.responsible_body.name => computacenter_responsible_body_path(@school.responsible_body) },
    @school.name,
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.responsible_body.name %></span>
      <%= @school.name %>
    </h1>
  </div>
</div>

<%= render Computacenter::SchoolDetailsSummaryListComponent.new(school: @school) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Users</h2>

    <% if @users.present? %>
      <% @users.each do |user| %>
        <div class="user">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1"><%= user.full_name %></h3>
          <%= render Support::UserSummaryListComponent.new(user: user) %>
        </div>
      <% end %>
    <% else %>
      <p class="govuk-body">None</p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-top-4">Notifications sent</h2>

    <% if @email_audits.present? %>
      <%= render Support::EmailAuditListComponent.new(@email_audits) %>
    <% else %>
      <p class="govuk-body">None</p>
    <% end %>
  </div>
</div>
