%h1.govuk-heading-xl
  Tell us how many eligible young people you know about

%p.govuk-body-l
  Please complete all the fields you can.

= form_for @allocation_request_form do |f|
  = f.govuk_error_summary

  = f.fields_for :user do |user_form|
    = render partial: 'shared/user_form', locals: { form: user_form, parent_form: f }

  = f.fields_for :allocation_request do |allocation_request_form|
    = allocation_request_form.govuk_fieldset legend: { text: 'About the eligible young people' } do
      = allocation_request_form.govuk_number_field :number_eligible,
                                                    required: true,
                                                    width: 'one-quarter',
                                                    label: { text: 'Total number of children and young people eligible for increased internet access' },
                                                    min: 0,
                                                    max: 10000,
                                                    step: 1
      = allocation_request_form.govuk_number_field :number_eligible_with_hotspot_access,
                                                    required: true,
                                                    width: 'one-quarter',
                                                    label: { text: 'Total number of eligible children and young people who can access a BT hotspot' },
                                                    hint_text: 'There\'s guidance available on <a href="https://www.btwifi.com/find/ ">how to check access to hotspots</a>'.html_safe,
                                                    min: 0,
                                                    max: 10000,
                                                    step: 1
  = f.govuk_submit
