<%- title = t('page_titles.school_order_devices') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: impersonated_or_current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= render Computacenter::TechSourceOutOfStockComponent.new %>
    <%= render Computacenter::TechSourceMaintenanceBannerComponent.new %>
    <%= render partial: 'shared/half_term_delivery_suspension' %>

    <%= render DeviceCountComponent.new(school: @school) %>

    <%= render partial: 'shared/stock_levels' %>

    <h2 class="govuk-heading-m">
      Before you order
    </h2>

    <p class="govuk-body">
      Make sure you’re certain of what devices you need, as amending or cancelling an order will cause delays.
    </p>

    <p class="govuk-body">
      You can <%= govuk_link_to 'give someone else access so they can place orders', school_users_path %>.
    </p>

    <h2 class="govuk-heading-m">How to order</h2>

    <p class="govuk-body">You need to place your orders on a website called TechSource.</p>

    <p class="govuk-body"><%= t('responsible_body.devices.delivery_timeline') %></p>

    <% if @school&.std_device_allocation&.devices_available_to_order > 149 %>
      <p class="govuk-body">For large orders (more than 150 devices), we’ll call your delivery contact to arrange delivery.</p>
    <% end %>

    <p class="govuk-body">
      If you try to order more than <%= what_to_order_allocation_list(allocations: @school.device_allocations) %> the order will be cancelled.
    </p>

    <h3 class="govuk-heading-s">Delivery address</h3>

    <p class="govuk-body">Your devices will be delivered to:</p>

    <p class="govuk-body">
      <%= @school.name %><br>
      <%= @school.address_1 %><br>
      <% if @school.address_2.present? %>
        <%= @school.address_2 %><br>
      <% end %>
      <% if @school.address_3.present? %>
        <%= @school.address_3 %><br>
      <% end %>
      <%= @school.town %><br>
      <%= @school.postcode %><br>
    </p>

    <p class="govuk-body">If you need to change your delivery address, <%= govuk_link_to "contact us", support_ticket_path %>.</p>

    <%= render partial: 'shared/start_ordering_on_techsource', locals: { email_address: impersonated_or_current_user.email_address, school_urn: @school.urn } %>
  </div>
</div>
