<%- title = t('page_titles.school_order_devices_soon') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: 'Order devices', school: @school, user: @current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= render partial: 'shared/techsource_unavailable_banner' %>

    <p class="govuk-body">You’ll be able to order <%= what_to_order_allocation_list(allocations: @school.device_allocations) %> soon.</p>

    <p class="govuk-body">Orders are placed on a website called TechSource, but your account is not ready yet. It should be ready in the next 24 hours.</p>

    <p class="govuk-body">We’ll email you when you can order.</p>

    <p class="govuk-body"><%= t('responsible_body.devices.delivery_timeline') %></p>

    <p class="govuk-body">While you’re waiting, <%= link_to_devices_guidance_subpage 'check which devices and specifications are available', 'device-specification' %> to decide what you’ll order.</p>

  </div>
</div>
