<%- who_cannot_order = @user.orders_devices? ? 'school_user' : 'school' %>
<%- title = t("page_titles.#{who_cannot_order}_cannot_order_devices.title") %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: 'Order devices', school: @school, user: @user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Order devices</span>
      <%= title %>
    </h1>

    <p class="govuk-body"><%= t("page_titles.#{who_cannot_order}_cannot_order_devices.can_order_when") %></p>

    <ul class="govuk-list govuk-list--bullet">
      <% t('pages.order_devices.can_order_full_allocation_when_list').each do |list_item| %>
        <li><%= list_item %></li>
      <% end %>
    </ul>

    <p class="govuk-body">We’ll contact you about placing orders if you report disruption through the <%= link_to 'DfE educational settings status form', 'https://form.education.gov.uk/service/educational-setting-status' %>.</p>

    <h2 class="govuk-heading-m">Get devices early for specific circumstances</h2>
    <p class="govuk-body">You can still <%= govuk_link_to 'request devices for disadvantaged children', request_devices_school_path(@school) %> from any year group who:</p>

    <%= render partial: 'shared/devices/who_to_request_for_list' %>

    <% unless @user.orders_devices? %>
      <h2 class="govuk-heading-m">
        You won’t be able to place orders yourself
      </h2>

      <p class="govuk-body">You do not have a TechSource account. Someone else will need to place your school’s orders.</p>

      <p class="govuk-body"><%= govuk_link_to "Go to manage users to see who can place orders, or give yourself access", school_users_path(@school) %>.</p>
    <% end %>
  </div>
</div>
