<% if FeatureFlag.active?(:schools_closed_for_national_lockdown) %>
  <%- title = t('page_titles.national_lockdown_school_cannot_order_yet') %>
<% else %>
  <%- who_cannot_order = @current_user.orders_devices? ? 'school_user' : 'school' %>
  <%- title = t("page_titles.#{who_cannot_order}_cannot_order_devices.title") %>
<% end %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: 'Order devices', school: @school, user: @current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Order devices</span>
      <%= title %>
    </h1>

    <% if FeatureFlag.active?(:schools_closed_for_national_lockdown) %>
      <p class="govuk-body">Ordering will be opened for your school as soon as possible.</p>

      <p class="govuk-body">We’ll email you when you can place an order.</p>
    <% else %>
      <p class="govuk-body"><%= t("page_titles.#{who_cannot_order}_cannot_order_devices.can_order_when") %></p>

      <ul class="govuk-list govuk-list--bullet">
        <% t('pages.order_devices.can_order_full_allocation_when_list').each do |list_item| %>
          <li><%= list_item %></li>
        <% end %>
      </ul>

      <p class="govuk-body">We’ll contact you about placing orders if you report disruption through the <%= link_to_ed_settings_form %>.</p>
    <% end %>

    <% unless @current_user.orders_devices? %>
      <h2 class="govuk-heading-m">
        You will not be able to place orders yourself
      </h2>

      <p class="govuk-body">You do not have a TechSource account. Someone else will need to place your school’s orders.</p>

      <p class="govuk-body"><%= govuk_link_to "Go to Manage users to see who can place orders, or give yourself access", school_users_path(@school) %>.</p>
    <% end %>
  </div>
</div>
