<%- content_for :before_content, govuk_link_to('Back', support_devices_school_path(@school.urn), class: 'govuk-back-link') %>
<%- title = t('page_titles.support_school_contacts_edit') %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= title %>
    </h1>

    <%= form_with model: @contact, url: support_devices_school_contact_path(school_urn: @school.urn, id: @contact.id) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :full_name,
          label: { text: 'Name' } %>

      <%= f.govuk_email_field :email_address,
          label: { text: 'Email address' } %>

      <%= f.govuk_text_field :phone_number,
          label: { text: 'Telephone number' },
          width: 10 %>

      <%= f.govuk_submit %>
    <% end %>

    <% unless @contact.current_school_contact? %>
      <%= button_to('Set as the school contact', set_as_school_contact_support_devices_school_contact_path(school_urn: @school.urn, id: @contact), { method: :put, class: 'govuk-button govuk-button--secondary' }) %>
    <% end %>
  </div>
</div>
