<%- title = t('page_titles.responsible_body_devices_request_devices') %>
<%- content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to t('page_titles.responsible_body_home'), responsible_body_home_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to t('page_titles.responsible_body_devices_home'), responsible_body_devices_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <%= title %>
      </li>
    </ol>
  </div>
<% end %>

<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <p class="govuk-body">You can request devices at any time for disadvantaged children who:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are extremely clinically vulnerable and must continue shielding on official advice</li>
      <li>cannot attend school – even though theirs is open – because they live in a different area with local coronavirus restrictions</li>
    </ul>

    <h2 class="govuk-heading-m">What to put in your request</h2>

    <p class="govuk-body">Tell us:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>which schools need the devices</li>
      <li>how many devices they need</li>
      <li>why they need the devices</li>
    </ul>

    <p class="govuk-body">For children who are shielding you could be asked to give evidence.</p>

    <h2 class="govuk-heading-m">Where to send your request</h2>

    <p class="govuk-body">
      Send your request in an email to:
      <br>
      <%= ghwt_contact_mailto(subject: title) %>
    </p>

    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body">We’ll email you back with instructions about what to do next.</p>
  </div>
</div>
