<%- title = t('page_titles.support.users.responsible_bodies.edit') %>
<% content_for :title, title %>
<%- content_for :before_content, govuk_back_link(text: 'Back', href: support_user_path(@user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @user.full_name %></span>
      <%= title %>
    </h1>

    <%= form_for @user_responsible_body_form, url: support_user_responsible_body_path(@user), method: :patch do |f| %>

      <%- if @responsible_body.present? %>
        <%= f.govuk_radio_buttons_fieldset(:change, legend: nil) do %>
          <%= f.govuk_radio_button :change, 'move', label: { text: 'Move user to a different responsible body' } do %>
            <%= f.govuk_collection_select(
              :responsible_body_id,
              @user_responsible_body_form.select_responsible_body_options,
              :id,
              :name,
              label: { text: 'New responsible body' },
              data: {
                autocomplete_rb: true,
              }) %>
          <% end %>
          <%= f.govuk_radio_button :change, 'remove', label: { text: 'Remove user from responsible body' }, link_errors: true %>
        <% end %>
      <% else %>
        <%= f.hidden_field 'change', value: 'add' %>
        <%= f.govuk_collection_select(
          :responsible_body_id,
          @user_responsible_body_form.select_responsible_body_options,
          :id,
          :name,
          label: { text: 'Add user to a responsible body' },
          options: { include_blank: true },
          data: {
            autocomplete_rb: true,
          }) %>
      <%- end %>
      <%= f.govuk_submit 'Update' %>
    <% end %>
  </div>
</div>
