<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.support.home') %>
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Browse responsible bodies', support_responsible_bodies_path %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>manage responsible bodies and their users</li>
      <li>browse the schools managed by the responsible bodies</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Find and manage schools', support_schools_path %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>search for schools</li>
      <li>enable orders for many schools</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Service performance', support_service_performance_path %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see the service performance for the device reserve</li>
      <li>see the service performance for the connectivity offers</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Technical support', support_technical_support_path %>
    </h2>

    <p class="govuk-body">Use this section to see the background queues and jobs running on the service</p>
  </div>
</div>
