<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.support.home') %>
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Browse responsible bodies', support_responsible_bodies_path %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>manage responsible bodies and their users</li>
      <li>browse schools and colleges managed by the responsible bodies</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Find users', search_support_users_path %>
    </h2>

    <p class="govuk-body">Use this section to find users by name or email address</p>

    <% if policy(School).edit? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Find and manage schools, colleges and FE institutions', support_schools_path %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>search for schools, colleges and further education (FE) institutions</li>
        <li>enable orders for many schools, colleges and FE institutions</li>
        <li>adjust allocations for many schools, colleges and FE institutions</li>
      </ul>
    <% else %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Find schools, colleges and FE institutions', support_schools_path %>
      </h2>

      <p class="govuk-body">Use this section to search for schools, colleges and FE institutions.</p>
    <% end %>

    <% if policy(ExtraMobileDataRequest).index? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Find requests for extra mobile data', support_extra_mobile_data_requests_path %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>search for requests for extra mobile data</li>
        <li>view overall numbers of requests for extra mobile data</li>
      </ul>
    <% end %>

    <% if policy(Support::ServicePerformance).index? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Service performance', support_service_performance_path %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>see the service performance for the device reserve</li>
        <li>see the service performance for the connectivity offers</li>
      </ul>
    <% end %>

    <% if policy(:support).technical_support? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Technical support', support_technical_support_path %>
      </h2>

      <p class="govuk-body">Use this section to see the background queues and jobs running on the service</p>
    <% end %>

    <% if policy(:support).feature_flags? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Feature flags', support_feature_flags_path %>
      </h2>

      <p class="govuk-body">Use this section to see the status of feature flags for the service</p>
    <% end %>

    <% if policy(:gias).index? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'GIAS updates', support_gias_home_path %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add new schools</li>
        <li>close schools</li>
      </ul>
    <% end %>
  </div>
</div>
