<table id="<%= table_id %>" class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-schools-table__column-50">School or college</th>
      <th class="govuk-table__header app-schools-table__column-25">Devices received</th>
      <th class="govuk-table__header app-schools-table__column-25">Who ordered</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% schools.each do |school| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to "#{school.name} (#{school.urn})", responsible_body_devices_school_path(school.urn) %>
          <br>
          <%= school.human_for_school_type %>
        </td>
        <td class="govuk-table__cell">
          <%= render DisplayOrdersComponent.new(school: school) %>
        </td>
        <td class="govuk-table__cell">
          <%= (school.preorder_information || school.responsible_body).who_will_order_devices_label %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
