<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margine-top-4">
    <h3 class="govuk-heading-m"><%= heading %></h3>
    <% if local_assigns[:heading_text] %>
      <p class="govuk-body"><%= heading_text %></p>
    <%- end %>
  </div>
</div>
<table id="<%= table_id %>" class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-schools-table__column-40">School or college</th>
      <% if @show_devices_ordered_column %>
        <th class="govuk-table__header app-schools-table__column-20">Allocation</th>
        <th class="govuk-table__header app-schools-table__column-20">Who will order?</th>
      <% else %>
        <th class="govuk-table__header app-schools-table__column-40">Who will order?</th>
      <% end %>
      <th class="govuk-table__header app-schools-table__column-20"><span class="govuk-visually-hidden">Status</span></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% schools.each do |school| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to "#{school.name} (#{school.urn})", responsible_body_devices_school_path(school.urn) %>
          <br>
          <%= school.human_for_school_type %>
        </td>
        <% if @show_devices_ordered_column %>
          <td class="govuk-table__cell">
            <%= render DisplayDevicesOrderedComponent.new(school: school) %>
          </td>
        <% end %>
        <td class="govuk-table__cell">
          <%= school.who_manages_orders_label %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--nowrap">
          <%= render ConditionalSchoolPreorderStatusTagComponent.new(school: school, viewer: @responsible_body) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
