<%- title = t('page_titles.responsible_body_schools_list') %>
<% content_for :title, title %>
<% content_for :browser_title, title %>

<%- content_for :before_content do %>
  <% breadcrumbs([
                   { "Home" => responsible_body_home_path },
                   { t('page_titles.responsible_body_devices_home') => responsible_body_devices_path },
                   title ,
                 ]) %>
<% end %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl">Get laptops and tablets</span>
  <%= title %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-2"><%= pluralize(@schools.size, 'school') %></h2>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Is this list wrong?
        </span>
      </summary>
      <div class="govuk-details__text">
        <% if @responsible_body.is_a_local_authority? %>
          <p>This is a list of all local authority maintained and special schools.</p>
        <% end %>
        <p>Email <%= ghwt_contact_mailto(subject: 'Problem with list of schools') %>
          and tell us what to change.</p>
      </div>
    </details>
  </div>
</div>

<table id="schools" class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-schools-table__school-column">School and URN</th>
      <th class="govuk-table__header">Allocation</th>
      <th class="govuk-table__header">Who will order?</th>
      <th class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @schools.each do |school| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to "#{school.name} (#{school.urn})", responsible_body_devices_school_path(school.urn) %>
          <br>
          <%= school.type_label %>
        </td>
        <td class="govuk-table__cell">
          <%= school.std_device_allocation&.allocation.to_i %>
        </td>
        <td class="govuk-table__cell">
          <%= (school.preorder_information || school.responsible_body).who_will_order_devices_label %>
        </td>
        <td class="govuk-table__cell govuk-table__cell--nowrap">
          <%= render SchoolPreorderStatusTagComponent.new(school: school) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
