<% content_for :title, t('page_titles.responsible_body.devices.order_devices') %>
<% content_for :before_content, govuk_link_to('Back', responsible_body_devices_school_path(urn: @school.urn), class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= t('page_titles.responsible_body.devices.order_devices') %>
    </h1>

    <%= render DeviceCountComponent.new(school: @school) %>

    <h2 class="govuk-heading-m">How to order</h2>

    <p class="govuk-body">You need to place your orders on a website called TechSource.</p>

    <p class="govuk-body"><%= t('responsible_body.devices.delivery_timeline') %></p>

    <% if @school&.std_device_allocation&.available_devices_count > 149 %>
      <p class="govuk-body">For large orders (more than 150 devices), we’ll call your delivery contact to arrange delivery.</p>
    <% end %>

    <p class="govuk-body">
      If you try to order more than <%= what_to_order_allocation_list(allocations: @school.device_allocations) %> the order will be cancelled.
    </p>

    <p class="govuk-body">Order your devices now. Do not delay.</p>

    <%= render partial: 'shared/start_ordering_on_techsource', locals: { email_address: @current_user.email_address, school_urn: @school.urn } %>
  </div>
</div>