<% content_for :title, t('page_titles.responsible_body.devices.order_devices') %>
<% content_for :before_content, govuk_back_link(text: 'Back', href: responsible_body_devices_school_path(urn: @school.urn)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= t('page_titles.responsible_body.devices.order_devices') %>
    </h1>

    <%= render DeviceCountComponent.new(school: @school) %>

    <h2 class="govuk-heading-m">
      Before you order
    </h2>
    <p class="govuk-body">
      Make sure you’re certain of what devices you need, as amending or cancelling an order will cause delays.
    </p>
    <p class="govuk-body">
      It may help to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= link_to_devices_guidance_subpage 'check device specifications', 'device-specification' %></li>
      <li>
        <% if @responsible_body.trust? %>
          <%= govuk_link_to 'give someone else access so they can place orders', responsible_body_users_path %>
        <% else %>
          <%= govuk_link_to 'give someone else access so they can place orders', responsible_body_users_path %>
        <% end %>
      </li>
    </ul>

    <h2 class="govuk-heading-m">How to order</h2>

    <p class="govuk-body">You need to place your orders on a website called TechSource.</p>

    <p class="govuk-body"><%= t('responsible_body.devices.delivery_timeline') %></p>

    <% if @school&.std_device_allocation&.devices_available_to_order > 149 %>
      <p class="govuk-body">For large orders (more than 150 devices), we’ll call your delivery contact to arrange delivery.</p>
    <% end %>

    <p class="govuk-body">
      If you try to order more than <%= what_to_order_allocation_list(allocations: @school.device_allocations) %> the order will be cancelled.
    </p>

    <%= render partial: 'shared/start_ordering_on_techsource', locals: { email_address: impersonated_or_current_user.email_address, school_urn: @school.urn } %>
  </div>
</div>
