<%- content_for :before_content, govuk_link_to('Back', responsible_body_devices_schools_path, class: 'govuk-back-link') %>
<%- content_for :title, @school.name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @school.name %>
    </h1>

    <%- unless @school.has_std_device_allocation? %>
      <%= render partial: 'shared/school_without_allocation' %>
    <%- end %>

    <%- if @school.preorder_information.orders_managed_centrally? %>
      <%- unless @school.preorder_information.chromebook_information_complete? %>
        <h2 class="govuk-heading-l">Before you can order, we need more information</h2>
        <%= render partial: 'shared/chromebook_information_intro' %>
        <%= render partial: 'shared/chromebook_information_form', locals: {
          legend_text: 'Will the school’s order include Chromebooks?',
          url: responsible_body_devices_school_chromebooks_path(@school.urn),
          form_object: @chromebook_information_form } %>
      <%- end %>
    <%- end %>
  </div>
</div>

<%- if @school.preorder_information.orders_managed_centrally? || !@school.has_std_device_allocation? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-4">School details</h2>
<%- end %>
<div class="govuk-!-padding-top-0 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
  <%= render ResponsibleBody::SchoolDetailsSummaryListComponent.new(school: @school) %>
</div>

<p class="govuk-body">
  <%= govuk_link_to 'Return to list of schools', responsible_body_devices_schools_path %>
  <% if @school.next_school_in_responsible_body_when_sorted_by_name_ascending.present? %>
    or <%= govuk_link_to 'go to the next school', responsible_body_devices_school_path(@school.next_school_in_responsible_body_when_sorted_by_name_ascending.urn) %>
  <% end %>
</p>
