<%- content_for :before_content, govuk_link_to('Back', responsible_body_devices_schools_path, class: 'govuk-back-link') %>
<%- content_for :title, @school.name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= @school.name %>
    </h1>

    <div class="govuk-!-margin-bottom-6 govuk-!-padding-top-0">
      <%= render SchoolDetailsSummaryListComponent.new(school: @school) %>
    </div>

    <%- if @school.preorder_information.needs_chromebook_information? %>
      <%- unless @school.preorder_information.chromebook_information_complete? %>
        <%= render partial: 'responsible_body/devices/shared/chromebook_information_form' %>
      <%- end %>
    <%- end %>

    <p class="govuk-body">
      <%= govuk_link_to 'Return to list of schools', responsible_body_devices_schools_path %>
      <% if @school.next_school_in_responsible_body_when_sorted_by_name_ascending.present? %>
        or <%= govuk_link_to 'go to the next school', responsible_body_devices_school_path(@school.next_school_in_responsible_body_when_sorted_by_name_ascending.urn) %>
      <% end %>
    </p>
  </div>
</div>
