<%- content_for :before_content do %>
  <%= breadcrumbs([{ "Home" => root_path },
                  { "Your account" => responsible_body_home_path },
                  { t('page_titles.responsible_body_devices_home') => responsible_body_devices_path },
                  { t('page_titles.responsible_body_schools_list') => responsible_body_devices_schools_path },
                  @school.name
                 ]) %>
<% end %>

<%- content_for :title, @school.name %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @school.name %>
    </h1>

    <%- if @responsible_body.vcap? %>
      <%- if @school.can_order? || @school.can_order_for_specific_circumstances? %>
        <p class="govuk-body"><%= govuk_link_to 'Order devices now', responsible_body_devices_order_devices_path %></p>
      <%- end %>
    <%- else %>
      <%- if @school.has_allocation?(:laptop) %>
        <%= render AllocationComponentFactory.create_component(@school) %>
      <% else %>
        <%= render partial: 'shared/school_without_allocation' %>
      <%- end %>

      <%- if @school.orders_managed_centrally? %>
        <%- unless @school.chromebook_information_complete? %>
          <h2 class="govuk-heading-l">Before you can order, we need more information</h2>
          <%= render partial: 'shared/chromebook_information_intro' %>
          <%= render partial: 'shared/chromebook_information_form', locals: {
            legend_text: 'Will your order include Chromebooks?',
            url: responsible_body_devices_school_chromebooks_path(@school.urn),
            form_object: @chromebook_information_form } %>
        <%- end %>
      <%- end %>
    <%- end %>
  </div>
</div>

<div class="govuk-!-padding-top-0 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
  <%= render ResponsibleBody::SchoolDetailsSummaryListComponent.new(school: @school, viewer: @responsible_body) %>
</div>

<p class="govuk-body">
  <%= govuk_link_to 'Return to list of schools and colleges', responsible_body_devices_schools_path %>
  <%= render ResponsibleBody::NextSchoolLinkComponent.new(current_school: @school, recordsets: @schools.values) %>
</p>
