<%- content_for :before_content do %>
  <%= govuk_back_link(text: 'Back', href: new_mno_extra_mobile_data_requests_csv_update_path) %>
<% end %>
<% content_for :title, t('page_titles.weve_processed_your_csv') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.weve_processed_your_csv') %>
    </h1>

    <p class="govuk-body">We found <%= @summary.requests_count_text %> in your CSV:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= @summary.unchanged_count_text %></li>
      <li><%= @summary.errors_count_text %></li>
      <li><%= @summary.updated_count_text %></li>
    </ul>
  </div>
</div>

<% if @summary.has_errors? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-4"><%= @summary.errors_section_heading_text %></h2>
  <div class="govuk-form-group--error">
    <p class="govuk-error-message">Fix the errors in your CSV and try uploading again</p>

    <table class="govuk-table requests-table" id="errors-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">ID</th>
          <th class="govuk-table__header">Account holder</th>
          <th class="govuk-table__header">Mobile number</th>
          <th class="govuk-table__header">Error</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @summary.errors_display_limited.each do |row| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= row.id %></td>
            <td class="govuk-table__cell"><%= row.account_holder_name %></td>
            <td class="govuk-table__cell"><%= row.device_phone_number %></td>
            <td class="govuk-table__cell">
              <span class="govuk-error-message govuk-!-margin-bottom-0"><%= row.error_message %></span>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
<%- end %>

<% if @summary.has_updated_requests? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-4"><%= @summary.updated_section_heading_text %></h2>
  <table class="govuk-table requests-table" id="updates-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">ID</th>
        <th class="govuk-table__header">Account holder</th>
        <th class="govuk-table__header">Mobile number</th>
        <th class="govuk-table__header">New status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @summary.updated_display_limited.each do |row| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><%= row.id %></td>
          <td class="govuk-table__cell"><%= row.account_holder_name %></td>
          <td class="govuk-table__cell"><%= row.device_phone_number %></td>
          <td class="govuk-table__cell"><%= render ExtraMobileDataRequestStatusComponent.new(status: row.status) %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>
<%- end %>
<%= govuk_button_link_to('Finish', mno_extra_mobile_data_requests_path) %>
