<%- title = t('page_titles.support.allocation.adjust_allocations_for_many_schools') %>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= breadcrumbs([
    { 'Support home' => support_home_path },
    { t('page_titles.support.schools.home') => support_schools_path },
    title,
  ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= form_for @form, url: adjust_allocations_for_many_schools_support_schools_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_area :urns_and_allocations,
                            label: { text: 'URN and new allocation', size: 'm' },
                            hint: { text: 'One URN and one new allocation value per line, separated by commas or whitespace. For example ‘654321, 50’' },
                            rows: 15 %>

      <%= f.govuk_submit 'Adjust allocations' %>
    <%- end %>

  </div>
</div>
