<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Time</th>
      <th scope="col" class="govuk-table__header">Email</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% email_audits.each do |email_audit| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-quarter"><%= email_audit.created_at.to_s(:govuk_date_and_time) %></td>
        <td class="govuk-table__cell govuk-!-padding-top-0">
          <%= govuk_summary_list do |component| %>
            <%= component.slot(
                  :row,
                  key: 'Recipient',
                  value: "#{email_audit.user.full_name} <#{email_audit.email_address}>",
                ) %>
            <%= component.slot(
                  :row,
                  key: 'Message type',
                  value: email_audit.message_type.humanize,
                ) %>
            <%= component.slot(
                  :row,
                  key: 'Template',
                  value: govuk_link_to('View on GOV.UK Notify', govuk_notify_template_deeplink_url(email_audit.template)),
                ) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
