<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Time</th>
      <th scope="col" class="govuk-table__header">Email</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% email_audits.each do |email_audit| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-!-width-one-quarter"><%= email_audit.created_at.to_s(:govuk_date_and_time) %></td>
        <td class="govuk-table__cell govuk-!-padding-top-0">
          <%= govuk_summary_list(actions: false) do |component| %>
            <%= component.row do |row|
              row.key(text: 'Recipient')
              row.value(text: "#{email_audit.user.full_name} <#{email_audit.email_address}>")
            end %>
            <%= component.row do |row|
              row.key(text: 'Message type')
              row.value(text: email_audit.message_type.humanize)
            end %>
            <%= component.row do |row|
              row.key(text: 'Template')
              row.value(text: govuk_link_to('View on GOV.UK Notify', govuk_notify_template_deeplink_url(email_audit.template)))
            end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
