<%- if is_rb %>
  <%- path_request_extra_mobile_data = responsible_body_internet_mobile_extra_data_guidance_path %>
  <%- path_view_extra_mobile_date = responsible_body_internet_mobile_extra_data_requests_path %>
  <%- path_huawei_router_password = responsible_body_internet_router_password_path %>
<%- else %>
  <%- path_request_extra_mobile_data = extra_data_guidance_internet_mobile_school_path(@school)  %>
  <%- path_view_extra_mobile_date = extra_data_requests_internet_mobile_school_path(@school) %>
  <%- path_huawei_router_password = router_password_internet_school_path %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      Extra mobile data
    </h2>

    <p class="govuk-body">
      This scheme temporarily increases data allowances for mobile phone users on certain networks, if they do not have access to broadband at home.
    </p>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Request extra data for mobile devices', path_request_extra_mobile_data %>
      </li>
      <li>
        <%= govuk_link_to 'View your requests', path_view_extra_mobile_date %>
      </li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      4G wireless routers
    </h2>
    <p class="govuk-body">
      You can request a router for disadvantaged pupils and students who do not
      have access to the internet at home, and cannot get a mobile data increase.
    </p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to 'What you need to know to request 4G wireless routers', how_to_request_4g_wireless_routers_path %>
      </li>
      <li>
        <%= govuk_link_to 'Request a 4G wireless router', 'https://forms.gle/LE1hi2FAKdedUvCz6' %>
      </li>
      <li>
        <%= govuk_link_to 'How to reset your router', '/devices/reset_your_wireless_router' %>
      </li>
    </ul>
    <h3 class="govuk-heading-s">
      Reset your Huawei router
    </h3>
    <p class="govuk-body">
      If you do not reset your Huawei router before 16 July 2021, you will not be able
      to use it after 31 July 2021.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to 'See your Huawei router password', path_huawei_router_password %>
    </p>
  </div>
</div>
