<% is_rb ||= false %>

<h2 class="govuk-heading-m">1. Check who is eligible for extra mobile data</h2>

<p class="govuk-body">You can request extra mobile data for disadvantaged children who:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have no broadband connection at home</li>
  <li>cannot afford additional data</li>
</ul>

<p class="govuk-body"><%= MobileNetwork.excluded_fe_networks.pluck(:brand).to_sentence(last_word_connector: ' and ') %> will not accept requests for students over the age of 16.</p>

<p class="govuk-body">One of the following must also apply. They are children:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>in years 3 to 13 and whose face-to-face education is disrupted</li>
  <li>who are <%= govuk_link_to 'clinically extremely vulnerable', 'https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19', target: '_blank', rel: 'noopener noreferrer' %> and need to shield on current official advice (this could be from a doctor or hospital consultant)</li>
  <li>who live in a household that’s been advised to shield because a family member is clinically extremely vulnerable</li>
  <li>who cannot attend school – even though theirs is open – because restrictions prevent it</li>
</ul>

<h2 class="govuk-heading-m">2. Use our guide to gather information</h2>

<p class="govuk-body">
  You will need to collect names, telephone numbers and network details from households. They also need to understand how we’ll use their personal information.
</p>
<p class="govuk-body">Use our guide to tell people what’s available and collect the information we&nbsp;need:</p>
<p class="govuk-body">
  <%= govuk_link_to 'Guide to collecting mobile information from families', guide_to_collecting_mobile_information_path %>
</p>

<% if is_rb %>
  <p class="govuk-body">Share this guide with schools if they will be gathering the information.</p>
<% end %>

<h2 class="govuk-heading-m">3. Enter the information we need</h2>

<% if is_rb %>
  <p class="govuk-body">Schools gathering this information should <%= govuk_link_to 'use our template spreadsheet', '/collecting-mobile-information/extra-mobile-data-requests-template.xlsx' %>. You can upload their completed spreadsheet to the service.</p>
<% end %>

<p class="govuk-body">Once you submit mobile numbers and network details through our service, we’ll request extra data. How much data someone gets will depend on their network.</p>

<p class="govuk-body">
  <%= govuk_button_link_to 'New request',
    is_rb ? responsible_body_internet_mobile_extra_data_requests_type_path : extra_data_requests_type_internet_mobile_school_path(@school)
  %>
</p>

<h2 class="govuk-heading-m">4. Check your requests</h2>

<p class="govuk-body">Check whether a network has received and approved your requests.</p>

<p class="govuk-body">
  <%= govuk_link_to 'Check your requests',
   is_rb ? responsible_body_internet_mobile_extra_data_requests_path : extra_data_requests_internet_mobile_school_path(@school) %>
</p>
