<% if object %>
  <% Array(object).each do |obj| %>
    <h2 class="govuk-heading-m">Current state</h2>
    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Field</th>
              <th scope="col" class="govuk-table__header">Value</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% obj.attributes.each do |(field, value)| %>
              <% if value.present? %>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><%= field %></td>
                  <td class="govuk-table__cell"><%= value %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <% if object.respond_to?(:versions) && object.versions.any? %>
    <h2 class="govuk-heading-m">History</h2>
    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Time</th>
              <th scope="col" class="govuk-table__header">Field</th>
              <th scope="col" class="govuk-table__header">From</th>
              <th scope="col" class="govuk-table__header">To</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% (changesets = object.versions.map(&:changeset)).each do |original_changeset| %>
              <% (changeset = original_changeset.except(:updated_at, :created_at)).each_with_index do |(field, changes), index| %>
                <tr class="govuk-table__row">
                  <% if index.zero? %>
                    <td class="govuk-table__cell" rowspan="<%= changeset.size %>"><%= original_changeset[:updated_at][1].to_s(:govuk_date_and_time) %></td>
                  <% end %>

                  <td class="govuk-table__cell"><%= field %></td>

                  <% changes.each do |change| %>
                    <td class="govuk-table__cell">
                      <span class="govuk-tag govuk-tag--<%= cycle('grey', 'green') %>">
                        <% if change.present? %>
                          <%= change %>
                        <% else %>
                          Blank
                        <% end %>
                      </span>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="govuk-body">History not available.</p>
<% end %>
