<% content_for :title, t('page_titles.support.devices.schools.results') %>
<% content_for :before_content, govuk_link_to('Back', search_support_schools_path, class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= pluralize(@search_form.result_count, 'organisation') %> found
    </h1>

    <% if @search_form.missing_identifiers.any? %>
      <div class="govuk-form-group--error">
        <p class="govuk-body">
          No organisations found for <%= pluralize(@search_form.missing_count, 'identifier') %>:
        </p>

        <ul class="govuk-list">
          <% @search_form.missing_identifiers.each do |identifier| %>
            <li><%= identifier %></li>
          <%- end %>
        </ul>
      </div>
    <%- end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @schools.present? %>
      <table class="govuk-table schools">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Responsible body</th>
            <th scope="col" class="govuk-table__header">Who is ordering</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <% @schools.each do |school| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <%= govuk_link_to "#{school.name} (#{school.urn})", support_school_path(urn: school.urn) %>
                <br />
                <%= school.human_for_school_type %>
              </td>
              <td class="govuk-table__cell">
                <%= render SchoolPreorderStatusTagComponent.new(school: school) %>
              </td>
              <td class="govuk-table__cell">
                <% if school.responsible_body %>
                  <%= govuk_link_to school.responsible_body.name, support_responsible_body_path(id: school.responsible_body_id) %>
                <% end %>
              </td>
              <td class="govuk-table__cell">
                <%= school&.preorder_information&.who_will_order_devices_label || 'Not decided' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><%= govuk_link_to 'Try another search', search_support_schools_path, classes: 'govuk-!-margin-top-8' %></p>
  </div>
  <div class="govuk-grid-column-one-third">
      <%- if @schools.present? %>
        <%= govuk_button_to('Download allocations as CSV',
                            results_support_schools_path(format: :csv),
                            params: {
                              school_search_form: {
                                urns: params[:school_search_form][:urns],
                                responsible_body_id: params[:school_search_form][:responsible_body_id],
                                order_state: params[:school_search_form][:order_state],
                                search_type: params[:school_search_form][:search_type],
                                name_or_identifier: params[:school_search_form][:name_or_identifier],
                                identifier: params[:school_search_form][:identifier],
                                identifiers: params[:school_search_form][:identifiers],
                              },
                            },
                            method: :post,
                            form_class: 'govuk-!-display-inline-block search-results__new-search')  %>
      <%- end %>
  </div>
</div>
