<%- title = t('page_titles.support.devices.schools.search') %>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= breadcrumbs([{ "Home" => root_path },
    { 'Support home' => support_home_path },
    { t('page_titles.support.schools.home') => support_schools_path },
    title,
  ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @search_form, url: results_support_schools_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset(:search_type, legend: { size: 'xl', text: title, tag: 'h1' }) do %>
        <%= f.govuk_radio_button :search_type, :single, label: { text: 'Search by name, URN or UKPRN' } do %>
          <%= f.govuk_text_field :name_or_identifier,
                                 hint: { text: 'Enter part of a school name, URN or UKPRN' },
                                 data: {
                                   autocomplete_school: true,
                                   autocomplete_school_path: '/support/schools/results',
                                   autocomplete_school_hidden_field: 'school_search_form_identifier',
                                 } %>
          <%= f.hidden_field :identifier %>
        <% end %>
        <%= f.govuk_radio_button :search_type, :multiple, label: { text: 'Search for multiple schools by URN or UKPRN' } do %>
          <%= f.govuk_text_area :identifiers,
                                label: { text: 'URNs or UKPRNs', size: 'm' },
                                hint: {
                                  text: 'Search by entering URNs or UKPRNs. Use one line per identifier.'
                                },
                                rows: 10 %>
        <% end %>
        <%= f.govuk_radio_button :search_type, :responsible_body_or_order_state, label: { text: 'Search by responsible body or order state' } do %>
          <%= f.govuk_collection_select   :responsible_body_id,
                                          @search_form.select_responsible_body_options,
                                          :id,
                                          :name,
                                          label: { text: 'Responsible body' } %>

          <%= f.govuk_collection_select   :order_state,
                                          @search_form.select_order_state_options,
                                          :value,
                                          :label,
                                          label: { text: 'Order state' } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Search' %>
    <% end %>
  </div>
</div>
