<%- title = t('page_titles.support.devices.schools.search') %>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= breadcrumbs([
    { 'Support home' => support_home_path },
    { t('page_titles.support.schools') => support_schools_path },
    title,
  ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= form_with model: @search_form, url: results_support_schools_path do |f| %>
      <%= f.govuk_text_area :identifiers,
                            label: { text: 'URNs or UKPRNs', size: 'm' },
                            hint: {
                              text: 'Search by entering URNs or UKPRNs. Use one line per identifier.'
                            },
                            rows: 10 %>

      <%= f.govuk_collection_select   :responsible_body_id,
                                      @search_form.select_responsible_body_options,
                                      :id,
                                      :name,
                                      label: { text: 'Responsible body' } %>

      <%= f.govuk_collection_select   :order_state,
                                      @search_form.select_order_state_options,
                                      :value,
                                      :label,
                                      label: { text: 'Order state' } %>
      <%= f.govuk_submit 'Search' %>
    <% end %>
  </div>
</div>
