<div class="app-card app-card__order">
  <% if show_availability? %>
    <h2 class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-2">
      <%= availablility_string.html_safe -%>
    </h2>
  <% end %>

  <div class="govuk-panel__body govuk-!-font-size-24">
    <% if custom_ordered_string %>
      <%= custom_ordered_string %>
    <% else %>
      <%= state_prefix %> <%= ordered_string -%>
    <% end %>
  </div>

  <% if show_action && action.present? %>
    <%= govuk_button_link_to action.first[0], action.first[1], class: 'govuk-!-margin-top-4 govuk-!-margin-bottom-1' %>
  <% end %>
</div>
