<% if FeatureFlag.active?(:christmas_banner) || (FeatureFlag.active?(:increased_allocations_banner) && @school.increased_allocations_feature_flag?) %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= render NotificationBanner.new(title: 'Important') do |banner| %>
        <% if FeatureFlag.active?(:increased_allocations_banner) && @school.increased_allocations_feature_flag? %>
          <p class="govuk-notification-banner__heading">
            <%= t('banners.increased_allocations.school.heading', count: @school&.std_device_allocation&.allocation) %>
          </p>
          <p class="govuk-body">
            <%= t('banners.increased_allocations.school.content') %>
          </p>
        <% end %>

        <% if FeatureFlag.active?(:christmas_banner) && FeatureFlag.active?(:increased_allocations_banner) && @school.increased_allocations_feature_flag? %>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <% end %>

        <% if FeatureFlag.active?(:christmas_banner) %>
          <p class="govuk-notification-banner__heading"><%= t('banners.christmas.heading') %></p>
          <p class="govuk-body">
            <%= t('banners.christmas.content') %>
          </p>
          <p class="govuk-body">
            <%= t('banners.christmas.content_2') %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
