<% content_for :title, "Add #{@school.name} - Support" %>
<%- content_for :before_content do %>
  <%= breadcrumbs([{ "Home" => root_path },
    { 'Support home' => support_home_path },
    { t('page_titles.gias_updates') => support_gias_home_path },
    { t('page_titles.gias_schools_to_add') => support_gias_schools_to_add_index_path },
    @school.name,
  ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.responsible_body_name %></span>
      <%= @school.name %>
    </h1>

    <% if @school.responsible_body.blank? %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This school cannot be added because the
          responsible body '<%= @school.responsible_body_name %>' cannot be found.
        </strong>
      </div>
    <% end %>

    <%= form_for @school, url: support_gias_schools_to_add_path(urn: @school.urn) do |f| %>
      <%= f.govuk_error_summary %>
      <%= render Support::Gias::SchoolDetailsComponent.new(school: @school) %>
      <% if @school.responsible_body.present? %>
        <%= f.govuk_submit 'Add school' %>
      <%- end %>
    <%- end %>
  </div>
</div>
