<tr class="govuk-table__row" id="api_token-<%= api_token.id %>">
  <td class="govuk-table__cell">
    <%= api_token.name %>
  </td>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= api_token.token %>
  </td>
  <td class="govuk-table__cell">
    <%= l(api_token.created_at, format: :long) %>
  </td>
  <td class="govuk-table__cell">
    <%= render(GovukComponent::Tag.new(text: api_token.translated_enum_value(:status), colour: api_token_status_colour(api_token.status))) %>
  </td>
  <td class="govuk-table__cell govuk-form-group display-child-forms-inline govuk-table__cell--nowrap">
    <%- if api_token.active? %>
      <%= govuk_button_to 'Revoke', computacenter_api_token_path(api_token), method: :patch, params: { api_token: { status: 'revoked' } }, class: "govuk-button--secondary", form_class: 'govuk-form-group' %>
    <%- else %>
      <%= govuk_button_to 'Activate', computacenter_api_token_path(api_token), method: :patch, params: { api_token: { status: 'active' } }, class: "govuk-button--secondary", form_class: 'govuk-form-group' %>
    <%- end %>
    <%= govuk_button_to 'Delete', computacenter_api_token_path(api_token), method: :delete, class: "govuk-button--warning", form_class: 'govuk-form-group' %>

  </td>
</tr>
