<%- content_for :title, t('page_titles.api_tokens') %>
<% content_for :before_content, govuk_back_link(text: 'Back', href: computacenter_home_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Computacenter</span>
      Your API tokens
    </h1>
  </div>
</div>

<%- if @api_tokens.empty? %>
  <p class="govuk-body-l">
    You don’t have any API tokens yet
  </p>
<%- else %>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">
          Name
        </th>
        <th class="govuk-table__header govuk-table__header--numeric">
          Token
        </th>
        <th class="govuk-table__header">
          Created
        </th>
        <th class="govuk-table__header">
          Status
        </th>
        <th class="govuk-table__header">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%= render partial: 'api_token', collection: @api_tokens %>
    </tbody>
  </table>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l"><%= t('.form_header') %></h2>
    <%= form_for @api_token, url: computacenter_api_tokens_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :name, label: { size: 'm', text: t('.name') }, hint: { text: t('.name_hint') } %>
      <%= f.govuk_submit t('.create') %>
    <%- end %>
  </div>
</div>
