<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  'Your account' ,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @responsible_body.name %> </span>
      Your account
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <%= render AllocationComponentFactory.create_component(@responsible_body) %>
    <%= render partial: 'shared/summary_reset_devices' if @has_ordered %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Order history', techsource_start_path %>
    </h2>

    <p class="govuk-body">Sign in to TechSource to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>view your past orders</li>
      <li>view the serial numbers of your devices</li>
    </ul>

    <%- if @responsible_body.has_connectivity_feature_flags? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to t('page_titles.signed_in_internet_access') , responsible_body_internet_path %>
      </h2>

      <%= render 'shared/get_internet_access_section_description' %>
    <%- end %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.responsible_body_users_index'), responsible_body_users_path %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give other people access to this service</li>
      <li>set which accounts can use TechSource to order</li>
      <li>manage the schools that you can order for.</li>
    </ul>

    <%= render partial: 'summary_order_history' if @has_ordered %>
  </div>
</div>
