<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @responsible_body.name %></span>
      <%= t('page_titles.responsible_body_home') %>
    </h1>

    <%- if @responsible_body.in_devices_pilot? %>
      <% if FeatureFlag.active?(:reduced_allocations) %>
        <div class="govuk-warning-text govuk-!-margin-bottom-2">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <span class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <h2 class="govuk-heading-m govuk-!-font-weight-bold">We reduced device allocations because of delays in our supply chain</h2>
            <p class="govuk-body">With fewer devices available we’re targeting support at disadvantaged children in key exam years (10 and 11). Primary schools cannot currently place orders for laptops and tablets.</p>
            <p class="govuk-body">
              <%= govuk_link_to('More about changes to allocations', responsible_body_devices_reduced_allocations_path) %>
            </p>
          </span>
        </div>
      <% end %>

      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Get laptops and tablets', responsible_body_devices_path %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add school contacts</li>
        <li>tell us who will place orders for schools</li>
        <li>give schools access to the services they need</li>
      </ul>
    <%- end %>

    <%- if @responsible_body.in_connectivity_pilot? %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Get the internet pilots', responsible_body_internet_path %>
      </h2>

      <p class="govuk-body">
        These pilot schemes have come to an end. We are now:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>working with mobile companies to prepare for the next phase of the increasing mobile data scheme</li>
        <li>closing the BT wifi hotspot pilot</li>
      </ul>
    <%- end %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <% if @responsible_body.is_a_trust? %>
        <%= govuk_link_to t('page_titles.responsible_body_trust_users_index'), responsible_body_users_path %>
      <% else %>
        <%= govuk_link_to t('page_titles.responsible_body_users_index', rb_type: @responsible_body.humanized_type), responsible_body_users_path %>
      <% end %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give others in your <%= @responsible_body.humanized_type %> access to this service</li>
      <li>set up accounts for your <%= @responsible_body.humanized_type %> to order devices</li>
    </ul>
  </div>
</div>
