<% content_for :devices_service, true %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('landing_pages.get_support_guides.title'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('landing_pages.get_support_guides.title' ) %>
    </h1>

    <p class="govuk-body">
      Find out how to safely set up laptops and tablets for pupils in <span class="app-no-wrap">years 3 to 13</span>,
      students in further education, and care leavers. You can also find out how to manage devices you’ve already received.
    </p>

    <h2 class="govuk-heading-m">
      How to set up laptops and tablets
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <%= render partial: 'page_link_and_description', collection: @setup_guide_pages, as: :page %>
    </ul>

    <h2 class="govuk-heading-m">
      Replacing faulty devices
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <%= render partial: 'page_link_and_description', collection: @replace_faulty_devices_pages, as: :page %>
    </ul>

    <h2 class="govuk-heading-m">
      Resetting and safeguarding devices
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <%= render partial: 'page_link_and_description', collection: @manage_devices_pages, as: :page %>
    </ul>

    <h2 class="govuk-heading-m">
      About the devices provided by DfE
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <%= render partial: 'page_link_and_description', collection: @before_you_order_pages, as: :page %>
    </ul>
  </div>
</div>
