<% content_for :devices_service, true %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('landing_pages.get_support_guides.title'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('landing_pages.get_support_guides.title' ) %>
    </h1>

    <p class="govuk-body-l">
      Order, setup and mantain laptops and tablets for disadvantaged pupils and students when <span class="app-no-wrap">face-to-face</span> education is disrupted.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      Before your order
    </h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= link_to_devices_guidance_subpage 'Who is eligible for devices and why the DfE is providing them', 'about_the_offer' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'How devices are allocated', 'device_allocations' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'What devices are available', 'device_specification' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'Who owns the devices and how to distribute them', 'device_distribution_and_ownership' %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      How to order
    </h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href='/sign-in' class='govuk-link govuk-body app-sign-in-call-out'>Sign in to order devices</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Managing devices
    </h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to 'TechSource support portal', 'https://computacenterprod.service-now.com/dfe' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'Safeguarding devices', 'safeguarding-for-device-users' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'How to setup and maintain Windows laptops and tablets', 'preparing_microsoft_windows_laptops_and_tablets' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'How to setup and maintain Google Chromebooks', 'preparing_chromebooks' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'How to setup and maintain Apple iPads', 'preparing_ipads' %>
      </li>
      <li>
        <%= link_to_devices_guidance_subpage 'Replace a faulty device', 'replace_a_faulty-device' %>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      Software and digital tools
    </h2>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= link_to_devices_guidance_subpage 'How to set up a Google domain for care leavers', 'google_domain_for_care_leavers_and_children_with_social_worker' %>
      </li>
    </ul>
  </div>
</div>

