<%- title = t('page_titles.responsible_body_devices_tell_us') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <div class="govuk-breadcrumbs ">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Home', responsible_body_home_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <%= title %>
      </li>
    </ol>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <h2 class="govuk-heading-m">Decide if schools can order their own devices</h2>

    <p class="govuk-body">You can allow schools to order their own devices. Or you can manage some, or all, orders centrally.</p>

    <% if @responsible_body.is_a_trust? %>
      <p class="govuk-body">If you let schools place orders you’ll need to nominate someone in each school for us to contact.</p>
      <p class="govuk-body">Each contact will be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage who can order devices</li>
        <li>order devices themselves</li>
      </ul>
    <% else %>
      <p class="govuk-body">We recommend letting schools place orders because it’s the quickest way to get help to those who need it.</p>
      <p class="govuk-body">You’ll need to nominate someone in each school for us to contact.</p>

      <p class="govuk-body">Each contact will be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage who can order devices</li>
        <li>order devices themselves</li>
      </ul>

      <h2 class="govuk-heading-m">Help schools prepare for disruption</h2>

      <p class="govuk-body">Give us contact details as soon as you can so we can help schools prepare to deliver remote education if they need to.</p>
    <% end %>

    <h2 class="govuk-heading-m">Each school has their own allocation</h2>

    <p class="govuk-body">Every school has its own provisional allocation of laptops and tablets. Allocations are based on free school meal data and estimates of how many devices a school has already received.</p>

    <p class="govuk-body">Numbers will be reassessed at the time of ordering based on availability and the extent of coronavirus restrictions.</p>

    <h2 class="govuk-heading-m">A school’s full allocation can only be ordered when local coronavirus restrictions are confirmed</h2>

    <p class="govuk-body">We’ll contact people as soon as they’re able to place orders.</p>

    <p class="govuk-body">Schools can get devices earlier for specific circumstances. They can request devices at any time for disadvantaged children from any year group who:</p>

    <%= render partial: 'shared/devices/who_to_request_for_list' %>

    <div class="govuk-!-margin-top-6">
      <%= govuk_button_link_to 'Continue', responsible_body_devices_who_will_order_edit_path %>
    </div>
  </div>
</div>
