<%- content_for :before_content do %>
  <div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to t('page_titles.responsible_body_home'), responsible_body_home_path, class: 'govuk-breadcrumbs__link' %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= t('page_titles.download_bt_hotspots') %>
    </li>
  </ol>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.download_bt_hotspots') %>
    </h1>

    <p class="govuk-body-l">You’ve been allocated <%= @responsible_body.bt_wifi_vouchers.count %> log-ins to pass on to schools and families.</p>

    <p class="govuk-body">A log-in is a username and password. BT calls these ‘vouchers’.</p>

    <p class="govuk-body">Your allocation was calculated based on school census data and free school meal (FSM) data. The Department for Education has a total of <%= number_with_delimiter(BTWifiVoucher::INITIAL_TOTAL_ALLOCATION) %> BT log-ins to distribute across England.</p>

    <p class="govuk-body">Log-ins will be downloaded as a spreadsheet (CSV file).</p>

    <%= govuk_link_to 'Download log-ins', responsible_body_bt_wifi_vouchers_path(format: 'csv'), class: 'govuk-button' %>
  </div>
</div>
