<% content_for :before_content, govuk_back_link(text: 'Back', href: responsible_body_devices_school_path(@school.urn)) %>
<% content_for :title, title_with_error_prefix(t('page_titles.change_who_will_order'), @form.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @form, url: responsible_body_devices_school_change_who_will_order_path(@school.urn), method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <%- # this hidden field prevents ActionController::ParameterMissing errors
          # if the user clicks submit without selecting anything,
          # and therefore we don't actually get any params %>
      <%= f.hidden_field :placeholder, value: '' %>
      <%= f.govuk_collection_radio_buttons  :who_will_order,
                                            change_who_will_order_devices_options,
                                            :id,
                                            :label,
                                            legend: -> do %>
                                              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                                <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">
                                                  <span class="govuk-caption-xl"><%= @school.name %></span>
                                                  <%= t('page_titles.change_who_will_order') %>
                                                </h1>
                                              </legend>
                                            <% end %>
      <%= f.govuk_submit %>
    <%- end %>
  </div>
</div>
