<% content_for :title, t('page_titles.new_user') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.new_user') %>
    </h1>
    <%= form_for @user do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_text_field :full_name, required: true, label: { text: 'Your full name', size: 'm' } %>
      <%= f.govuk_email_field :email_address, required: true, label: { text: 'Email address', size: 'm' }, hint_text: 'Use your work address' %>

      <h2 class="govuk-heading-m">You won’t need a password to use this service</h2>
      <p class="govuk-body">
        Instead, you’ll sign in using your email address. Each time you sign in, we’ll send you a link to get back in.
      </p>

      <%= f.govuk_submit 'Create account' %>
    <%- end %>
  </div>
</div>
