<% content_for :browser_title, "#{@title} – #{t('page_titles.guide_to_collecting_mobile_information')}" %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { t('page_titles.internet_access') => connectivity_home_path },
                  { t('page_titles.about_increasing_mobile_data_short') => about_increasing_mobile_data_path },
                  t('page_titles.guide_to_collecting_mobile_information'),
                 ]) %>
<% end %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.guide_to_collecting_mobile_information') %>
</h1>

<h2 class="govuk-heading-s">Contents</h2>
<ol class="govuk-list govuk-list--number">
  <% @contents.each do |item| %>
    <li>
      <% if item[:active] %>
        <%= item[:text] %>
      <% else %>
        <%= govuk_link_to item[:text], item[:path] %>
      <% end %>
    </li>
  <% end %>
</ol>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l"><%= index %>. <%= @title %></h2>
