<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 1 } %>

    <p class="govuk-body">This guide is for anyone who needs to use the Department for Education’s service to request a mobile data increase for disadvantaged children and young people.</p>

    <p class="govuk-body">It helps you tell people what’s available and collect the information you need to submit.</p>

    <h3 class="govuk-heading-m" id="who-can-get-help">Who can get help</h3>

    <p class="govuk-body">
      This scheme is open to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>school pupils in years 3 to 11</li>
      <li>students in years 12 to 13 and further education</li>
    </ul>

    <p class="govuk-body">
      It’s only available to those who:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <%= render partial: 'shared/eligibility_points_across_bt_wifi_and_mno_offers' %>
      <li>have access to a mobile device that uses a participating network</li>
      <li>are facing disruption to their face-to-face education</li>
    </ul>

    <p class="govuk-body">
      Some providers have extra conditions and not all of them support requests for students in years 12 and 13, or for students in further education. <%= govuk_link_to 'Check the network offers',guide_to_collecting_mobile_information_telling_about_offer_path(anchor: 'network-offers') %> before making a request.
    </p>
    
    <p class="govuk-body">
      If your request does not meet all of these criteria, you may be able to <%= govuk_link_to 'request a 4G wireless router', how_to_request_4g_wireless_routers_path %> instead. Find out more about <%= govuk_link_to 'choosing help with internet access', choosing_help_with_internet_access_path %>.
    </p>

    <h3 class="govuk-heading-m" id="what-information-youll-need-to-collect">What information you’ll need to collect</h3>

    <p class="govuk-body">If you’re confident that a child meets all of the criteria listed above, you’ll need to collect the following information to request extra data for them:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the account holder’s name</li>
      <li>their mobile number (a number beginning with ‘07’)</li>
      <li>their mobile network</li>
      <li>whether they pay monthly or pay as they go</li>
    </ul>

    <p class="govuk-body">You also need to <%= govuk_link_to 'explain our privacy policy', guide_to_collecting_mobile_information_privacy_path %> to the account holder.</p>

    <h3 class="govuk-heading-m" id="submit-information">Submit the information you collect</h3>

    <p class="govuk-body">You can submit information by using:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the ‘New request’ form on the service, making requests one at a time</li>
      <li>an <%= govuk_link_to 'Excel Spreadsheet', '/collecting-mobile-information/extra-mobile-data-requests-template.xlsx' %>, which allows you to make multiple requests once you upload to the service</li>
    </ul>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
