<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 1 } %>

    <p class="govuk-body">This guide is for anyone who needs to explain the Department for Education’s pilot offer to increase mobile data allowances for children and young people.</p>

    <p class="govuk-body">It helps you tell people what’s available and collect the information you need to submit.</p>

    <h3 class="govuk-heading-m" id="who-can-get-help">Who can get help</h3>

    <p class="govuk-body">
      This scheme is open to children and young people who:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <%= render partial: 'shared/eligibility_points_across_bt_wifi_and_mno_offers' %>
      <li>have access to a mobile device that uses a participating network</li>
      <li>are facing disruption to their face-to-face education, or have been advised not to attend school</li>
    </ul>

    <h3 class="govuk-heading-m" id="what-information-youll-need-to-collect">What information you’ll need to collect</h3>

    <p class="govuk-body">To request extra mobile data, you will need to collect the following information:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the account holder’s name</li>
      <li>their mobile number (a number beginning with ‘07’)</li>
      <li>their mobile network</li>
      <li>whether they pay monthly or pay as they go</li>
    </ul>

    <p class="govuk-body">You also need to <%= govuk_link_to 'explain our privacy policy', guide_to_collecting_mobile_information_privacy_path %> to the account holder.</p>

    <h3 class="govuk-heading-m" id="how-to-save-information">How to save information</h3>

    <p class="govuk-body">You can use the following template spreadsheet to save the information you’re collecting:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= govuk_link_to 'Excel Spreadsheet', '/collecting-mobile-information/extra-mobile-data-requests-template.xlsx' %></li>
    </ul>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
