<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 3 } %>

    <p class="govuk-body">What data someone will get depends on their mobile network. Some networks cannot offer data to Pay-as-you-go (PAYG) customers.</p>

    <p class="govuk-body">You should tell them:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>if there is an offer they can use (or if there is no offer available)</li>
      <li>the details of that offer</li>
      <li>that they’ll receive a text message when their free data has been activated</li>
      <li>when their free data will end</li>
      <li>that this data can be used when tethering a mobile phone to another device for internet access</li>
    </ul>

     <div class="govuk-inset-text">
       The offers below are dependent on children and young people meeting all of the criteria <%= govuk_link_to 'listed in our guidance', guide_to_collecting_mobile_information_path %>. Requests will be unsuccessful if these criteria are not met.</p>
     </div>

    <h3 class="govuk-heading-m" id="network-offers">Network offers</h3>

    <%= render GovukComponent::Accordion.new(id: 'network-providers') do |component| %>
      <%- participating_mobile_networks.each do |mno| %>
        <%= component.slot(:section, title: mno.brand) do %>
          <%- begin %>
            <%= render partial: mno_offer_details_partial(mno.pathsafe_brand) %>
          <%- rescue ActionView::MissingTemplate => e %>
            <%- logger.warn "Couldn't find view template for mobile_network #{mno.id} - #{mno.brand}" %>
          <%- end %>
        <% end %>
      <%- end %>
    <%- end %>
    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
