<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 3 } %>

    <p class="govuk-body">What data someone will get depends on their mobile network. Some networks can’t offer data to Pay-as-you-go (PAYG) customers.</p>

    <p class="govuk-body">You should tell them:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>if there is an offer they can use (or if there is no offer available)</li>
      <li>the details of that offer</li>
      <li>that they’ll receive a text message when their free data has been activated</li>
      <li>when their free data will end</li>
      <li>that this data can be used when tethering a mobile phone to another device for internet access</li>
    </ul>

    <h3 class="govuk-heading-m" id="network-offers">Network offers</h3>

    <%= render GovukComponent::Accordion.new(id: 'network-providers') do |component| %>
      <%= component.slot(:section, title: 'EE') do %>
        <p class="govuk-body">Be aware that until the end of January, it may take EE some time to process requests.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will get 20GB of additional data per month until 31 July 2021.</li>
          <li>The offer is available to both Pay Monthly and Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>EE will process no more than 60,000 requests across all schools. If they reach this limit, they will not accept further requests.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'Smarty') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will get unlimited data until 31 July 2021.</li>
          <li>The offer is available to both Pay Monthly and Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>Smarty will aim to process the request within 14 days.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'Three') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will get unlimited data until 31 July 2021.</li>
          <li>The offer is available to both Pay Monthly and Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>Three will aim to process the request within 14 days.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'Virgin Mobile') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will get 20GB of additional data per month until 31 July 2021.</li>
          <li>The offer is only available to Pay Monthly customers identified as needing this support. It’s not available to Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>Virgin Mobile will aim to process the request within 14 days.</li>
          <li>Virgin Mobile will process no more than 1750 requests across all schools. If they reach this limit, they will not accept further requests.</li>
          <li>Wi-Fi hotspots are open to all existing customers, including those on Pay-as-you-go. Customers on Pay-as-you-go will need to have a minimum of £5 credit. Instructions to download the app and find their nearest hotspot can be found by going to <%= govuk_link_to 'www.virginmedia.com/wifiapp', 'https://www.virginmedia.com/shop/virgin-media-connect-app-mobile' %>.</li>
        </ul>
      <% end %>
    <% end %>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
