<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents' %>

    <p class="govuk-body">What data someone will get depends on their mobile network. Some networks can’t offer data to Pay-as-you-go (PAYG) customers.</p>

    <p class="govuk-body">You should tell them:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>if there is an offer they can use (or if there is no offer available)</li>
      <li>the details of that offer</li>
      <li>that they’ll receive a text message when their free data has been activated</li>
      <li>when their free data will end</li>
      <li>that this data can be used when tethering a mobile phone to another device for internet access</li>
    </ul>

    <h3 class="govuk-heading-m" id="offer-details">Offer details</h3>

    <%= render GovukComponent::Accordion.new(id: 'network-providers') do |component| %>
      <%= component.slot(:section, title: 'EE') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will need to have been an EE customer for the last 3 months.</li>
          <li>The recipient will get 20GB of additional data per month until 31 December.</li>
          <li>The offer is available to both Pay Monthly and Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>EE will aim to process the request within 14 days.</li>
          <li>EE will support the first 60,000 eligible customers who are identified via this scheme.</li>
        </ul>

        <h5 class="govuk-heading-s">For EE Pay Monthly customers</h5>
        <ul class="govuk-list govuk-list--bullet">
          <li>This is available for customers with an active Pay Monthly plan.</li>
          <li>This offer is only available once.</li>
          <li>Customers must have a 4G device.</li>
          <li>Some plans, like Watch, or Home router plans, won’t work with this offer.</li>
        </ul>

        <h5 class="govuk-heading-s">For EE Pay-as-you-go customers</h5>
        <ul class="govuk-list govuk-list--bullet">
          <li>This offer is only available once.</li>
          <li>Customers must have a 4G device.</li>
          <li>Customers must have had an EE PayG account for the last 3 months, with a 30 day £10 + Pack.</li>
          <li>If the pack is removed or becomes inactive on the customer’s account, this extra data will be removed.</li>
          <li>Some plans, including old ones and mobile broadband ones, won’t work with this offer.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'O2') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>This offer is available for Pay Monthly customers only.</li>
          <li>The recipient will need to have been an O2 customer for the last 6 months.</li>
          <li>The recipient will get 20GB additional data per month until December 2020.</li>
          <li>O2 will support the first 7500 eligible customers who are identified via this scheme.</li>
          <li>O2 will aim to process the request within one month.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'Smarty') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will get unlimited data until 31 December 2020.</li>
          <li>The offer is available to both Pay Monthly and Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>Smarty will aim to process the request within 14 days.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'Tesco Mobile') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>This offer is available for Pay Monthly customers only.</li>
          <li>The recipient will get 20GB additional data per month until December 2020.</li>
          <li>Tesco will support the first 1000 eligible customers who are identified via this scheme.</li>
          <li>Tesco will aim to process the request within 14 days.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'Three') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will get unlimited data until 31 December 2020.</li>
          <li>The offer is available to both Pay Monthly and Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>Three will aim to process the request within 14 days.</li>
        </ul>
      <% end %>

      <%= component.slot(:section, title: 'Virgin Mobile') do %>
        <ul class="govuk-list govuk-list--bullet">
          <li>The recipient will get 20GB of additional data per month until 31 December 2020.</li>
          <li>The offer is only available to Pay Monthly customers identified as needing this support. It’s not available to Pay-as-you-go customers.</li>
          <li>A text message will be sent to the nominated device once the additional data has been added to the account.</li>
          <li>Virgin Mobile will aim to process the request within 14 days.</li>
          <li>Wi-Fi hotspots are open to all existing customers, including those on Pay-as-you-go. Customers on Pay-as-you-go will need to have a minimum of £5 credit. Instructions to download the app and find their nearest hotspot can be found by going to <%= govuk_link_to 'www.virginmedia.com/wifiapp', 'https://www.virginmedia.com/shop/virgin-media-connect-app-mobile' %>.</li>
        </ul>
      <% end %>
    <% end %>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
