<% content_for :browser_title, "#{@title} – #{t('page_titles.guide_for_distributing_bt_vouchers')}" %>

<%- content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to t('page_titles.about_bt_wifi'), about_bt_wifi_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <%= t('page_titles.guide_for_distributing_bt_vouchers') %>
      </li>
    </ol>
  </div>
<% end %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.guide_for_distributing_bt_vouchers') %>
</h1>

<h2 class="govuk-heading-s">Contents</h2>
<ol class="govuk-list govuk-list--bullet">
  <% @contents.each do |item| %>
    <li>
      <% if item[:active] %>
        <%= item[:text] %>
      <% else %>
        <%= govuk_link_to item[:text], item[:path] %>
      <% end %>
    </li>
  <% end %>
</ol>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 class="govuk-heading-l"><%= @title %></h2>
