<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents' %>

    <p class="govuk-body">Once you’ve identified who can benefit from the vouchers, you should give them out individually, along with <%= govuk_link_to 'BT’s user guide', "/bt-wifi/user-guide.pdf" %> and <%= govuk_link_to 'the Department for Education’s privacy policy', bt_wifi_privacy_notice_path %>.</p>

    <p class="govuk-body">We also recommend <%= govuk_link_to 'sharing a video guide on using a BT voucher to connect to the internet', 'https://www.youtube.com/watch?v=8aKCF-UesmM' %>. Both guides have information on how to get technical help.</p>

    <h3 class="govuk-heading-m">If you want more vouchers</h3>

    <p class="govuk-body">We understand there will be high demand for vouchers. However, as we have a limited supply, we cannot offer more.</p>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
