<%-
  submit_label = local_assigns[:submit_label] || 'Save'
  legend_text = local_assigns[:legend_text] || nil
  scope = local_assigns[:scope] || 'activerecord.attributes.preorder_information.will_need_chromebooks'
  legend = legend_text ? { text: legend_text } : { text: 'Will the school need Chromebooks?', hidden: true }
%>
<%= form_for local_assigns[:form_object], url: local_assigns[:url], method: :patch do |f| %>
  <%= f.govuk_error_summary %>

  <%= f.govuk_radio_buttons_fieldset( :will_need_chromebooks, legend: legend ) do %>
    <%= f.govuk_radio_button  :will_need_chromebooks,
                              'yes',
                              label: { text: t(:yes, scope: scope) } do %>
      <%= f.govuk_text_field  :school_or_rb_domain,
                              label: { text: chromebook_domain_label(local_assigns[:form_object].school), size: 's' },
                              hint: { text: "For example, ‘school.co.uk’" } %>
      <%= f.govuk_text_field  :recovery_email_address,
                              label: { text: "Recovery email address", size: 's' },
                              hint: { text: "This email will be on a different domain to the school domain, for example a Gmail or Yahoo email account." } %>
      <p class="govuk-body govuk-!-margin-top-4">
        If you need help finding these details, speak to the people you usually contact for IT support.
      </p>
    <%- end %>
    <%= f.govuk_radio_button  :will_need_chromebooks,
                              'no',
                              label: { text: t(:no, scope: scope) } %>
    <% if local_assigns[:show_i_dont_know_option] %>
      <%= f.govuk_radio_button :will_need_chromebooks,
                              'i_dont_know',
                              label: { text: t(:i_dont_know, scope: scope) } do %>
        <p class="govuk-body">You cannot place an order until you tell us whether you’ll be ordering Chromebooks or not</p>
      <%- end %>
    <%- end %>
  <%- end %>
  <%= f.govuk_submit submit_label %>
<%- end %>
