<h3 class="govuk-heading-s">Using TechSource for the first time</h3>

<p class="govuk-body">Use these details to sign in:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>User ID: <%= local_assigns[:email_address] %></li>
  <li>Password: Use the ‘Forgotten password?’ link to set a password the first time you sign in</li>
</ul>

<% if local_assigns[:school_urn] %>
<p class="govuk-body">
  When you place an order you’ll need the unique reference number (URN) for <%= @school.name %>. It is: <%= local_assigns[:school_urn] %>
</p>
<% end %>

<% if (current_user.is_responsible_body_user? && @responsible_body.coms_device_pool&.devices_available_to_order?) || (current_user.is_school_user? && @school.coms_device_allocation&.devices_available_to_order?) %>
  <h3 class="govuk-heading-s">How to order 4G routers in Techsource</h3>

  <ol class="govuk-list govuk-list--number">
    <li>
      Click on the magnifying glass icon in the top right corner of the screen.
    </li>
    <li>
      Type ‘4G wireless routers’ into the search box and press ‘enter’ on your keyboard.
    </li>
    <li>
      Enter the number of routers you want to order (up to <%if current_user.is_responsible_body_user? %><%= @responsible_body.coms_device_pool&.devices_available_to_order %><% else %><%= @school.coms_device_allocation&.allocation %><% end %>) and click ‘Add to basket’.
    </li>
  </ol>
<% end %>

<%= govuk_start_button_link_to('Start now', techsource_start_path, class: 'govuk-!-margin-bottom-3, govuk-!-margin-top-7', target: '_blank') -%>

<p class="govuk-body-s">on TechSource in a new window</p>
