<tr class="govuk-table__row" id="request-<%= extra_mobile_data_request.id %>">
  <td class="govuk-table__cell">
    <%= form.govuk_check_box :extra_mobile_data_request_ids,
                             extra_mobile_data_request.id,
                             multiple: true,
                             label: { text: "Select #{extra_mobile_data_request.account_holder_name} request",
                                      hidden: true } %>
  </td>
  <td class="govuk-table__cell">
    <%= extra_mobile_data_request.account_holder_name %>
  </td>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= extra_mobile_data_request.device_phone_number %>
  </td>
  <td class="govuk-table__cell">
    <time datetime="<%=extra_mobile_data_request.created_at.to_s %>"><%= extra_mobile_data_request.created_at.to_s(:govuk_date_short) %></time>
  </td>
  <td class="govuk-table__cell" class="request-status">
    <%= render ExtraMobileDataRequestStatusComponent.new(status: extra_mobile_data_request.status, viewer: :mno_user) %>
  </td>
  <td class="govuk-table__cell">
    <%- if extra_mobile_data_request.in_end_state? %>
      <%- # nothing to show %>
    <%- else %>
      <%= govuk_link_to (extra_mobile_data_request.in_a_problem_state? ? 'Change problem' : 'Report a problem'), mno_extra_mobile_data_request_report_problem_path(extra_mobile_data_request) %>
    <%- end %>
  </td>
</tr>
