<table class="govuk-table" data-module="app-select-all-none">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">
        <div class="non-js-only">
          Select
          <br />
          <%= govuk_link_to 'all', mno_extra_mobile_data_requests_path(select: 'all', phone_numbers: phone_numbers) %>
          |
          <%= govuk_link_to 'none', mno_extra_mobile_data_requests_path(select: 'none', phone_numbers: phone_numbers) %>
        </div>
        <div class="js-only govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="all-rows" name="all-rows" type="checkbox" value="all-rows">
          <label class="govuk-label govuk-label--s govuk-checkboxes__label" for="all-rows"></label>
        </div>
      </th>
      <th class="govuk-table__header">
        <%= sortable_extra_mobile_data_requests_table_header('Account holder', :account_holder_name) %>
      </th>
      <th class="govuk-table__header govuk-table__header--numeric">
        <%= sortable_extra_mobile_data_requests_table_header('Mobile number', :mobile_number) %>
      </th>
      <th class="govuk-table__header">
        <%= sortable_extra_mobile_data_requests_table_header('Requested', :requested) %>
      </th>
      <th class="govuk-table__header">
        <%= sortable_extra_mobile_data_requests_table_header('Status', :status) %>
      </th>
      <th class="govuk-table__header">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <%= render partial: 'extra_mobile_data_request', collection: requests, locals: {form: form} %>
  </tbody>
  <tfoot class="govuk-table__footer">
    <td class="govuk-table__footer" colspan="7">
    </td>
  </tfoot>
</table>
<div class="govuk-body govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group govuk-!-margin-bottom-0 display-child-forms-inline">
      <label for="mno-extra-mobile-data-requests-form-status-field" class="govuk-label">Set status of selected to</label>
      <%= form.govuk_collection_select :status, statuses, :value, :label, label: {text: ''} %>
      <input type="hidden" name="phone_numbers", value="<%= phone_numbers %>"/>
      <%= form.govuk_submit 'Update' %>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <%= render partial: 'shared/pagination', locals: { pagination: pagination } %>
  </div>
</div>
