<tr class="govuk-table__row" id="request-<%= request.id %>">
  <td class="govuk-table__cell">
    <div class="govuk-form-group govuk-!-margin-bottom-0">
      <%= form.govuk_collection_check_boxes :request_ids,
      [OpenStruct.new(id: request.id, label: '')],
      :id,
      :label,
      small: false,
      classes: 'all-none-item' %>
    </div>
  </td>
  <td class="govuk-table__cell">
    <%= request.account_holder_name %>
  </td>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= request.device_phone_number %>
  </td>
  <td class="govuk-table__cell">
    <%= l(request.created_at, format: :short) %>
  </td>
  <td class="govuk-table__cell" class="request-status">
    <span class="govuk-tag <%= extra_mobile_data_request_status_class(request.status) %> request-status-<%= request.status %>">
      <%= request.translated_enum_value(:status) %>
    </span>
  </td>
  <td class="govuk-table__cell">
    <%= govuk_link_to 'Report a problem', mno_extra_mobile_data_requests_report_problem_path(request) %>
  </td>
</tr>
