<tr class="govuk-table__row" id="request-<%= extra_mobile_data_request.id %>">
  <td class="govuk-table__cell">
    <div class="govuk-form-group govuk-!-margin-bottom-0">
      <%= form.govuk_collection_check_boxes :extra_mobile_data_request_ids,
      [OpenStruct.new(id: extra_mobile_data_request.id, label: '')],
      :id,
      :label,
      small: false,
      classes: 'all-none-item' %>
    </div>
  </td>
  <td class="govuk-table__cell">
    <%= extra_mobile_data_request.account_holder_name %>
  </td>
  <td class="govuk-table__cell govuk-table__cell--numeric">
    <%= extra_mobile_data_request.device_phone_number %>
  </td>
  <td class="govuk-table__cell">
    <%= l(extra_mobile_data_request.created_at, format: :short) %>
  </td>
  <td class="govuk-table__cell" class="request-status">
    <span class="govuk-tag <%= extra_mobile_data_request_status_class(extra_mobile_data_request.status) %> request-status-<%= extra_mobile_data_request.status %>">
      <%- if extra_mobile_data_request.queried? %>
        <%= t( extra_mobile_data_request.problem, scope: %i[activerecord attributes extra_mobile_data_request problem_tags] ) %>
      <%- else %>
        <%= extra_mobile_data_request.translated_enum_value(:status) %>
      <%- end %>
    </span>
  </td>
  <td class="govuk-table__cell">
    <%- if extra_mobile_data_request.complete? || extra_mobile_data_request.cancelled? %>
      <%- # nothing to show %>
    <%- else %>
      <%= govuk_link_to (extra_mobile_data_request.queried? ? 'Change problem' : 'Report a problem'), mno_extra_mobile_data_request_report_problem_path(extra_mobile_data_request) %>
    <%- end %>
  </td>
</tr>
