<% content_for :title, t('page_titles.requests_for_extra_mobile_data') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @mobile_network.brand %></span>
      Requests for extra mobile&nbsp;data
    </h1>
  </div>
</div>

<% if @extra_mobile_data_requests.empty? %>
  <p class="govuk-body">
    (There are no matching requests at the moment)
  </p>
<% else %>
  <p class="govuk-body"><%= govuk_link_to t('page_titles.extra_mobile_data_requests_csv_update'), new_mno_extra_mobile_data_requests_csv_update_path %></p>
  <%= govuk_button_link_to 'Download requests as CSV', sort: params[:sort], dir: params[:dir], format: :csv %>

  <div class="app-card govuk-!-margin-bottom-4 govuk-!-margin-top-2">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= form_for @find_requests_form, as: '', url: mno_extra_mobile_data_requests_path, method: :get do |f| %>
          <%= f.govuk_error_summary %>

          <%= f.govuk_fieldset(legend: { text: 'Find requests by telephone number', size: 'l'}) do %>
            <%= f.govuk_text_area :phone_numbers,
              hint: { text: 'One per line' },
              label: { text: 'Telephone numbers', size: 's' },
              rows: 5 %>
            <%= f.govuk_submit 'Find requests', classes: 'govuk-!-margin-bottom-0' %>
          <%- end %>
        <%- end %>
      </div>
    </div>
  </div>

  <h2 class="govuk-heading-l govuk-!-margin-top-6">
    All requests (<%= number_with_delimiter(@pagination.count, delimiter: ',') %>)
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form_for @extra_mobile_data_requests_form, url: bulk_update_mno_extra_mobile_data_requests_path, method: :put do |f| %>
        <%= render partial: 'extra_mobile_data_requests_bulk_table', locals: { form: f, requests: @extra_mobile_data_requests, phone_numbers: @find_requests_form.phone_numbers, statuses: @statuses, pagination: @pagination } %>
      <% end %>
    </div>
  </div>
<% end %>
