<% content_for :title, t('page_titles.report_a_problem') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= @extra_mobile_data_request.account_holder_name %> - <%= @extra_mobile_data_request.device_phone_number %>
      </span>
      Report a problem
    </h1>
    <%= form_for @extra_mobile_data_request, url: mno_extra_mobile_data_request_path(@extra_mobile_data_request) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :problem,
      ExtraMobileDataRequest.translated_enum_values(:problems),
      :value,
      :label %>

      <%= f.govuk_submit 'Report problem' %>
    <%- end %>
  </div>

</div>
