<%- content_for :before_content, govuk_back_link(text: 'Back', href: mno_extra_mobile_data_requests_path) %>
<%- content_for :title, t('page_titles.report_a_problem') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">
        <%= @extra_mobile_data_request.account_holder_name %> – <%= @extra_mobile_data_request.device_phone_number %>
      </span>
      <%= t('page_titles.report_a_problem') %>
    </h1>
    <%= form_for @extra_mobile_data_request, url: mno_extra_mobile_data_request_path(@extra_mobile_data_request) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :status, legend: nil do %>
        <% @specific_options.each do |option| %>
          <%= f.govuk_radio_button :status, option.value, label: { text: option.label }, link_errors: true %>
        <% end %>
        <%= f.govuk_radio_divider %>
        <% @other_option.each do |option| %>
          <%= f.govuk_radio_button :status, option.value, label: { text: option.label }, link_errors: true %>
        <% end %>
      <% end %>
      <%= f.govuk_submit 'Report problem' %>
    <%- end %>
  </div>

</div>
