%h1.govuk-heading-l
  Your requests


- if @recipients.empty?
  %p.govuk-body
    (There are no matching requests at the moment)
- else
  = form_for @recipients_form, url: bulk_update_mno_recipients_path, method: :put do |f|
    %table.govuk-table
      %caption.govuk-table__caption
        Requests for data-cap-raises for #{@mobile_network.brand} customers
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header.govuk-table__header--numeric
            ID
          %th.govuk-table__header.govuk-table__header--numeric
            Mobile number
          %th.govuk-table__header
            Recipient name
          %th.govuk-table__header
            Account holder
          %th.govuk-table__header
            Requested
          %th.govuk-table__header
            Status
          %th.govuk-table__header
            Select
            = link_to 'all', {select: 'all'}
            \/
            = link_to 'none', {select: ''}
          %th.govuk-table__header
      %tbody.govuk-table__body
        = render partial: 'recipient', collection: @recipients, locals: {form: f}
