<h1 class="govuk-heading-l">
  Your requests
</h1>
<% if @recipients.empty? %>
  <p class="govuk-body">
    (There are no matching requests at the moment)
  </p>
<% else %>
  <%= form_for @recipients_form, url: bulk_update_mno_recipients_path, method: :put do |f| %>
    <div class="pagination govuk-body">
      <%= pagy_info(@pagination).html_safe %><br />
      <%- if @pagination.pages > 1 %>
        <%= pagy_nav(@pagination).html_safe %>
      <%- end %>
    </div>
    <table class="govuk-table">
      <caption class="govuk-table__caption">
        Requests for data-cap-raises for <%= @mobile_network.brand %> customers
      </caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-table__header--numeric">
            <%= sortable_table_header( 'ID', :id ) %>
          </th>
          <th class="govuk-table__header govuk-table__header--numeric">
            <%= sortable_table_header( 'Mobile number', :mobile_number ) %>
          </th>
          <th class="govuk-table__header">
            <%= sortable_table_header( 'Recipient name', :full_name ) %>
          </th>
          <th class="govuk-table__header">
            Account holder
          </th>
          <th class="govuk-table__header">
            <%= sortable_table_header( 'Requested', :requested ) %>
          </th>
          <th class="govuk-table__header">
            <%= sortable_table_header( 'Status', :status ) %>
          </th>
          <th class="govuk-table__header">
            Select
            <br />
            <%= link_to 'all', {select: 'all'} %>
            |
            <%= link_to 'none', {select: 'none'} %>
          </th>
          <th class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= render partial: 'recipient', collection: @recipients, locals: {form: f} %>
      </tbody>
      <tfoot class="govuk-table__footer">
        <td class="govuk-table__footer" colspan="4"></td>
        <td class="govuk-table__footer govuk-table__cell--numeric" colspan="2">
          <div class="govuk-form-group">
            <label for="mno-recipients-form-status-field" class="govuk-label">Set selected to</label>
          </div>
        </td>
        <td class="govuk-table__footer">
          <%= f.govuk_collection_select :status, @statuses, :value, :label, label: {text: ''} %>

        </td>
        <td class="govuk-table__footer">
          <%= f.govuk_submit 'Update' %>
        </td>
      </tfoot>

    </table>
  <% end %>
<% end %>
