<% content_for :title, t('page_titles.requests_for_extra_mobile_data') %>

<h1 class="govuk-heading-xl">
  <span class="govuk-caption-xl"><%= @mobile_network.brand %></span>
  <%= t('page_titles.requests_for_extra_mobile_data') %>
</h1>
<% if @recipients.empty? %>
  <p class="govuk-body">
    (There are no matching requests at the moment)
  </p>
<% else %>
  <%= govuk_button_link_to 'Download requests as CSV', sort: params[:sort], dir: params[:dir], format: :csv %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <%= form_for @recipients_form, url: bulk_update_mno_recipients_path, method: :put do |f| %>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">
                <div id="all-none-links" class="non-js-only">
                  Select
                  <br />
                  <%= govuk_link_to 'all', {select: 'all'} %>
                  |
                  <%= govuk_link_to 'none', {select: 'none'} %>
                </div>
                <div id="all-none-checkbox" class="js-only govuk-checkboxes__item" data-controls="all-none-item">
                  <input class="govuk-checkboxes__input" id="all-rows" name="all-rows" type="checkbox" value="all-rows">
                  <label class="govuk-label govuk-label--s govuk-checkboxes__label" for="all-rows"></label>
                </div>
              </th>
              <th class="govuk-table__header">
                <%= sortable_table_header( 'Account holder', :account_holder_name ) %>
              </th>
              <th class="govuk-table__header govuk-table__header--numeric">
                <%= sortable_table_header( 'Mobile number', :mobile_number ) %>
              </th>
              <th class="govuk-table__header">
                <%= sortable_table_header( 'Requested', :requested ) %>
              </th>
              <th class="govuk-table__header">
                <%= sortable_table_header( 'Status', :status ) %>
              </th>
              <th class="govuk-table__header">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <%= render partial: 'recipient', collection: @recipients, locals: {form: f} %>
          </tbody>
          <tfoot class="govuk-table__footer">
            <td class="govuk-table__footer" colspan="7">
            </td>
          </tfoot>
        </table>
        <div class="govuk-body govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group govuk-!-margin-bottom-0 display-child-forms-inline">
              <label for="mno-recipients-form-status-field" class="govuk-label">Set status of selected to</label>
              <%= f.govuk_collection_select :status, @statuses, :value, :label, label: {text: ''} %>
              <%= f.govuk_submit 'Update' %>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
