<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render ResponsibleBody::PooledDeviceCountComponent.new(responsible_body: @responsible_body) %>
    <%= render partial: 'shared/stock_levels' %>

    <h2 class="govuk-heading-m">
      Before you order
    </h2>
    <p class="govuk-body">
      Make sure you’re certain of what devices you need, as amending or cancelling an order will cause delays.
    </p>
    <p class="govuk-body">
      It may help to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= link_to_devices_guidance_subpage 'check device specifications', 'device-specification' %></li>
      <li>
        <% if @responsible_body.trust? %>
          <%= govuk_link_to 'give someone else access so they can place orders', responsible_body_users_path %>
        <% else %>
          <%= govuk_link_to 'give someone else access so they can place orders', responsible_body_users_path %>
        <% end %>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      How to order
    </h2>
    <p class="govuk-body">
      You need to place orders on a website called TechSource.
    </p>
    <p class="govuk-body">
      If you try to order more than <%= what_to_order_allocation_list(allocations: @responsible_body.virtual_cap_pools) %> the order will be cancelled.
    </p>
    <% if @responsible_body&.std_device_pool&.devices_available_to_order > 149 %>
      <p class="govuk-body">For large orders (more than 150 devices), we’ll call your delivery contact to arrange delivery.</p>
    <% end %>
    <p class="govuk-body">
      <%= t('responsible_body.devices.delivery_timeline') %>
    </p>
    <h3 class="govuk-heading-s">
      Combining allocations into one order
    </h3>
    <p class="govuk-body">
      You can combine allocations for all your schools and colleges, and have all devices delivered to one location. If you want devices delivered directly to different locations, place a separate order for each delivery address.
    </p>
    <p class="govuk-body">
      When using TechSource, you will be asked for a URN. Use any URN for one of the schools or colleges you manage.
    </p>

    <%- if @responsible_body.has_multiple_chromebook_domains_in_managed_schools? %>
      <h3 class="govuk-heading-s">Chromebooks</h3>
      <p class="govuk-body">
        If you place an order for Chromebooks, TechSource will contact you about which Google Workspace for Education Fundamentals (formerly G Suite for Education) domains you want to use.
      </p>
    <%- end %>

    <%= render partial: 'shared/start_ordering_on_techsource', locals: { email_address: impersonated_or_current_user.email_address } %>
  </div>
</div>
