

<table id="schools" class="govuk-table">
  <caption class="govuk-table__caption">
    <span class="govuk-heading-m">Schools you need to place orders for</span>
  </caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header app-schools-table__school-column">School</th>
      <th class="govuk-table__header">What to order</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @schools.each do |school| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to(school.name, responsible_body_devices_school_path(school.urn)) %> (<%= school.urn %>)
        </td>
        <td class="govuk-table__cell">
          <%= school.what_to_order_text %>
        </td>
      </tr>
    <%- end %>
  </tbody>
</table>

<h2 class="govuk-heading-m">Help signing in to TechSource</h2>
<p class="govuk-body">You need to place orders on a website called TechSource, which is run by Computacenter.</p>

<p class="govuk-body">Your 'User ID' is your email address: <%= @user.email_address %></p>

<p class="govuk-body">If you do not remember your password use the 'Forgotten password?' link to reset it.</p>

<%= govuk_start_button_link_to('Start now', '#', class: 'govuk-!-margin-bottom-3 govuk-!-margin-top-4', target: '_blank') -%>

<p class="govuk-body-s">on TechSource in a new window</p>
