<%= render partial: 'heading' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= t('page_titles.order_devices.title') %></span>
      <%= t('page_titles.order_devices.you_cannot_order_yet') %>
    </h1>

    <% if School.show_temporary_cannot_order_yet_banner? %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          As we won’t be able to deliver devices before half term, we've temporarily closed orders.
        </strong>
      </div>
    <% end %>

    <% school_count = @responsible_body.schools.that_are_centrally_managed.count %>
    <p class="govuk-body">None of the <%= govuk_link_to "#{school_count} #{'school'.pluralize(school_count)} you will be placing orders for", responsible_body_devices_schools_path %> <%= 'has'.pluralize(school_count) %> local coronavirus restrictions.</p>

    <p class="govuk-body">You should only order the devices a school needs. You can do this when local coronavirus restrictions are confirmed.</p>

    <p class="govuk-body">We’ll contact you as soon as you’re able to place orders.</p>
    <% if @responsible_body.has_schools_that_can_order_devices_now? %>
      <%= render partial: 'some_schools_can_order' %>
    <%- end %>

    <%= render partial: 'get_devices_early' %>
  </div>
</div>
