<%= render partial: 'heading' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.order_devices.title') %>
    </h1>

    <%= render Computacenter::TechSourceMaintenanceBannerComponent.new(Computacenter::TechSource.new) %>
    <%= render partial: 'shared/half_term_delivery_suspension' %>
  </div>
</div>

<% if @responsible_body.vcap_feature_flag? %>
  <%= render partial: 'place_order_for_virtual_pool' %>
<% else %>
  <%= render partial: 'place_order_for_schools' %>
<% end %>
