<%= render partial: 'heading' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= t('page_titles.order_devices.title') %></span>
      <%= t('page_titles.order_devices.order_for_specific_circumstances') %>
    </h1>

    <%= render Computacenter::TechSourceMaintenanceBannerComponent.new(Computacenter::TechSource.new) %>

    <p class="govuk-body">Now you’ve contacted us to request devices for specific circumstances, you can go ahead with your order.</p>

    <p class="govuk-body"><%= t('responsible_body.devices.delivery_timeline') %></p>
  </div>
</div>
<%= render partial: 'place_order_for_schools' %>
