<%= render partial: 'heading' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= t('page_titles.order_devices.title') %></span>
      <%= t('page_titles.order_devices.order_for_specific_circumstances') %>
    </h1>

    <p class="govuk-body">Now you’ve emailed us to <%= govuk_link_to 'request devices for specific circumstances', '#' %>, you can go ahead with your order.</p>

    <p class="govuk-body">You cannot order a school’s full allocation yet because there are no local coronavirus restrictions. The number of devices you can currently place for each school is shown.</p>

    <p class="govuk-body">Place an order for each school.</p>
    <p class="govuk-body">Devices will arrive the next working day if you order before 4pm.</p>
  </div>
</div>
<%= render partial: 'place_order_for_schools' %>
