<% content_for :title, t('page_titles.about_increasing_mobile_data') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.about_increasing_mobile_data') %>
    </h1>

    <p class="govuk-body">We’re running a pilot scheme to temporarily increase data allowances for children and young people on certain mobile networks. This is so they can continue their remote education and maintain contact with social care services without the account holder incurring extra data charges.</p>

    <h2 class="govuk-heading-l" id="who-can-get-help">Who can get help</h2>

    <p class="govuk-body">This support is available for children from early years up to 16, and care leavers up to 25 if they:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>don’t have access to a <a href="https://www.ofcom.org.uk/phones-telecoms-and-internet/advice-for-consumers/advice/broadband-speeds/broadband-basics" class="govuk-link">fixed broadband connection</a></li>
      <li>cannot afford the additional data needed to access social care services or educational resources while learning at home</li>
      <li><%= govuk_link_to 'cannot access a BT hotspot', about_bt_wifi_path %></li>
      <li>are an existing customer of a participating mobile network operator (for some operators, they’ll need to be on a pay monthly contract)</li>
    </ul>

    <h2 class="govuk-heading-l" id="how-it-will-work">How it works</h2>

    <p class="govuk-body">We’ve asked a small number of local authorities and academy trusts to work with schools to identify who needs this help, and gather names and numbers from families who want to take part.</p>

    <p class="govuk-body">If you’re a school involved with this work, have a look at <%= govuk_link_to 'our guide to collecting information', guide_to_collecting_mobile_information_path %>.</p>

    <p class="govuk-body">If you’re a local authority or trust that has been asked to submit information, you can do this via our <%= govuk_link_to 'secure service', start_path %>. The deadline for getting back to us is 30 September 2020.</p>

    <p class="govuk-body">Once you’ve submitted the information we’ve asked for, we’ll pass this on to participating mobile network operators and they’ll then increase data allowances on nominated devices.</p>

    <p class="govuk-body">If a child or young person doesn’t have their own phone, we can arrange to increase the data allowance on a family member’s phone, as long as they’re in the same household.</p>

    <h2 class="govuk-heading-l" id="whos-on-board">Who’s on board</h2>

    <p class="govuk-body">Not all mobile network operators are on board yet. The following providers are taking part in the pilot:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>EE</li>
      <li>Three</li>
      <li>Virgin Mobile</li>
      <li>Smarty</li>
      <li>Tesco Mobile</li>
      <li>O2</li>
    </ul>

    <h2 class="govuk-heading-l" id="who-well-share-data-with">Who we’ll share data with</h2>

    <p class="govuk-body">We’ll only share information with mobile network operators for the purpose of increasing data allowances. See our <%= govuk_link_to 'privacy notice', increasing_mobile_data_privacy_notice_path %> for more details.</p>

    <h2 class="govuk-heading-l" id="our-plans-for-national-rollout">Our plans for national rollout</h2>

    <p class="govuk-body">We’re working hard to get all operators on board for this project. We’ll monitor the pilot and use the feedback we get to improve the service.</p>

    <h2 class="govuk-heading-l" class="govuk-heading-l">
      If you have questions
    </h2>
    <p class="govuk-body">
      If you have any questions, email <%= ghwt_contact_mailto(subject: 'Increasing%20data%20allowances') %> using the subject line ‘Increasing data allowances’.
    </p>
  </div>
</div>
