<% content_for :title, t('page_titles.about_increasing_mobile_data') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => guidance_page_path },
                  { t('page_titles.internet_access') => connectivity_home_path },
                  t('page_titles.about_increasing_mobile_data_short'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.about_increasing_mobile_data') %>
    </h1>

    <p class="govuk-body">
      This scheme temporarily increases data allowances for mobile phone users on certain networks. This is so that children and young people can access remote education if their face-to-face education is disrupted.
    </p>

    <h2 class="govuk-heading-l">Who can get help</h2>

    <p class="govuk-body">Schools, trusts and local authorities can request mobile data increases for children and young people who meet all 3 of these criteria:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>do not have fixed broadband at home</li>
      <li>cannot afford additional data for their devices </li>
      <li>are experiencing disruption to their face-to-face education</li>
    </ul>

    <p class="govuk-body">Children with access to a mobile phone on one of the following networks might be able to benefit:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>EE</li>
      <li>O2</li>
      <li>Sky Mobile</li>
      <li>SMARTY</li>
      <li>Tesco Mobile</li>
      <li>Three</li>
      <li>Virgin Mobile</li>
      <li>Vodafone</li>
    </ul>

    <p class="govuk-body">Other providers may join the scheme at a later stage.</p>

    <h2 class="govuk-heading-l">When help is available</h2>

    <p class="govuk-body">Schools, trusts and local authorities can request mobile data increases when schools report a closure or have pupils self-isolating.</p>

    <p class="govuk-body">They can also make requests for children who cannot attend school face-to-face because:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>they’re clinically extremely vulnerable</li>
      <li>restrictions prevent them from going to school</li>
    </ul>

    <h2 class="govuk-heading-l">How to request a mobile data increase</h2>

    <p class="govuk-body">For each request, we need to know:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>the name of the account holder</li>
      <li>the number of the mobile device</li>
      <li>the mobile network of that device (for example Three)</li>
    </ul>

    <p class="govuk-body">There’s an <%= govuk_link_to 'online guide to help gather mobile information', guide_to_collecting_mobile_information_path %>.</p>

    <p class="govuk-body">Schools, trusts and local authorities need to <%= govuk_link_to 'submit mobile information through our online service', start_path %>. Each provider will vary in how quickly they process requests.</p>

    <p class="govuk-body">Once a network provider has processed a data increase, they’ll send a text message to the account holder. It’s also possible to check the status of requests through the online service.</p>

    <h2 class="govuk-heading-l">
      Another option for increasing internet access
    </h2>

    <p class="govuk-body">If increasing mobile data isn’t a suitable option for some children, schools can also <%= govuk_link_to 'request 4G wireless routers', how_to_request_4g_wireless_routers_path %>. Find out more about <%= govuk_link_to 'choosing help with internet access', choosing_help_with_internet_access_path %>.</p>

    <h2 class="govuk-heading-l">
      If you have questions
    </h2>

    <p class="govuk-body">
      If you have any questions, email <a class="govuk-link" href="mailto:COVID.TECHNOLOGY@education.gov.uk">COVID.TECHNOLOGY@education.gov.uk</a> using the subject line ‘Increasing data allowances’.
    </p>
  </div>
</div>
