<% content_for :title, t('page_titles.bt_wifi_privacy_notice') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.bt_wifi_privacy_notice') %>
    </h1>

    <h2 class="govuk-heading-l">Who this information is for</h2>
    <p class="govuk-body">This privacy notice is for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>children and young people</li>
      <li>parents and carers</li>
    </ul>

    <h2 class="govuk-heading-l">About the BT wifi hotspot scheme</h2>
    <p class="govuk-body">The BT wifi hotspot scheme is run by the Department for Education (DfE).</p>
    <p class="govuk-body">As a data controller, DfE gives your school or local authority usernames and passwords. These are then passed on to you so you can connect to BT wifi hotspots.</p>

    <h2 class="govuk-heading-l">We don’t hold any personal information about you</h2>
    <p class="govuk-body">When your school or local authority gives you a username and password, it does not share your name or any other personal data about you with the DfE.</p>

    <h2 class="govuk-heading-l">Your rights</h2>
    <p class="govuk-body">You have certain rights under data protection law, including the right to find out what data we hold about you. If you want to do this, you can make a ‘subject access request’ using our <%= govuk_link_to 'contact form  ', 'https://www.education.gov.uk/help/contactus' %>.</p>
    <p class="govuk-body">You can find more information about how we handle personal data in our <%= govuk_link_to 'personal information charter', 'https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter' %>.</p>
    <p class="govuk-body">You can also find out more about <%= govuk_link_to 'data protection rights', 'https://ico.org.uk/your-data-matters/' %> from the <%= govuk_link_to 'Information Commissioner’s Office', 'https://ico.org.uk/' %>.</p>
  </div>
</div>
