<% content_for :title, t('page_titles.choosing_help_with_internet_access') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Get help with technology" => root_path },
                  { t('page_titles.internet_access') => connectivity_home_path },
                  t('page_titles.choosing_help_with_internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.choosing_help_with_internet_access') %>
    </h1>

    <p class="govuk-body">The Get help with technology programme offers 2 ways to help children and young people connect to the internet if face-to-face education is disrupted.</p>

    <p class="govuk-body">We can provide:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>extra data for mobile devices</li>
      <li>4G wireless routers</li>
    </ul>

    <p class="govuk-body">Schools, colleges and further education institutions can request one type of support per pupil or student.</p>

    <p class="govuk-body">To choose the best option, use the information here to compare the two schemes.</p>

    <h2 class="govuk-heading-l">
      <%= govuk_link_to 'Extra data for mobile devices', about_increasing_mobile_data_path %>
    </h2>

    <p class="govuk-body">Schools, colleges, further education institutions, local authorities and trusts can request an increase in mobile data for someone who has an existing mobile contract with a participating network if they are unable to access broadband internet at home. Most providers have <%= govuk_link_to 'additional conditions that account holders must meet', guide_to_collecting_mobile_information_telling_about_offer_path(anchor: 'network-offers') %>.</p>

    <p class="govuk-body">The recipient will get an increase in mobile data on a monthly basis until July 2021.</p>

    <p class="govuk-body">Choose this option if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the account holder is with a <%= govuk_link_to 'participating network and meets the conditions set by the provider', guide_to_collecting_mobile_information_telling_about_offer_path(anchor: 'network-offers') %></li>
      <li>the child or young person can use the mobile device’s internet connection on a device suitable for learning (this is known as tethering)</li>
      <li>the owner of the mobile device will be at home when the child or young person is learning remotely</li>
      <li>the mobile phone has a strong signal at home</li>
    </ul>

    <p class="govuk-body">There’s no content filtering with mobile data increases, so if the child will be unsupervised while using the internet, it may be better to choose a 4G wireless router.</p>

    <h3 class="govuk-heading-m">If you’re unsuccessful in applying for a data increase</h3>

    <p class="govuk-body">If your application for a data increase is unsuccessful, we recommend requesting a 4G wireless router instead.</p>

    <h2 class="govuk-heading-l">
      <%= govuk_link_to '4G wireless routers', how_to_request_4g_wireless_routers_path %>
    </h2>

    <p class="govuk-body">4G wireless routers are compact digital devices, sometimes referred to as ‘dongles’ or ‘mobile wifi’, that provide an internet connection wherever there is access to mobile networks.</p>

    <p class="govuk-body">Choose this option if:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the extra data for mobile devices option is not suitable</li>
      <li>there’s more than one child or young person in the household who needs to learn remotely</li>
      <li>a mobile phone or tablet (tethered or not) is not regularly available for the child or young person’s use</li>
      <li>the child or young person is likely to access the internet without supervision</li>
    </ul>
  </div>
</div>
