<% content_for :body_class, "app-start-page" %>
<% content_for :start_page_banner do %>
  <%= render StartPageBannerComponent.new %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      How to set up laptops and tablets
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li><%= govuk_link_to 'Microsoft Windows laptops and tablets setup guide', '/devices/preparing-a-standard-windows-device' %></li>
      <li><%= govuk_link_to 'Google Chromebooks', '/devices/preparing-chromebooks' %></li>
      <li><%= govuk_link_to 'Apple iPads setup guide', '/devices/preparing-ipads' %></li>
      <li><%= govuk_link_to 'How to set up a Google domain for care leavers', '/devices/google-domain-for-care-leavers-and-children-with-social-worker' %></li>
    </ul>

    <h2 class="govuk-heading-m">
      Replacing faulty devices
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li><%= govuk_link_to 'Replace faulty devices', '/devices/replace-a-faulty-device' %></li>
    </ul>

    <h2 class="govuk-heading-m">
      Resetting and safeguarding devices
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li><%= govuk_link_to 'Guide to resetting windows laptops and tablets', '/devices/guide-to-resetting-windows-laptops-and-tablets' %></li>
      <li><%= govuk_link_to 'Remove DfE-provided Cisco Umbrella from Chromebooks', '/devices/remove-dfe-provided-cisco-umbrella-from-chromebooks' %></li>
      <li><%= govuk_link_to 'Safeguarding devices', '/devices/safeguarding-for-device-users' %></li>
      <li><%= govuk_link_to 'Resetting 4G routers', '/managing_your_4g_wireless_routers' %></li>
    </ul>

    <h2 class="govuk-heading-m">
      About the devices provided by GHwT
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li><%= govuk_link_to 'Who could get laptops and tablets, and why DfE provided them', '/devices/about-the-offer' %></li>
      <li><%= govuk_link_to 'How laptops and tablets were allocated', '/devices/device-allocations' %></li>
      <li><%= govuk_link_to 'Who owns the devices', '/devices/device-distribution-and-ownership' %></li>
    </ul>

    <h2 class="govuk-heading-m">
      About internet access
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li><%= govuk_link_to 'Finding out about internet access needs', '/finding-out-about-internet-access-needs' %></li>
    </ul>

</div>
