<% content_for :body_class, "app-start-page" %>
<% content_for :start_page_banner do %>
  <%= render StartPageBannerComponent.new %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to t('landing_pages.get_support_guides.title'), devices_guidance_index_path %>
    </h2>

    <p class="govuk-body">
      How to order, set up and maintain laptops and tablets for disadvantaged children and <span class="app-no-wrap">young people.</span>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to t('page_titles.internet_access') , connectivity_home_path %>
    </h2>

    <p class="govuk-body">
      Find support available for children and young people through increased data for mobile phones, or <span class="app-no-wrap">4G wireless routers.</span>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="digital-platforms">
      <%= govuk_link_to t('landing_pages.digital_platforms.title'), digital_platforms_landing_page_path %>
    </h2>

    <p class="govuk-body">
      Apply for funded support to access and use <span class="app-no-wrap">Google Workspace for Education Fundamentals</span>, or <span class="app-no-wrap">Microsoft 365 Education.</span>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="edtech">
      <%= govuk_link_to t('landing_pages.edtech_demonstrator_programme.title') ,
                        edtech_demonstrator_programme_landing_page_path %>
    </h2>

    <p class="govuk-body">
      Access funded advice, guidance and training from a network of schools and colleges expert in their use of technology.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to  t('landing_pages.guides_parents_carers_students.title') ,
                         guides_for_parents_carers_and_students_path %>
    </h2>

    <p class="govuk-body">
      <%= t('landing_pages.guides_parents_carers_students.details') %>
    </p>

  </div>

  <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to "Contact us", support_ticket_path %>
    </h2>
    <p class="govuk-body">
      We aim to respond within <span class="app-no-wrap">3 working days</span>.
    </p>
  </div>
</div>
