<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to "Laptops and tablets", devices_guidance_index_path %>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Order, setup and mantain laptops and tablets for disadvantaged children and young people.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to "Internet access", connectivity_home_path %>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Request internet access for disadvantaged children and young people.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="digital-platforms">
      <%= govuk_link_to "Digital education platforms", digital_platforms_landing_page_path %>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Apply for support to access to G Suite for Education or Office 365 Education.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="edtech">
      <%= govuk_link_to "Traning and support for remote education", edtech_demonstrator_programme_landing_page_path %>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      Advice, guidance and training from a network of schools and colleges expert in their use of technology.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to "Guides for parents, carers, pupils and students", guides_for_guardians_and_students_home_path %>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-6">
      How to use DfE provided laptops, tablets or 4G wireless routers.
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
      Get support
    </h2>
    <p class="govuk-body-s">
      Tell us how we can help you with devices or <span class="app-no-wrap">internet access</span> for pupils and students who cannot attend face-to-face education and we’ll respond to you within <span class="app-no-wrap">2 working days</span>.
    </p>
    <p class="govuk-body-s">
      <%= govuk_link_to "Contact us", support_ticket_path %>
    </p>

  </div>
</div>
