<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Get help with technology
    </h1>

    <p class="govuk-body">
      Information for local authorities, academy trusts, schools, colleges and <span class="app-no-wrap">further education institutions</span> about the devices, internet access
      and support available to provide remote education and access to social care during
      coronavirus (COVID-19).
    </p>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to "Get laptops and tablets", devices_how_to_order_path %>
    </h2>
    <p class="govuk-body">
      Find out how to order laptops and tablets for disadvantaged children and young people during the pandemic.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to t('landing_pages.get_support_guides.title'), devices_guidance_index_path %>
    </h2>

    <p class="govuk-body">
      Get information about setting up, distributing and managing the laptops, tablets and 4G wireless routers
      you’ve received. You can also find guides to share with children and young people to help them use the devices.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to "Get internet access", connectivity_home_path %>
    </h2>

    <p class="govuk-body">
      Find out how to get internet access for disadvantaged children and young people when face-to-face education is disrupted.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="digital-platforms">
      <%= govuk_link_to t('landing_pages.digital_platforms.title'), digital_platforms_landing_page_path %>
    </h2>

    <p class="govuk-body">
      Find out how to apply for government-funded support to access one of two free-to-use digital education platforms:
      G Suite for Education or Office 365 Education.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="edtech">
      <%= govuk_link_to t('landing_pages.edtech_demonstrator_programme.title') ,
                        edtech_demonstrator_programme_landing_page_path %>
    </h2>

    <p class="govuk-body">
      Access funded advice, guidance and training from the EdTech demonstrators, a network of schools
      and colleges expert in their use of technology. This may be helpful if you&rsquo;ve received devices
      or support to set up a new digital platform through the Get help with technology programme,
      or if you&rsquo;re developing your approach to remote education, reducing teacher workloads and improving outcomes for children and young people.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Get support
    </h2>
    <p class="govuk-body-s">
      If you work for a local authority, academy trust, school, college or further education institution, and you need help with any of the devices or services
      offered by this programme, <%= govuk_link_to "contact us", support_ticket_path %>.
    </p>
    <p class="govuk-body-s">
      If you’ve been given a laptop, tablet or 4G wireless router by your local authority or school or further education institution and need some help, contact the person or school who gave it to you.
    </p>
    <p class="govuk-body-s">
      Find out more about the Department for Education’s
      <a href="https://www.gov.uk/guidance/get-help-with-technology-for-remote-education-during-coronavirus-covid-19" class="govuk-link">Get help with technology programme on GOV.UK.</a>
    </p>
  </div>
</div>
