<% content_for :body_class, "app-start-page" %>
<% content_for :start_page_banner do %>
  <%= render StartPageBannerComponent.new %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h2 class="govuk-heading-l">Guidance</h2>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to 'How to order devices', devices_how_to_order_path %>
    </h2>
    <p class="govuk-body">
      Find out how to order laptops and tablets for your school or organisation.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to t('landing_pages.get_support_guides.title'), devices_guidance_index_path %>
    </h2>

    <p class="govuk-body">
      Find out how to set up and manage devices. Read guidance on ownership and safeguarding.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to t('page_titles.managing_your_4g_wireless_routers'), managing_your_4g_wireless_routers_path %>
    </h2>

    <p class="govuk-body">
      If you were given 4G wireless routers by DfE before 31 August 2021,
      you’ll need to reset them and replace the SIM cards. Find out how to continue using them.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to t('page_titles.finding_out_about_internet_access_needs'), finding_out_about_internet_access_needs_path %>
    </h2>

    <p class="govuk-body">
      How to understand the internet access needs of pupils and students.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to 'Operation Warm Welcome', '/devices/operation-warm-welcome' %>
    </h2>

    <p class="govuk-body">
      Find out how to order devices for children arriving under Operation Warm Welcome.
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="digital-platforms">
      <%= govuk_link_to t('landing_pages.digital_platforms.title'), digital_platforms_landing_page_path %>
    </h2>

    <p class="govuk-body">
      Apply for funded support to access and use <span class="app-no-wrap">Google Workspace for Education Fundamentals</span>, or <span class="app-no-wrap">Microsoft 365 Education.</span>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="edtech">
      <%= govuk_link_to t('landing_pages.edtech_demonstrator_programme.title') ,
                        edtech_demonstrator_programme_landing_page_path %>
    </h2>

    <p class="govuk-body">
      Access funded advice, guidance and training from a network of schools and
      colleges expert in their use of technology.
    </p>
  </div>

  <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-full">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      <%= govuk_link_to "Contact us", support_ticket_path %>
    </h2>
    <p class="govuk-body">
      We aim to respond within <span class="app-no-wrap">3 working days</span>.
    </p>
  </div>
</div>
