<% content_for :title, t('page_titles.how_request_4g_routers') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { t('page_titles.internet_access') => connectivity_home_path },
                  t('page_titles.how_request_4g_routers'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.how_request_4g_routers') %>
    </h1>

    <p class="govuk-body">
      The Department for Education (DfE) is providing 4G wireless routers for disadvantaged children and young people to help them get online and access remote education. Router SIM cards will remain active until the end of July 2021.
    </p>

    <h2 class="govuk-heading-l">
      Who can get help
    </h2>

    <p class="govuk-body">
      We recommend you check if disadvantaged children can <%= govuk_link_to 'get a free mobile data increase from their network provider', 'https://get-help-with-tech.education.gov.uk/about-increasing-mobile-data', target: '_blank', rel: 'noopener noreferrer' %> before requesting a router.
    </p>

    <p class="govuk-body">
      You can request 4G wireless routers for disadvantaged children and young people if:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>their face-to-face education has been disrupted</li>
      <li>they do not have internet access at home</li>
      <li>they cannot get a mobile data increase</li>
    </ul>

    <p class="govuk-body">
      Routers are available for disadvantaged:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>pupils in years 3 to 11</li>
      <li>students in 16 to 19 further education who receive free meals</li>
      <li>pupils in any year group who have been <%= govuk_link_to 'advised to shield', 'https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19', target: '_blank', rel: 'noopener noreferrer' %> because they (or someone they live with) are <%= govuk_link_to 'clinically extremely vulnerable', 'https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19#cev', target: '_blank', rel: 'noopener noreferrer' %></li>
      <li>pupils in any year group, including those in 16 to 19 education, attending a hospital school</li>
      <li>care leavers aged 16 to 25</li>
    </ul>

    <h2 class="govuk-heading-l">
      How to get 4G wireless routers
    </h2>

    <p class="govuk-body">
      The process for ordering 4G wireless routers is different to that for ordering laptops and tablets. Routers may be dispatched separately to any laptops and tablets you order, and may arrive at a later date.
    </p>

    <h3 class="govuk-heading-m">
      For local authorities and academy trusts
    </h3>

    <p class="govuk-inset-text">
      Local authorities and academy trusts that received 4G wireless routers from DfE during the 2020 summer term are expected to reallocate any unused routers to children in need before ordering new ones. Your key contact can log in to the <%= govuk_link_to 'Support Portal', 'https://computacenterprod.service-now.com/dfe' %> to check router use.
    </p>

    <h4 class="govuk-heading-s">
      How to make a request
    </h4>

    <p class="govuk-body">
      To make a request you will need:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your unique reference number – for a local authority, this will be your three-digit local authority number. For an academy trust, this will be your Companies House number</li>
      <li>the name of the school you’re making a request for and the number of routers needed. If you’re requesting additional routers for more than one school, you’ll need to provide the number of children needing an internet connection for each school</li>
    </ul>

    <p class="govuk-body">
      We’ll also need evidence of:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how you’ve identified disadvantage, such as the number of children in receipt of free school meals or pupil premium</li>
      <li>your understanding of children, young people and families’ access to internet connectivity - this information could be from survey data, calls home, your awareness of specific family circumstances, demographic data, or questions asked to parents</li>
      <li>disadvantaged pupils joining the school since the most recent School Workforce Census</li>
    </ul>

    <p class="govuk-body">
      Do not send us any personal information, like names of children or dates of birth.
    </p>

    <p class="govuk-body">
      Note that if you don’t have a service reference number, you can leave this field in the form blank.
    </p>

    <p class="govuk-body">
      <a href="https://get-help-with-tech.education.gov.uk/get-support" class="govuk-link">Contact us to request 4G wireless routers</a>
    </p>

    <h3 class="govuk-heading-m">
      For schools, colleges and other FE institutions
    </h3>

    <p class="govuk-body">
      Once schools, colleges and FE institutions have placed an order for devices through the Get help with technology service, they can request 4G wireless routers.
    </p>

    <p class="govuk-body">
      Unlike allocations for laptops and tablets (which are based on free meals data), we distribute wireless routers based on actual need. This is because the need for connectivity is lower than the need for devices.
    </p>

    <p class="govuk-body">
      To make a request for wireless routers for your students, you need to provide information about how you’ve identified the number of learners requiring help with connectivity.
    </p>

    <h4 class="govuk-heading-s">
      How to make a request
    </h4>

    <p class="govuk-body">
      To make a request you will need:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>your unique reference number (URN), this is normally 6 digits. If you’re a further education college, this will be your 8-digit UKPRN. If you don’t know your URN or UKPRN, you can find these on the <%= govuk_link_to 'Get Information about Schools', 'https://www.get-information-schools.service.gov.uk/' %> site</li>
      <li>the name of your school or college</li>
      <li>the number of children and young people needing a router</li>
      <li>to confirm that you’ve identified which disadvantaged learners do not have broadband at home through, for example, contact with students/parents, surveys, etc.</li>
    </ul>

    <p class="govuk-body">
      We’ll also need evidence of:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>how you’ve identified disadvantage, such as the number of pupils and students in receipt of free meals</li>
      <li>your understanding of children, young people and families’ access to internet connectivity - this information could be from survey data, calls home, your awareness of specific family circumstances, demographic data, or questions asked to parents</li>
      <li>disadvantaged pupils joining the school since the most recent School Workforce Census, or for further education institutions, disadvantaged students joining after October 2020</li>
    </ul>

    <p class="govuk-body">
      Do not send us any personal information, like names of children and young people or dates of birth.
    </p>

    <p class="govuk-body">
      Note that if you don’t have a service reference number, you can leave this field in the form blank.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to 'Contact us to request a 4G wireless router', 'https://get-help-with-tech.education.gov.uk/get-support' %>
    </p>

    <h2 class="govuk-heading-l">
      How requests are managed
    </h2>

    <p class="govuk-body">
      All requests are assessed against the eligibility criteria by our support team who will email you if any additional information is required, and with details of whether your request has been successful.
    </p>

    <p class="govuk-body">
      Availability may change. We have a limited number of routers available and may not be able to give you the number you’ve requested.
    </p>

    <p class="govuk-body">
      To find out what to do with devices once they have been delivered and for information on technical support, security and data limits, read the <%= link_to_devices_guidance_subpage 'guidance on preparing 4G routers', 'preparing-4g-wireless-routers' %>.
    </p>

  </div>
</div>
