<% content_for :title, t('page_titles.increasing_mobile_data_privacy_notice') %>
<% content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { "Privacy" => privacy_path },
                  "Privacy notice for increasing mobile data scheme",
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('page_titles.increasing_mobile_data_privacy_notice') %>
    </h1>

    <h2 class="govuk-heading-m">Who this information is for</h2>

    <p class="govuk-body">This information is for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>account holders for mobile devices</li>
      <li>children, young people and care leavers</li>
      <li>parents and carers</li>
    </ul>

    <h2 class="govuk-heading-m">About the Mobile Network Offer</h2>

    <p class="govuk-body">The Mobile Network Offer is run by the Department for Education (DfE). Under the offer, some mobile network operators have agreed to increase data allowances for mobile devices with existing contracts.</p>

    <p class="govuk-body">This is to help children, young people and care leavers in their education and social care.</p>

    <h2 class="govuk-heading-m">How schools and local authorities will use personal information</h2>

    <p class="govuk-body">Schools or social care teams will use the contact details they normally do when providing education or social care support. They’ll use these details to approach you to find out whether the offer is right for you.</p>

    <h2 class="govuk-heading-m">Who personal information will be shared with and how it will be used</h2>

    <p class="govuk-body">If you decide to take up the offer, the school, trust, social care team or local authority will collect and share the following information about the account holder with the DfE:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>their name</li>
      <li>their telephone number</li>
      <li>their mobile network operator details (including whether you are on Pay-as-you-go or a monthly contract)</li>
    </ul>

    <p class="govuk-body">The school, trust, social care team or local authority will not share the name of anyone except the account holder with the DfE.</p>

    <p class="govuk-body">The DfE will use the above information in order to arrange and administer the Mobile Network Offer described above.</p>

    <p class="govuk-body">The DfE will share the above information with the account holder’s mobile network operator so the operator can check you are on a valid plan or tariff, arrange and administer the increase in data.</p>

    <h2 class="govuk-heading-m">Why we can use personal information</h2>

    <p class="govuk-body">To use personal information, we need to have a lawful ground as set out in data protection legislation. For providing this service, the DfE uses and shares personal information as part of its legitimate interest (which is one such ground). The DfE has a legitimate interest in supporting learners and care leavers during exceptional times.</p>

    <h2 class="govuk-heading-m">How long we hold personal information</h2>

    <p class="govuk-body">Any personal information will only be held by the DfE for as long as necessary, and no later than 31 August 2021.</p>

    <h2 class="govuk-heading-m">Your rights</h2>

    <p class="govuk-body">You have certain rights under data protection law, including the right to find out what data we hold about you. If you want to do this, you can make a ‘subject access request’ using our <%= govuk_link_to 'contact form  ', 'https://www.education.gov.uk/help/contactus' %>.</p>

    <p class="govuk-body">You can find more information about how we handle personal data in our <%= govuk_link_to 'personal information charter', 'https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter' %>.</p>

    <p class="govuk-body">You can also find out more about <%= govuk_link_to 'data protection rights', 'https://ico.org.uk/your-data-matters/' %> from the <%= govuk_link_to 'Information Commissioner’s Office', 'https://ico.org.uk/' %>.</p>
  </div>
</div>
