<% content_for :title, t('page_titles.internet_access') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('page_titles.internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.internet_access') %>
    </h1>

    <p class="govuk-body">
      The Get help with technology programme offers 2 ways to help children and young people
      connect to the internet when face-to-face education is disrupted.
    </p>

    <p class="govuk-body">We can provide:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>grant funding to support schools with the costs associated with connecting pupils online</li>
      <li>4G routers.</li>
    </ul>

    <h2 class="govuk-heading-l">Grant funding</h2>

    <p class="govuk-body">
      Schools, trusts, local authorities and further education providers can get
      government-funded support to help disadvantaged pupils in years 3 to 13 to access the
      internet where face-to-face education is disrupted due to coronavirus (COVID-19). It
      covers costs incurred between 1 September 2021 and 31 December 2021.
    </p>

    <p class="govuk-body">
      For tips on assessing the current resources that students and pupils have, understanding
      access needs and helping them to navigate coverage and tariff options visit
      <%= govuk_link_to 'finding out about internet access needs', finding_out_about_internet_access_needs_path %>.
    </p>

    <p class="govuk-body">
      The funding claim form will be available in January 2022 through ESFA.
      <%= govuk_link_to 'Read about the eligibility criteria and conditions of the grant', 'https://www.gov.uk/government/publications/get-help-with-technology-conditions-of-connectivity-support-grants' -%>.
    </p>

    <p class="govuk-body">
      If you have any questions about the internet access grants, visit our <%= govuk_link_to 'Get support page', support_ticket_path -%>.
    </p>

    <h2 class="govuk-heading-l">
      4G wireless routers
    </h2>

    <p class="govuk-body">
      4G wireless routers are available for disadvantaged children, social care leavers and
      students aged 16 to 19 who do not have access to broadband at home.
    <p>

    <p class="govuk-body">
      Schools, trusts, local authorities and further education providers can order 4G routers, but
      these will not include a SIM card. You&rsquo;ll need to arrange SIM cards and data packages
      before distributing routers to children and young people, which could be eligible to be
      funded through our internet access grant.
    <p>

    <p class="govuk-body">
      If you were given 4G wireless routers by DfE before <span class="app-no-wrap">31 August 2021</span>, you&rsquo;ll need to
      <%= govuk_link_to 'reset them and replace the SIM cards', '/devices/managing-your-4g-wireless-routers' -%> to continue to use them.
    <p>
  </div>
</div>
