<% content_for :title, t('page_titles.internet_access') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('page_titles.internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.internet_access') %>
    </h1>

    <p class="govuk-body">
      The Get help with technology programme offers 2 ways to help children and young people connect to the internet when face-to-face education is disrupted.
    </p>

    <p class="govuk-body">We can provide:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>grant funding to support schools with the costs associated with connecting pupils online</li>
      <li>4G routers</li>
    </ul>

    <h2 class="govuk-heading-l">Grant funding</h2>

    <p class="govuk-body">
      Schools, trusts, local authorities and further education providers can get government-funded support to help disadvantaged pupils in years 3 to 13 to access the internet where face-to-face education is disrupted.
    </p>

    <p class="govuk-body">
      All eligible institutions will be able to apply in January 2022 to cover costs incurred from 1 September to 31 December 2021. <%= govuk_link_to 'Read about the eligibility criteria and conditions of the grant', 'https://www.gov.uk/government/publications/get-help-with-technology-conditions-of-connectivity-support-grants' -%>.
    </p>

    <p class="govuk-body">
      If you have any questions about the internet access grants, visit our <%= govuk_link_to 'Get support page', support_ticket_path -%>.
    </p>

    <h2 class="govuk-heading-l">
      4G wireless routers
    </h2>

    <p class="govuk-body">
      4G wireless routers are available for disadvantaged children, social care leavers and students aged 16 to 19 who do not have access to broadband at home.
    <p>

    <p class="govuk-body">
      Schools, trusts, local authorities and further education providers can contact us to request 4G routers. Routers ordered after 1 September 2021 will not include a SIM card. You’ll need to arrange SIM cards and data packages before distributing routers to children and young people.
    <p>

    <p class="govuk-body">
      If you were given 4G wireless routers by DfE before 31 August 2021, you’ll need to <%= govuk_link_to 'reset them and replace the SIM cards', '/devices/reset-your-wireless-router' -%> to continue to use them.
    <p>

    <h2 class="govuk-heading-l">Safeguarding resources</h2>

    <p class="govuk-body">
      These resources include detailed guidance for schools and colleges on safe remote education, virtual lessons and live streaming. There’s also information on how to make sure children and young people are safe online.
    <p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= govuk_link_to 'Keeping children safe in education', 'https://www.gov.uk/government/publications/keeping-children-safe-in-education--2' -%>
        - guidance that schools and colleges must follow when carrying out their duties to safeguard and promote the welfare of children, both online and offline.
      </li>
      <li>
        <%= govuk_link_to 'Safeguarding and remote education during coronavirus', 'https://www.gov.uk/guidance/safeguarding-and-remote-education-during-coronavirus-covid-19' -%>
        - guidance to help you understand safeguarding procedures when planning remote education strategies and teaching remotely.
      </li>
      <li>
        <%= govuk_link_to 'Support for parents and carers to keep children safe from online harm', 'https://www.gov.uk/government/publications/coronavirus-covid-19-keeping-children-safe-online/coronavirus-covid-19-support-for-parents-and-carers-to-keep-children-safe-online' -%>
        - outlines resources to help keep children safe from different risks online, and where to go to receive support and advice.
      </li>
      <li>
        <%= govuk_link_to 'Support to stay safe online', 'https://www.gov.uk/guidance/covid-19-staying-safe-online' -%>
        - includes information on security and privacy settings.
      </li>
    </ul>

    <p class="govuk-body">
      In conversations with parents. carers and children you should emphasise the importance of a safe online environment and offer support and advice on how to create this. It’s also important that children, parents, carers and school staff are clear on what the reporting mechanisms are if they have any concerns regarding online safety.
    <p>

    <p class="govuk-body">
      If a child is worried or needs support, they can call Childline (0800 1111), download their ‘For Me’ app or visit <%= govuk_link_to 'https://www.childline.org.uk', 'https://www.childline.org.uk' -%>.
    <p>
  </div>
</div>
