<% content_for :title, t('page_titles.internet_access') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('page_titles.internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.internet_access') %>
    </h1>

    <p class="govuk-body">
      How to request internet access for disadvantaged pupils in <span class="app-no-wrap">years 3 to 13</span>, students in further education, and care leavers.
    </p>
    
    <p class="govuk-body">
    Schools, colleges, further education institutions, local authorities and trusts can request one type of support per pupil or student.
    </p>
    
    <p class="govuk-body">
     To choose the best option, use the information here to compare the two schemes.
    </p>

    <h2 class="govuk-heading-l">
      Extra mobile data
    </h2>

    <p class="govuk-body">
      This scheme temporarily increases data allowances for mobile phone users on certain networks,
      if they do not have access to broadband at home. Extra data is available until the end of July 2021.
    </p>
    
    <p class="govuk-body">
      Choose this option if:
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>the account holder is with a <a href="/guide-to-collecting-mobile-information/telling-about-offer#network-offers" class="govuk-link">participating network and meets the conditions set by the provider</a></li>
      <li>the child or young person can use the mobile device’s internet connection on a device suitable for learning (this is known as tethering)</li>
      <li>the owner of the mobile device will be at home when the child or young person is learning remotely</li>
      <li>the mobile phone has a strong signal at home</li>
    </ul>
    
     <p class="govuk-body govuk-!-margin-bottom-7">
    There’s no content filtering with mobile data increases, so if the child or young person will be unsupervised while using the internet, it may be better to choose a 4G wireless router.
    </p>

    <h3 class="govuk-heading-m">
      Before you make a request
    </h3>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Find out who can get extra mobile data and how to make a request.', about_increasing_mobile_data_path %>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      Request extra mobile data
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Sign in to make a request", sign_in_path, class: "app-emphasis-link" %>
    </p>

    <h3 class="govuk-heading-m">
      View your extra mobile data requests
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Sign in to view your requests", sign_in_path, class: "app-emphasis-link" %>
    </p>

    <h2 class="govuk-heading-l">
      4G wireless routers
    </h2>

    <p class="govuk-body">
      You can request a router for disadvantaged pupils and students who do not have broadband at home, and cannot get extra mobile data. 
      Router SIM cards will remain active until the end of July 2021.
    </p>
    
    <p class="govuk-body">
      Choose this option if:
    </p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>the extra data for mobile devices option is not suitable</li>
      <li>there’s more than one child or young person in the household who needs to learn remotely</li>
      <li>a mobile phone or tablet (tethered or not) is not regularly available for the child or young person’s use</li>
      <li>the child or young person is likely to access the internet without supervision</li>
    </ul>

    <h3 class="govuk-heading-m">
      Before you make a request
    </h3>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Find out who can get a 4G wireless router and how to make a request.', how_to_request_4g_wireless_routers_path %>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      Request 4G wireless routers
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Sign in to make a request", sign_in_path, class: "app-emphasis-link" %>
    </p>

    <h3 class="govuk-heading-m">
      Manage 4G wireless routers
    </h3>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Set up guide', '/devices/preparing-4g-wireless-routers' %>
      </li>
      <li>
        <%= govuk_link_to 'How to reset your wireless router', '/devices/reset-your-wireless-router' %>
      </li>
      <li>
        <%= govuk_link_to 'Technical support', '/devices/resolve-issues-with-4g-wireless-routers' %>
      </li>
      <li>
        <%= govuk_link_to 'Guidance for children and young people', '/devices/4g-user-guidance' %>
      </li>
    </ul>
  </div>
</div>
