<% content_for :title, t('page_titles.internet_access') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('page_titles.internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.internet_access') %>
    </h1>

    <p class="govuk-body">
      Ordering is now closed for routers and extra mobile data.
    </p>

    <p class="govuk-body">
      Find out when free data ends, and how to reset 4G wireless routers you’ve received.
    </p>

    <div class="govuk-inset-text">
      Young people and families on low incomes or certain benefits may be eligible for cheaper broadband tariffs. <%= govuk_link_to 'Find out who is eligible and which providers offer targeted tariffs', 'https://www.ofcom.org.uk/about-ofcom/latest/features-and-news/support-for-customers-during-pandemic' %>.
    </div>

    <h2 class="govuk-heading-l">
      4G wireless routers
    </h2>

    <p class="govuk-body">
      You can no longer request 4G wireless routers for children and young people.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      Router SIM cards you’ve received will remain active until the end of July 2021. To continue using your router after this date, you must reset it and replace the SIM card. The date you need to reset your router depends on the type of router you have.
    </p>

    <h3 class="govuk-heading-m">
      Manage 4G wireless routers
    </h3>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'How to reset your wireless router', '/devices/reset-your-wireless-router' %>
      </li>
      <li>
        <%= govuk_link_to 'Set up guide', '/devices/preparing-4g-wireless-routers' %>
      </li>
      <li>
        <%= govuk_link_to 'Resolve issues with 4G wireless routers', '/devices/resolve-issues-with-4g-wireless-routers' %>
      </li>
      <li>
        <%= govuk_link_to 'Guidance for children and young people', '/devices/4g-user-guidance' %>
      </li>
    </ul>

    <h2 class="govuk-heading-l">
      Extra mobile data
    </h2>

    <p class="govuk-body">
      You can no longer request data increases for children and young people.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-7">
      Extra data will be provided to existing users until the end of July 2021. Mobile network providers will contact all users to let them know when their free data increase is ending.
      <%= govuk_link_to 'View the privacy notice for this scheme.', '/guide-to-collecting-mobile-information/privacy' %>
    </p>

    <h3 class="govuk-heading-m">
      View your extra mobile data requests
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Sign in to view your requests", sign_in_path, class: "app-emphasis-link" %>
    </p>
  </div>
</div>
