<% content_for :title, t('page_titles.internet_access') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('page_titles.internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.internet_access') %>
    </h1>

    <p class="govuk-body">
      How to request internet access for disadvantaged pupils in <span class="app-no-wrap">years 3 to 13</span>, students in further education, and care leavers.
    </p>

<div class="govuk-inset-text">
      Young people and families on low incomes or certain benefits may be eligible for cheaper broadband tariffs. <%= govuk_link_to 'Find out who is eligible and which providers offer targeted tariffs', 'https://www.ofcom.org.uk/about-ofcom/latest/features-and-news/support-for-customers-during-pandemic' %>.
</div>
    
    <h2 class="govuk-heading-l">
      Extra mobile data
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-7">
      This scheme temporarily increases data allowances for mobile phone users on certain networks,
      if they do not have access to broadband at home. Extra data is available until the end of July 2021.
    </p>

    <h3 class="govuk-heading-m">
      Before you make a request
    </h3>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Find out who can get extra mobile data and how to make a request.', about_increasing_mobile_data_path %>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      Request extra mobile data
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Sign in to make a request", sign_in_path, class: "app-emphasis-link" %>
    </p>

    <h3 class="govuk-heading-m">
      View your extra mobile data requests
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Sign in to view your requests", sign_in_path, class: "app-emphasis-link" %>
    </p>

    <h2 class="govuk-heading-l">
      4G wireless routers
    </h2>

    <p class="govuk-body govuk-!-margin-bottom-7">
      You can request a router for disadvantaged pupils and students who do not have broadband at home, and cannot get extra mobile data. 
      Router SIM cards will remain active until the end of July 2021.
    </p>

    <h3 class="govuk-heading-m">
      Before you make a request
    </h3>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Find out who can get a 4G wireless router and how to make a request.', how_to_request_4g_wireless_routers_path %>
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      Request 4G wireless routers
    </h3>

    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= govuk_link_to "Sign in to make a request", sign_in_path, class: "app-emphasis-link" %>
    </p>

    <h3 class="govuk-heading-m">
      Manage 4G wireless routers
    </h3>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Set up guide', '/devices/preparing-4g-wireless-routers' %>
      </li>
      <li>
        <%= govuk_link_to 'How to reset your wireless router', '/devices/reset-your-wireless-router' %>
      </li>
      <li>
        <%= govuk_link_to 'Technical support', '/devices/resolve-issues-with-4g-wireless-routers' %>
      </li>
      <li>
        <%= govuk_link_to 'Guidance for children and young people', '/devices/4g-user-guidance' %>
      </li>
    </ul>
  </div>
</div>
