<% content_for :title, t('page_titles.internet_access') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('page_titles.internet_access'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.internet_access') %>
    </h1>

    <p class="govuk-body-l">
      Get internet access for disadvantaged pupils and students when <span class="app-no-wrap">face-to-face</span> education is disrupted.
    </p>

    <h2 class="govuk-heading-l govuk-!-margin-top-7">
      Increase mobile data
    </h2>
    <p class="govuk-body">
      Temporarily increases data allowances for mobile phone users on some networks to allow pupils and students to access remote learning.
    </p>

    <h3 class="govuk-heading-m govuk-!-margin-top-7">
      Before you make a request
    </h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to 'Who can get their mobile data increased', about_increasing_mobile_data_path %>
      </li>
      <li>
        <%= govuk_link_to 'How to request a mobile data increase', about_increasing_mobile_data_path %>
      </li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-margin-top-7">
      Request mobile data
    </h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href='/sign-in' class='govuk-link govuk-body app-sign-in-call-out'>Sign in to request mobile data</a>
      </li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-margin-top-7">
      View your mobile data requests
    </h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href='/sign-in' class='govuk-link govuk-body app-sign-in-call-out'>Sign in to view your requests</a>
      </li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-margin-top-7">
      4G wireless routers
    </h2>
    <p class="govuk-body">
      4G wireless routers for disadvantaged pupils and students who do not have fixed broadband or access to the internet at home.
    </p>

    <h3 class="govuk-heading-m govuk-!-margin-top-7">
      Before you make a request
    </h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to 'Who can get a 4G wireless router', about_increasing_mobile_data_path %>
      </li>
      <li>
        <%= govuk_link_to 'How to request a mobile data increase', about_increasing_mobile_data_path %>
      </li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-margin-top-7">
      Request 4G wireless routers
    </h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href='/sign-in' class='govuk-link govuk-body app-sign-in-call-out'>Sign in to request 4G wireless routers</a>
      </li>
    </ul>

    <h3 class="govuk-heading-m govuk-!-margin-top-7">
      Managing 4G wireless routers
    </h3>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to 'How to setup a 4G wireless router', about_increasing_mobile_data_path %>
      </li>
      <li>
        <%= govuk_link_to 'Support and maintanence', about_increasing_mobile_data_path %>
      </li>
      <li>
        <%= govuk_link_to 'Replace a faulty 4G wireless router', about_increasing_mobile_data_path %>
      </li>
    </ul>

  </div>
</div>
