<% content_for :title, t('page_titles.what_to_do_if_you_cannot_get_laptops_tablets_or_internet_access_from_dfe') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('page_titles.what_to_do_if_you_cannot_get_laptops_tablets_or_internet_access_from_dfe'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.what_to_do_if_you_cannot_get_laptops_tablets_or_internet_access_from_dfe') %>
    </h1>

    <p class="govuk-body">
      The Get help with technology programme provided support for disadvantaged pupils and students in years 3 to 13, or 16 to 19 education, in England. It could only be accessed by:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>state-funded schools</li>
      <li>colleges and other further education institutions</li>
      <li>academy trusts</li>
      <li>local authorities</li>
    </ul>

    <p class="govuk-body">
      Ordering is closed for laptops, tablets, mobile data and 4G wireless routers.
    </p>

    <h2 class="govuk-heading-m">Get help for:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= govuk_link_to 'parents, carers, pupils and students', what_to_do_if_you_cannot_get_laptops_tablets_or_internet_access_from_dfe_path(anchor:'parents-carers-pupils-students') %>
      </li>
      <li>
        <%= govuk_link_to 'educational settings', what_to_do_if_you_cannot_get_laptops_tablets_or_internet_access_from_dfe_path(anchor:'educational-settings') %>
      </li>
      <li>
        <%= govuk_link_to 'schools, colleges and further education institutions in Northern Ireland, Scotland and Wales', what_to_do_if_you_cannot_get_laptops_tablets_or_internet_access_from_dfe_path(anchor:'schools-colleges-and-further-education-institutions-in-northern-ireland-scotland-and-wales') %>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l" id="parents-carers-pupils-students">
      Parents, carers, pupils and students
    </h2>
    <p class="govuk-body">
      The <%= govuk_link_to 'Family Fund', 'https://www.familyfund.org.uk/' -%> may be able to provide grants for devices and other support to children or young people who are disabled or seriously ill.
    </p>
    <p class="govuk-body">
      <%= govuk_link_to 'Ofcom', 'https://www.ofcom.org.uk/about-ofcom/latest/features-and-news/support-for-customers-during-pandemic' -%> has guidance on support for phone and broadband customers during the pandemic.
    </p>
    <p class="govuk-body">
      If you’ve been given a DfE laptop, tablet or 4G wireless router and need some help with it, these guides may be useful:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= govuk_link_to 'Getting started with your Microsoft Windows device ', devices_guidance_subpage_path('getting-started-with-your-microsoft-windows-device') %>
      </li>
      <li>
        <%= govuk_link_to 'Getting started with your Google Chromebook', devices_guidance_subpage_path('getting-started-with-your-google-chromebook') %>
      </li>
      <li>
        <%= govuk_link_to 'How to get started with your 4G wireless router', devices_guidance_subpage_path('4g-user-guidance') %>
      </li>
    </ul>

    <p class="govuk-body">
      If you need more help, contact the person who gave you your device.
    </p>

    <h2 class="govuk-heading-l" id="educational-settings">
      Educational settings
    </h2>
    <p class="govuk-body">
      The <%= govuk_link_to 'BBC', 'https://www.bbc.co.uk/programmes/articles/5SqHJMTKZx5sYhlltXJvB1Q/give-a-laptop' %>
      has a list of companies and charities involved in laptop donation schemes.
    </p>

    <h2 class="govuk-heading-l" id="schools-colleges-and-further-education-institutions-in-northern-ireland-scotland-and-wales">
      Schools, colleges and further education institutions in <span class="app-no-wrap">Northern Ireland</span>, Scotland and Wales
    </h2>
    <p class="govuk-body">
      The Get help with technology programme is only available in England. Contact your devolved administration to find out about similar support programmes.
  </div>
</div>
