<% title = t('page_titles.computacenter.responsible_body_changes') %>
<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: 'Back', href: computacenter_home_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
  </div>
</div>
<%- item_count = @responsible_bodies.count %>
<% if @show_download_link %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body">
      <%= govuk_link_to 'Download changes as a CSV file', computacenter_responsible_body_changes_path(format: :csv) %>
    </div>
  </div>
</div>
<%- end %>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs">
      <ul class="govuk-tabs__list">
        <%= render TabComponent.new(
          label: 'All changes',
          path: computacenter_responsible_body_changes_path(view: 'all'),
          selected: @view_mode.blank? || @view_mode == 'all')
        %>
        <%= render TabComponent.new(
          label: 'New responsible bodies',
          path: computacenter_responsible_body_changes_path(view: 'new'),
          selected: @view_mode == 'new')
        %>
        <%= render TabComponent.new(
          label: 'Amended responsible bodies',
          path: computacenter_responsible_body_changes_path(view: 'amended'),
          selected: @view_mode == 'amended')
        %>
      </ul>
      <div class="govuk-tabs__panel">
        <table class="govuk-table" id="responsible-body-changes">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">RB URN</th>
              <th scope="col" class="govuk-table__header">RB name</th>
              <th scope="col" class="govuk-table__header">Address</th>
              <th scope="col" class="govuk-table__header">Sold To</th>
              <th scope="col" class="govuk-table__header">Change</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @responsible_bodies.each do |responsible_body| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= responsible_body.computacenter_identifier %></td>
                <td class="govuk-table__cell"><%= responsible_body.computacenter_name %></td>
                <td class="govuk-table__cell"><%= responsible_body.address %></td>
                <td class="govuk-table__cell"><%= responsible_body.computacenter_reference %></td>
                <td class="govuk-table__cell"><%= responsible_body.computacenter_change.capitalize %></td>
                <td class="govuk-table__cell"><%= govuk_link_to "Verify<span class=\"govuk-visually-hidden\"> sold to reference for #{responsible_body.computacenter_name}</span>".html_safe, edit_computacenter_responsible_body_change_path(responsible_body) %></td>
              </tr>
            <%- end %>
          </tbody>
        </table>
        <div class="govuk-body">
          <%= "#{item_count} #{'record'.pluralize(item_count)} found" %>
        </div>
      </div>
    </div>
  </div>
</div>
