<%-
  scope = 'page_titles.donated_devices.school.interest.opted_in'
  title = t('title', scope: scope, institution: @school.institution_type)
%>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ 'Home' => home_school_path(@school) },
                  'Donated devices',
                 ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-8">
      <h1 class="govuk-panel__title">
        <%= title %>
      </h1>
      <div class="govuk-panel__body">
        You’re in the queue to receive&nbsp;devices
      </div>
    </div>
    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      If it’s your turn in the queue, you’ll get an email confirmation and Computacenter will deliver your preferred devices to:
    </p>
    <div class="govuk-inset-text">
      <strong><%= @request.user.full_name %></strong><br/>
      <%= @request.delivery_address %>
    </div>
    <h2 class="govuk-heading-m">Accepted device types</h2>
    <ul class="govuk-list govuk-list--bullet">
      <% @request.selected_device_names.each do |device| %>
        <li><%= device %></li>
      <% end %>
    </ul>
    <h2 class="govuk-heading-m">Preferred number of devices</h2>
    <p class="govuk-body"><%= @request.number_of_devices_selected %></p>

    <%= render partial: 'shared/sim_offer' %>
  </div>
</div>
