<% content_for :title, title_with_error_prefix(t('page_titles.eligible_people'), @allocation_request.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.eligible_people') %>
    </h1>
    <%= form_with model: @allocation_request, local: true, url: responsible_body_check_your_allocation_request_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_number_field :number_eligible,
                                required: true,
                                width: 4,
                                label: { text: 'Number of young people who are eligible', size: 'm' },
                                min: 0,
                                max: 10000,
                                step: 1 %>
      <%= f.govuk_number_field :number_eligible_with_hotspot_access,
                                required: true,
                                width: 4,
                                label: { text: 'Number of those who can access a BT hotspot', size: 'm' },
                                hint_text: 'There’s guidance available on <a class="govuk-link" href="https://www.btwifi.com/find/ ">how to check access to hotspots</a>'.html_safe,
                                min: 0,
                                max: 10000,
                                step: 1 %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
