<%- title = t('page_titles.edit_user') %>
<%- content_for :title, title_with_error_prefix(title, @user.errors.any?) %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs(
    items: [
      { t('page_titles.school_users') => school_users_path(@school) },
      title,
    ],
    school: @school,
    user: impersonated_or_current_user) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
    <%= form_for @user, url: school_user_path(@school, @user) do |f| %>
      <%= f.govuk_error_summary %>
      <%= render partial: 'shared/school_user_form', locals: { form: f, change_order_devices: @change_order_devices } %>
      <%= f.govuk_submit 'Save' %>
    <%- end %>
  </div>
</div>
