<%- title = t('page_titles.donated_devices.responsible_body.interest.interest_confirmation.title') %>
<%- content_for :title, title %>
<%- content_for :before_content, govuk_link_to('Back', responsible_body_donated_devices_queue_path, class: 'govuk-back-link') %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= form_for @form, url: responsible_body_donated_devices_interest_confirmation_path, method: :post do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :device_interest,
                                          DonatedDeviceInterestForm.confirmation_interest_options,
                                          :value,
                                          :label,
                                          legend: {size: 'm', text: '' } %>
      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>