<%-
  scope = 'page_titles.donated_devices.responsible_body.interest.opted_in'
  title = t('title', scope: scope)
%>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { 'Your account' => responsible_body_home_path },
                  { "#{t('page_titles.responsible_body_devices_home')}" => responsible_body_devices_path },
                  'Donated devices',
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_panel(title: title,
                    body: 'They are in the queue to receive&nbsp;devices'.html_safe,
                    classes: 'govuk-!-margin-bottom-8'
                   ) %>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">
      If it’s their turn in the queue, you’ll get an email confirmation and Computacenter will deliver devices directly to the school or college.
    </p>
    <h2 class="govuk-heading-m">Schools and colleges opted in</h2>
    <% if @request.opt_in_all_schools? %>
      <p class="govuk-body">All schools and colleges opted in</p>
    <% else %>
      <ul class="govuk-list govuk-list--bullet">
        <% @request.opted_in_school_names.each do |school| %>
          <li><%= school %></li>
        <% end %>
      </ul>
      <p class="govuk-body">
      You can still <%= govuk_link_to 'opt in the rest of your schools or colleges', responsible_body_donated_devices_select_schools_path %>.
      </p>
    <% end %>
    <h2 class="govuk-heading-m">Accepted device types</h2>
    <ul class="govuk-list govuk-list--bullet">
      <% @request.selected_device_names.each do |device| %>
        <li><%= device %></li>
      <% end %>
    </ul>
    <h2 class="govuk-heading-m">Preferred number of devices</h2>
    <p class="govuk-body"><%= @request.number_of_devices_selected %></p>

    <%= render partial: 'shared/sim_offer' %>
  </div>
</div>
