<%- title = t('page_titles.iss.how_to_order') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: impersonated_or_current_user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= render Computacenter::TechSourceOutOfStockComponent.new %>
    <%= render Computacenter::TechSourceMaintenanceBannerComponent.new(Computacenter::TechSource.new) %>
    <%= render partial: 'shared/half_term_delivery_suspension' %>

    <%= render partial: 'shared/stock_levels' %>

    <p class="govuk-body">
      <%= govuk_link_to 'It’s important to check you’re ordering the best type of laptop for each pupil.', laptop_types_school_path(@school) %>
    </p>

    <h2 class="govuk-heading-m">Chromebooks</h2>

    <% if @school.will_need_chromebooks? %>
      <p class="govuk-body">
        You’ve told us you’ll order Chromebooks –&nbsp;
        <%= govuk_link_to funded_chromebooks_school_path(@school) do %>
          Change <span class="govuk-visually-hidden">Chromebook preference</span>
        <% end %>
      </p>
      <div class="govuk-inset-text">
        <% if @school.social_care_leaver? %>
          <%= render 'chromebook_ordering_for_care_leavers' %>
        <% else %>
          <p class="govuk-body">
            You’ll get an email after you order asking if you want us to supply
            Chrome Education Upgrades (Chromebook licenses). An educational
            setting will need a license to enrol the device in their Google Admin
            console. This gives them options to manage and secure the device.
          </p>
          <p class="govuk-body">
            Reply to the email to request licenses. You’ll need to provide the
            following information for each pupil’s educational setting:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              the Google domain for Google Workspace for Education Fundamentals (formerly G Suite for Education) - for example
              ‘school.co.uk’
            </li>
            <li>
              a recovery email address, which must be on a different
              domain to the educational setting‘s domain - for example, if
              the registered domain is ‘school.co.uk’, the recovery email
              cannot be ‘recovery@school.co.uk’
            </li>
          </ul>
          <p class="govuk-body">
            The educational setting’s IT support should be able to give you this.
          </p>
          <p class="govuk-body">
            Alternatively, your LA can choose to
            <%= link_to_devices_guidance_subpage 'set up and manage a Google domain', 'google-domain-for-care-leavers-and-children-with-social-worker' %>.
          </p>
          <p class="govuk-body">
            If you do not request licenses, your Chromebooks will be delivered
            with factory settings. Cisco Umbrella web filtering will not be installed.
            Your LA, or the education setting you lend or give the devices to, will
            be responsible for
            <%= link_to_devices_guidance_subpage 'installing safeguarding and security settings', 'safeguarding-for-device-users' %> before
            they’re distributed to pupils.
          </p>
        <% end %>
      </div>
    <% elsif @school.will_not_need_chromebooks? %>
      <p class="govuk-body">
        You have told us you will not order Chromebooks –&nbsp;
        <%= govuk_link_to funded_chromebooks_school_path(@school) do %>
          Change <span class="govuk-visually-hidden">Chromebook preference</span>
        <%- end %>
      </p>
    <% else %>
      <p class="govuk-body">
        You’ve told us you‘re not sure if you‘ll order Chromebooks –&nbsp;
        <%= govuk_link_to funded_chromebooks_school_path(@school) do %>
          Change <span class="govuk-visually-hidden">Chromebook preference</span>
        <% end %>
      </p>
      <div class="govuk-inset-text">
        <% if @school.social_care_leaver? %>
          <p class="govuk-body">
            If you do order them, you’ll get an email asking if you want us to supply
            Chrome Education Upgrades (Chromebook licenses). If a care leaver is in
            education, their educational setting will need a license to enrol the device in
            their Google Admin console (if they have one). This gives them options to
            manage and secure the device.
          </p>
          <p class="govuk-body">
            Reply to the email to request licenses. You’ll need to provide the following
            information for each care leaver’s educational setting:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              the Google domain for Google Workspace for Education
              Fundamentals (formerly G Suite for Education) - for example
              ‘school.co.uk’
            </li>
            <li>
              a recovery email address, which must be on a different domain to
              the educational setting‘s domain - for example, if the registered
              domain is ‘school.co.uk’, the recovery email cannot be
              ‘recovery@school.co.uk’
            </li>
          </ul>
          <p class="govuk-body">
            The educational setting’s IT support should be able to give you this.
          </p>
          <p class="govuk-body">
            If you’re ordering for a care leaver who is not in education, and you cannot
            provide Google Workspace for Education details for them, your
            Chromebooks will be delivered with factory settings. Cisco Umbrella web
            filtering will not be installed. Your LA will be responsible for
            <%= link_to_devices_guidance_subpage 'installing safeguarding and security settings', 'safeguarding-for-device-users' %>
            before they’re distributed to care
            leavers.
          </p>
          <p class="govuk-body">
            Alternatively, your LA can choose to
            <%= link_to_devices_guidance_subpage 'set up and manage a Google domain', 'google-domain-for-care-leavers-and-children-with-social-worker' %>.
          </p>
        <% else %>
          <p class="govuk-body">
            If you do order them, you‘ll get an email asking if you want us to
            supply Chrome Education Upgrades (Chromebook licenses). An
            educational setting will need a license to enrol the device in their
            Google Admin console. This gives them options to manage and
            secure the device.
          </p>
          <p class="govuk-body">
            Reply to the email to request licenses. You’ll need to provide the
            following information for each pupil’s educational setting:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              the Google domain for Google Workspace for Education Fundamentals (formerly G Suite for Education) - for example ‘school.co.uk’
            </li>
            <li>
              a recovery email address, which must be on a different domain to the educational setting‘s domain - for example, if the registered domain is ‘school.co.uk’, the recovery email cannot be ‘recovery@school.co.uk’
            </li>
          </ul>
          <p class="govuk-body">
            The educational setting’s IT support should be able to give you this.
          </p>
          <p class="govuk-body">
            Alternatively, your LA can choose to
            <%= link_to_devices_guidance_subpage 'set up and manage a Google domain', 'google-domain-for-care-leavers-and-children-with-social-worker' %>.
          </p>
          <p class="govuk-body">
            If you do not request licenses, your Chromebooks will be delivered
            with factory settings. Cisco Umbrella web filtering will not be installed.
            Your LA, or the education setting you lend or give the devices to, will
            be responsible for <%= link_to_devices_guidance_subpage 'installing safeguarding and security settings', 'safeguarding-for-device-users' %> before
            they’re distributed to pupils.
          </p>
        <% end %>
        <%= govuk_link_to 'Tell us if you’ll order Google Chromebooks', funded_chromebooks_school_path(@school) %>
      </div>
    <% end %>

    <h2 class="govuk-heading-m">Your laptops will be delivered to:</h2>
    <p class="govuk-body">
      <% @school.address_components.each do |address_line| %>
        <%= address_line %><br/>
      <% end -%>
    </p>
    <p class="govuk-body">
      <%= govuk_link_to 'Contact us to change your delivery address.', support_ticket_path %>
    </p>

    <h2 class="govuk-heading-m">Information for your order</h2>
    <p class="govuk-body">
      You’ll place your order on a website called TechSource.
    </p>
    <p class="govuk-body">
      When you’re asked for a URN, use ‘<strong><%= @school.urn %></strong>’.
    </p>
    <p class="govuk-body">
    <% devices_available = @school.std_device_allocation.devices_available_to_order %>
    If you place an order for more than <%= "#{devices_available} #{'laptop'.pluralize(devices_available)}" %>, your order will be cancelled.
    </p>
    <p class="govuk-body">
      You can order all of your laptops at once, or place multiple orders.
    </p>

    <h2 class="govuk-heading-m">How to sign in to TechSource for the first time</h2>
    <p class="govuk-body">Use these details to sign in:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>User ID: <%= current_user.email_address %></li>
      <li>Password: Use the ‘Forgotten password’ link to set a password the first time you sign in</li>
    </ul>
    <%= govuk_start_button_link_to('Start now', techsource_start_path, class: 'govuk-!-margin-bottom-3', target: '_blank') -%>
    <p class="govuk-body-s">on TechSource in a new window</p>
  </div>
</div>
