<%- title = @school.name %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs(school: @school, user: impersonated_or_current_user, items: 'Your account') %>
<%- end %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= title %></span>
      Your account
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <div class="app-card">
      <h2 class="govuk-heading-m">
        Ordering is now closed for devices and internet access
      </h2>
      <p class="govuk-body">
        From <span class="app-no-wrap">September 2020</span> to <span class="app-no-wrap">July 2021</span>, you <%= @school.institution_type %> received:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>100 laptops and tablets</li>
        <li>10 routers</li>
        <li>extra mobile data for 10 accounts</li>
      </ul>
    </div>

    <%= render partial: 'shared/summary_access_to_support_portal' %>
    <%= render partial: 'shared/summary_reset_devices' %>

    <%= render partial: 'shared/summary_order_history' %>
  </div>
</div>
