<%- title = @school.name %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs(school: @school, user: impersonated_or_current_user, items: 'Your account') %>
<%- end %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= title %></span>
      Your account
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <%= render AllocationComponentFactory.create_component(@school) %>
    <%= render partial: 'shared/summary_reset_devices' if @has_ordered %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_order_devices'), order_devices_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>order laptops</li>
      <li>access the TechSource website to order devices</li>
      <% unless @school.social_care_leaver? %>
        <li>order devices for children arriving under Operation Warm Welcome.</li>
      <% end %>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.signed_in_internet_access') , internet_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>manage 4G routers</li>
      <li>see your Huawei router password.</li>
    </ul>

    <% if @display_organisation_details %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to t('page_titles.school_details'), details_school_path(@school) %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>review your allocation</li>
        <li>review your Chromebook settings.</li>
      </ul>
    <% end %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_users'), school_users_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give other people access to this service</li>
      <li>set which accounts can use TechSource to order.</li>
    </ul>

    <%= render partial: 'summary_order_history' if @has_ordered && (@current_user.orders_devices? || @has_ordered_routers) %>
  </div>
</div>
