<%- title = @school.name %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs(school: @school, user: @current_user, items: title) %>
<%- end %>
<%- content_for :title, title %>

<%= render partial: 'shared/banners/school' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_order_devices'), order_devices_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>place orders</li>
      <li>access the Computacenter TechSource website to order devices</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to 'Get internet access', internet_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <% if @school.show_mno? %>
        <li>request extra data for mobile devices</li>
        <li>check the status of your data requests</li>
      <% end %>
      <li>request 4G wireless routers</li>
    </ul>

    <% if FeatureFlag.active?(:donated_devices) && @school.who_will_order_devices == 'school' %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to 'Opt in to the Daily Mail’s donated devices scheme', interest_donated_devices_school_path(@school) %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>opt in and be considered for devices donated through their scheme</li>
        <li>set a preference for devices you want</li>
      </ul>
    <% end %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_details'), details_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>review your allocation</li>
      <!-- change this to 'change' when we do the change functionality -->
      <li>review your Chromebook settings</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_users'), school_users_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give other people access to this service</li>
      <li>set which accounts can use TechSource and use the <span class="app-no-wrap">Support Portal</span></li>
    </ul>
  </div>
</div>
