<%- title = @school.name %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs(school: @school, user: impersonated_or_current_user, items: 'Your account') %>
<%- end %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= title %></span>
      Your account
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <%= render AllocationComponentFactory.create_component(@school) %>
    <%= render partial: 'shared/summary_reset_devices' if @has_ordered %>

    <%= render partial: 'shared/home/order_history' %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.signed_in_internet_access') , internet_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>manage 4G routers</li>
      <li>see your Huawei router password.</li>
    </ul>

    <% if @display_organisation_details %>
      <h2 class="govuk-heading-l govuk-!-font-size-27">
        <%= govuk_link_to t('page_titles.school_details'), details_school_path(@school) %>
      </h2>

      <p class="govuk-body">Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>review your allocation</li>
        <li>review your Chromebook settings.</li>
      </ul>
    <% end %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.view_users'), school_users_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>see your setting's users.</li>
    </ul>
  </div>
</div>
