<%- title = @school.name %>
<%- if @user.has_multiple_schools? %>
  <%- content_for :before_content do %>
    <% breadcrumbs([
      { 'Your schools' => schools_path },
      title,
    ]) %>
  <% end %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <% if FeatureFlag.active?(:reduced_allocations) %>
      <div class="govuk-warning-text govuk-!-margin-bottom-2">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <span class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <% if @allocation.zero? %>
            <h2 class="govuk-heading-m govuk-!-font-weight-bold">We removed your allocation because of<br />delays in the global supply chain</h2>
            <p class="govuk-body">
              Only schools with children in years 6, 10 and 11 will be able to order their allocation of laptops and tablets. We’ve made this difficult decision so we can target support at disadvantaged children in key exam or transition years.</p>
            <p class="govuk-body">
              <%= govuk_link_to('More about this change to your allocation', reduced_allocation_school_path(@school)) %>
            </p>
          <% else %>
            <h2 class="govuk-heading-m govuk-!-font-weight-bold">We reduced your allocation because of<br />delays in the global supply chain</h2>
            <p class="govuk-body">
              <%= govuk_link_to('More about your reduced allocation', reduced_allocation_school_path(@school)) %>
            </p>
          <% end %>
        </span>
      </div>
    <% end %>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_order_devices'), order_devices_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check if you can place orders</li>
      <li>access the Computacenter TechSource website to order devices</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_request_devices'), request_devices_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to request devices for children who:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>are shielding on official advice</li>
      <li>cannot attend school because they live in a different area with coronavirus restrictions</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_details'), details_school_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>review your allocation</li>
      <!-- change this to 'change' when we do the change functionality -->
      <li>review your Chromebook settings</li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      <%= govuk_link_to t('page_titles.school_users'), school_users_path(@school) %>
    </h2>

    <p class="govuk-body">Use this section to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>give others in your school access to this service</li>
      <li>set up accounts for your school to order devices</li>
    </ul>
  </div>
</div>
