<%- title = t('page_titles.school_specific_circumstances') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs items: title, school: @school, user: @user %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= title %></h1>

   <p class="govuk-body">Full support is only available when you use the <%= link_to_ed_settings_form %> to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>report a closure</li>
      <li>tell us that more than 15 children are self-isolating</li>
    </ul>

    <p class="govuk-body">Partial support is available for specific circumstances.</p>

    <h2 class="govuk-heading-m">Specific circumstances</h2>

    <p class="govuk-body">You can get help immediately for disadvantaged children from any year group who:</p>
    <%= render partial: 'shared/devices/who_to_request_for_list' %>

    <h2 class="govuk-heading-m">Help available</h2>

    <ul class="govuk-list">
      <li><%= govuk_link_to 'Request devices for specific circumstances', request_devices_school_path(@school) %></li>
      <li><%= govuk_link_to 'Request extra mobile data for specific circumstances', internet_school_path(@school) %></li>
    </ul>
  </div>
</div>
