<%= form_for @form, method: :get, url: support_extra_mobile_data_requests_path, as: 'emdr_search' do |f| %>
  <%= f.govuk_error_summary %>
  <p class="govuk-body">Search by 1 or more piece of information.</p>
  <%= f.govuk_text_field :request_id, label: {text: 'Request ID'}, size: 'm', width: 'one-quarter' %>
  <%= f.govuk_text_field :urn_or_ukprn, label: {text: 'School URN or UKPRN'}, size: 'm', width: 'one-quarter' %>
  <%= f.govuk_collection_select   :rb_id,
                                  @form.select_responsible_body_options,
                                  :id,
                                  :name,
                                  label: { text: 'Responsible body' } %>
  <%= f.govuk_collection_select   :mno_id,
                                  @form.mobile_network_options,
                                  :value,
                                  :label,
                                  label: { text: 'Mobile network' } %>
  <%= f.govuk_collection_select   :status,
                                  @form.status_options,
                                  :value,
                                  :label,
                                  label: { text: 'Status' } %>
  <%= f.govuk_submit 'Search' %>
<%- end %>
