<%- title = t('page_titles.support_extra_mobile_data_requests') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                   { "Support home" => support_home_path },
                   title
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= govuk_details(summary: 'Search for requests') do %>
      <%= render partial: 'support/extra_mobile_data_requests/search_form' %>
    <%- end %>

    <% if @requests.any? %>
      <%= render partial: 'shared/internet/help_with_statuses', locals: { statuses_with_descriptions: @statuses_with_descriptions } %>
    <% end %>
  </div>
</div>

<% if @requests.any? %>
  <p class="govuk-body">Showing <%= 'request'.pluralize(@requests.count) %> <%= @pagination.from %> - <%= @pagination.to %> of <%= @pagination.count %></p>
  <table class="govuk-table requests">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Request ID</th>
        <th class="govuk-table__header">Mobile Network</th>
        <th class="govuk-table__header">Account holder</th>
        <th class="govuk-table__header">Mobile number</th>
        <th class="govuk-table__header">Requested</th>
        <th class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%- for emd_request in @requests do %>
        <tr class="govuk-table__row" id="request-<%= emd_request.id %>">
          <td class="govuk-table__cell"><%= emd_request.id %></td>
          <td class="govuk-table__cell brand"><%= emd_request.mobile_network.try(:brand) %></td>
          <td class="govuk-table__cell"><%= redact(emd_request.account_holder_name, first: 1, last: 1) %></td>
          <td class="govuk-table__cell"><%= redact(emd_request.device_phone_number, first: 2, last: 4) %></td>
          <td class="govuk-table__cell">
            <%= emd_request.created_at.to_date.to_s(:govuk) %>
            <br />by
            <%- if emd_request.school.present? %>
              <%= govuk_link_to "#{emd_request.school.name} (#{emd_request.school.urn})", support_school_path(urn: emd_request.school.urn) %>
            <%- else %>
              <%= govuk_link_to emd_request.responsible_body.name, support_responsible_body_path(emd_request.responsible_body_id) %>
            <%- end %>
          <td class="govuk-table__cell">
            <%= render ExtraMobileDataRequestStatusComponent.new(status: emd_request.status) %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
  <%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
<%- else %>
  <p class="govuk-body">No requests to display</p>
<% end %>
