<% title = t('page_titles.computacenter.closed_schools') %>
<% content_for :title, title %>
<% content_for :before_content, govuk_link_to('Back', computacenter_home_path, class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
  </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-third">
    <%= render Computacenter::TileLinkComponent.new(
      count: @total_count,
      label: 'with restrictions',
      path: computacenter_closed_schools_path(view: 'all'),
      selected: @view_mode.blank? || @view_mode == 'all')
    %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render Computacenter::TileLinkComponent.new(
      count: @specific_circumstances_count,
      label: 'partially closed',
      path: computacenter_closed_schools_path(view: 'partially-closed'),
      selected: @view_mode == 'partially-closed')
    %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render Computacenter::TileLinkComponent.new(
      count: @closed_count,
      label: 'fully closed',
      path: computacenter_closed_schools_path(view: 'fully-closed'),
      selected: @view_mode == 'fully-closed')
    %>
  </div>
</div>
<table class="govuk-table" id="closed-schools">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">RB Type</th>
      <th scope="col" class="govuk-table__header">RB Name</th>
      <th scope="col" class="govuk-table__header">RB URN</th>
      <th scope="col" class="govuk-table__header">Sold To</th>
      <th scope="col" class="govuk-table__header">School URN</th>
      <th scope="col" class="govuk-table__header">School Name</th>
      <th scope="col" class="govuk-table__header">Ship To</th>
      <th scope="col" class="govuk-table__header">Device Cap</th>
      <th scope="col" class="govuk-table__header">Router Cap</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @schools.each do |school| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= school.responsible_body.humanized_type %></td>
        <td class="govuk-table__cell"><%= school.responsible_body.computacenter_name %></td>
        <td class="govuk-table__cell"><%= school.responsible_body.computacenter_identifier %></td>
        <td class="govuk-table__cell"><%= school.responsible_body.computacenter_reference %></td>
        <td class="govuk-table__cell"><%= school.urn %></td>
        <td class="govuk-table__cell"><%= school.name %></td>
        <td class="govuk-table__cell"><%= school.computacenter_reference %></td>
        <td class="govuk-table__cell"><%= school.std_device_allocation&.cap %></td>
        <td class="govuk-table__cell"><%= school.coms_device_allocation&.cap %></td>
      </tr>
    <%- end %>
  </tbody>
</table>
<div class="govuk-body govuk-grid-row">
  <div class="govuk-grid-column-one-half">
  <h4 class="govuk-heading-m govuk-!-margin-top-4">
    <%= pagy_info(@pagination, "schools").capitalize.html_safe %>
  </h4>
  </div>
  <div class="govuk-grid-column-one-half">
    <%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
  </div>
</div>
