<%- title = t('page_titles.edit_responsible_body_user') %>
<%- content_for :title, title_with_error_prefix(title, @user.errors.any?) %>
<%- content_for :before_content, govuk_link_to('Back', support_responsible_body_path(@responsible_body), class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
    <%= form_for @user, url: support_responsible_body_user_path(@responsible_body, @user, pilot: 'devices') do |f| %>
      <%= render partial: 'shared/responsible_body_user_form', locals: { submit_text: 'Save changes', form: f } %>
    <%- end %>

    <%= form_for @user, url: support_responsible_body_user_path(@responsible_body, @user), method: :delete do |f| %>
      <%= f.govuk_submit 'Delete user', warning: true %>
    <%- end %>
  </div>
</div>
