<%- title = t('page_titles.school_user_welcome_wizard.allocation.title', allocation: @allocation) %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step) do |f| %>
      <%= f.hidden_field :step %>
      <h1 class="govuk-heading-xl">
        <%- if impersonated_or_current_user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

        <p class="govuk-body">Your allocation of <%= @allocation %> is based on an estimate of the number of devices your school, college or <span class="app-no-wrap">further education institution</span> already has and the number of:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>pupils in years 3 to 11</li>
          <li>pupils who get free school meals</li>
          <li>students in 16 to 19 further education</li>
          <li>students who get free meals in further education</li>
        </ul>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <%= govuk_link_to 'Read more about allocations', devices_allocation_and_specification_path, target: '_blank' %>
      </p>

      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
