<%- title = t('page_titles.school_user_welcome_wizard.devices_you_can_order.title') %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step) do |f| %>
      <%= f.hidden_field :step %>
      <h1 class="govuk-heading-xl">
        <%- if impersonated_or_current_user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

      <p class="govuk-body">Your organisation will own the devices. It’s up to you to decide who will benefit most from them.</p>

      <p class="govuk-body">You can choose from:</p>
      <%= render partial: 'shared/device_list' %>

      <p class="govuk-body govuk-!-margin-bottom-6"><%= link_to_devices_guidance_subpage 'Read more about the device specifications', 'device-specification', target: '_blank' %></p>

      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
