<%- who_orders = @user.orders_devices? ? 'school_user' : 'school' %>
<%- title = t("page_titles.school_user_welcome_wizard.order_your_own.#{who_orders}.title") %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step) do |f| %>
      <%= f.hidden_field :step %>
      <h1 class="govuk-heading-l">
        <%- if @user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

      <p class="govuk-body"><%= t("page_titles.#{who_orders}_cannot_order_devices.can_order_when") %></p>

      <ul class="govuk-list govuk-list--bullet">
        <% t('pages.order_devices.can_order_full_allocation_when_list').each do |li| %>
          <li><%= li %></li>
        <% end %>
      </ul>

      <p class="govuk-body">If your school reports disruption through the <%= link_to 'DfE educational settings status form', 'https://form.education.gov.uk/service/educational-setting-status' %> we will contact you about placing orders.</p>

      <h2 class="govuk-heading-m">Get devices earlier for specific circumstances</h2>

      <%= render partial: 'shared/devices/who_to_request_for' %>

      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
