<%- who_orders = @user.orders_devices? ? 'school_user' : 'school' %>
<%- title = t("page_titles.school_user_welcome_wizard.order_your_own.#{who_orders}.title") %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step) do |f| %>
      <%= f.hidden_field :step %>

      <h1 class="govuk-heading-l">
        <%- if @user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

      <p class="govuk-body">
        You’ll be able to order your current device allocation during term time if you use the <%= link_to_ed_settings_form %> to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>report a closure</li>
        <li>tell us that more than 15 children are self-isolating</li>
      </ul>

      <p class="govuk-body">
        If the number of pupils unable to attend school and in need of devices is greater than your allocation at that time, you can email <%= ghwt_contact_mailto %> to request more. We’ll only be able to approve such requests in exceptional circumstances.
      </p>

      <p class="govuk-body">
        You can still request extra devices for clinically extremely vulnerable children in any year group.
      </p>

      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
