<%- title = t('page_titles.school_user_welcome_wizard.techsource_account.title') %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step) do |f| %>
      <%= f.hidden_field :step %>
      <h1 class="govuk-heading-xl">
        <%- if impersonated_or_current_user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

      <p class="govuk-body">You will need to place orders on a website called TechSource, which is run by Computacenter.</p>

      <p class="govuk-body">We will create a TechSource account for you. You’ll get an email with instructions about your account when it is ready.</p>

      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
