<%- title = t('page_titles.school_user_welcome_wizard.what_happens_next.title') %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step) do |f| %>
      <%= f.hidden_field :step %>
      <h1 class="govuk-heading-xl">
        <%- if impersonated_or_current_user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

      <p class="govuk-body">You can continue to use this service to:</p>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>check how many devices you can order</li>
        <li>request 4G wireless routers</li>
        <li>add more users</li>
        <li>change your Chromebook settings</li>
      </ul>

      <%= f.govuk_submit (impersonated_or_current_user.has_multiple_schools? ? "Finish and go to #{@school.institution_type} overview" : "Finish and go to homepage" ) %>
    <%- end %>
  </div>
</div>
