<%- title = t('page_titles.school_user_welcome_wizard.what_happens_next.title') %>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step) do |f| %>
      <%= f.hidden_field :step %>
      <h1 class="govuk-heading-xl">
        <%- if @user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

      <p class="govuk-body">You can continue to use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add more users</li>
        <li>change your Chromebook settings</li>
        <li>review your allocation</li>
        <li>request devices for clinically vulnerable children who are shielding</li>
      </ul>

      <p class="govuk-body govuk-!-margin-bottom-6">If your school reports a closure or a group of self-isolating children, we’ll contact you as soon as you’re able to place orders.</p>

      <%= f.govuk_submit (@user.has_multiple_schools? ? 'Finish and go to school page' : 'Finish and go to homepage' ) %>
    <%- end %>
  </div>
</div>
