<%-
  scope = 'page_titles.school_user_welcome_wizard.will_other_order'
  title = t('title', scope: scope)
%>
<%- content_for :title, title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @wizard, url: welcome_wizard_school_path(step: @wizard.step),
      html: { autocomplete: 'off' } do |f| %>
      <%= f.hidden_field :step %>
      <h1 class="govuk-heading-xl">
        <%- if impersonated_or_current_user.has_multiple_schools? %><span class="govuk-caption-l"><%= @school.name %></span><%- end %>
        <%= title %>
      </h1>

      <%= render partial: 'shared/invite_someone_who_can' %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :invite_user, legend: nil do %>
        <%= f.govuk_radio_button :invite_user,
                                 'yes',
                                 label: { text: t(:yes_label, scope: scope) } do %>
        <%= render partial: 'shared/school_user_form', locals: { form: f, nested: true } %>
      <%- end %>
      <%= f.govuk_radio_button :invite_user,
                               'no',
                               label: { text: t(:no_label, scope: scope) } %>
      <%- end %>
      <%= f.govuk_submit 'Continue' %>
    <%- end %>
  </div>
</div>
