<% content_for :title, t('landing_pages.guides_parents_carers_students.title') %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('landing_pages.guides_parents_carers_students.title'),
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <%= t('landing_pages.guides_parents_carers_students.title' ) %>
    </h1>

    <p class="govuk-body-l">
      <%= t('landing_pages.guides_parents_carers_students.details') %>
    </p>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      Laptops and tablets guides
    </h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to t('devices_guidance.getting_started_with_your_microsoft_windows_device.title'), '/devices/getting-started-with-your-microsoft-windows-device'%>
      </li>
      <li>
        <%= govuk_link_to t('devices_guidance.getting_started_with_your_google_chromebook.title'), '/devices/getting-started-with-your-google-chromebook'%>
      </li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-top-7">
      4G wireless router guides
    </h2>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <%= govuk_link_to t('devices_guidance.4g_user_guidance.title'), '/devices/4g-user-guidance'%>
      </li>
    </ul>
  </div>
</div>
