<%- title = t('page_titles.support_bulk_allocation') %>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= breadcrumbs([
    { 'Support home' => support_home_path },
    { t('page_titles.support.schools.home') => support_schools_path },
    title,
  ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= form_for @form, url: allow_ordering_for_many_schools_support_schools_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>

      <p class="govuk-body">These schools, colleges or FE institutions can place orders because they have reported a closure or a group of self-isolating pupils or students.</p>

      <%= f.govuk_text_area :school_urns,
                            label: { text: 'URNs', size: 'm' },
                            hint: { text: 'Enter one URN per line' },
                            rows: 15 %>

      <%= f.govuk_submit 'Enable full allocations' %>
    <%- end %>

  </div>
</div>
