<%- title = t('page_titles.support_bulk_allocation') %>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= breadcrumbs([{ "Home" => root_path },
                   { 'Support home' => support_home_path },
                   { t('page_titles.support.schools.home') => support_schools_path },
                   title,
                  ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <%= form_for @form, url: allow_ordering_for_many_schools_support_schools_path, method: :patch, multipart: true do |f| %>
      <%= f.govuk_error_summary %>

      <p class="govuk-body">
        Download one of the example files below and populate it with schools along with their updated allocation and
        whether or not they can order:
      </p>

      <ul>
        <li class="govuk-body">
          <a class="govuk-link" href="/examples/allocation-upload-1.csv">example-1.csv</a> illustrating the use of
          deltas to alter allocations.
        </li>
        <li class="govuk-body">
          <a class="govuk-link" href="/examples/allocation-upload-2.csv">example-2.csv</a> illustrating the use of
          absolute values to alter allocations. This is the prefered usage as it can be performed multiple times in case
          of error,
        </li>
        <li class="govuk-body">
          <a class="govuk-link" href="/examples/allocation-upload-3.csv">example-3.csv</a> illustrating the use of
          deltas for some schools and absolute values for others.
        </li>
      </ul>

      <%= f.govuk_file_field :upload,
                             label: { text: 'CSV', size: 'm' },
                             hint: { text: 'Upload CSV' } %>

      <% send_notification_options = [
        OpenStruct.new(id: true, name: 'Yes'),
        OpenStruct.new(id: false, name: 'No'),
      ] %>

      <%= f.govuk_collection_radio_buttons :send_notification,
                                           send_notification_options,
                                           :id,
                                           :name,
                                           legend: { text: 'Send user notifications?' },
                                           hint: { text: 'If yes, users will receive automated messages from the service. Otherwise users will not receive automated messages from the service.' } %>

      <%= f.govuk_submit 'Upload allocations' %>
    <%- end %>

  </div>
</div>
