<%- pass_through_params = {support_enable_orders_form: {order_state: @form.order_state, device_cap: @form.device_cap}} %>
<%- content_for :before_content, govuk_back_link(text: 'Back', href: support_school_devices_enable_orders_path({school_urn: @school.urn}.merge(pass_through_params))) %>
<%- title = t('page_titles.support_order_status.confirm_enable_orders') %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= title %>
    </h1>

    <%= render Support::EnableOrdersConfirmSummaryListComponent.new(
      order_state: @form.order_state,
      device_cap: @form.device_cap,
      router_cap: @form.router_cap,
      device_allocation: @device_allocation,
      router_allocation: @router_allocation,
      change_path: support_school_devices_enable_orders_path(@school.urn, pass_through_params)) %>

    <% if @form.will_enable_orders? %>
      <%= render partial: 'what_happens_next' %>
    <% end %>

    <%= form_for @form, url: support_school_devices_enable_orders_path(@school.urn), method: :patch do |f| %>
      <%= hidden_field_tag :confirm, true %>

      <%= f.hidden_field :order_state %>
      <%= f.hidden_field :device_cap %>
      <%= f.hidden_field :router_cap %>

      <%= f.govuk_submit 'Confirm', classes: 'govuk-!-margin-top-6' %>
    <%- end %>
  </div>
</div>
