<%-
  title = t('page_titles.support_bulk_allocation_result')
%>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= govuk_back_link(text: 'Back', href: devices_enable_orders_for_many_schools_support_schools_path) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl"><%= title %></h1>

    <p class="govuk-body">We found <%= @summary.urn_count %> <%= 'URN'.pluralize(@summary.urn_count) %> in your request:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><%= @summary.failure_count %> <%= 'error'.pluralize(@summary.failure_count) %></li>
      <li><%= @summary.success_count %> allocated successfully</li>
    </ul>
  </div>
</div>

<% if @summary.failures.any? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-4"><%= "#{@summary.failure_count} #{'error'.pluralize(@summary.failure_count)} found" %></h2>
  <div class="govuk-form-group--error">
    <p class="govuk-error-message">Fix the errors in your request and try again</p>

    <table class="govuk-table requests-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">URN</th>
          <th class="govuk-table__header">Error</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @summary.failures.each do |row| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <%= row[:urn] %>
            </td>
            <td class="govuk-table__cell">
              <span class="govuk-error-message govuk-!-margin-bottom-0"><%= row[:message] %></span>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
<%- end %>

<% if @summary.success.any? %>
  <h2 class="govuk-heading-l govuk-!-margin-top-4">
    <%= "#{@summary.success_count} #{'allocation'.pluralize(@summary.success_count)} completed" %>
  </h2>
  <table class="govuk-table requests-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">URN</th>
        <th class="govuk-table__header">Name</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% @summary.success.each do |row| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= row[:urn] %>
          </td>
          <td class="govuk-table__cell">
            <%= row[:message] %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
<%- end %>
<%= govuk_button_link_to('Finish', devices_enable_orders_for_many_schools_support_schools_path) %>
