<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('page_titles.computacenter.home') %>
    </h1>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to 'Download TechSource users', computacenter_user_ledger_path(format: :csv) %>
    </h2>

    <p class="govuk-body">Download a CSV file of all users with permission to place orders on TechSource.</p>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to 'Update TechSource users', computacenter_techsource_path %>
    </h2>

    <p class="govuk-body">Tell us which email addresses have had TechSource accounts created for them.</p>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to 'Download Chromebook details', computacenter_chromebooks_path(format: :csv) %>
    </h2>

    <p class="govuk-body">Download a CSV file of Google Chromebook details for schools.</p>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to "Changes to schools (#{School.requiring_a_new_computacenter_reference.count})", computacenter_school_changes_path %>
    </h2>

    <p class="govuk-body">Review and update Ship To references for schools that have changed.</p>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to "Changes to responsible bodies (#{ResponsibleBody.requiring_a_new_computacenter_reference.count})", computacenter_responsible_body_changes_path %>
    </h2>

    <p class="govuk-body">Review and update Sold To references for responsible bodies that have changed.</p>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to 'Responsible bodies managing multiple Chromebook domains', computacenter_multi_domain_chromebooks_path %>
    </h2>

    <p class="govuk-body">View details of responsible bodies that manage schools with multiple Chromebook domains.</p>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to 'ISS or Social Care LAs managing multiple Chromebook domains', computacenter_multi_domain_chromebooks_iss_scl_path %>
    </h2>

    <p class="govuk-body">View details of a ISS or Social care account that manage schools with multiple Chromebook domains.</p>

    <h2 class="govuk-heading-m">
      <%= govuk_link_to 'Download donated device requests', computacenter_donated_device_requests_path(format: :csv) %>
    </h2>

    <p class="govuk-body">Download a CSV file of opt-in requests for Mail Force donated devices.</p>

    <% if policy(:support).readable? %>
      <h2 class="govuk-heading-m">
        <%= govuk_link_to 'Support home', support_home_path %>
      </h2>

      <p class="govuk-body">Use this section to browse responsible bodies, find users and find schools.</p>
    <% end %>
  </div>
</div>
