<% content_for :title, @title %>
<% content_for :browser_title, @title %>

<% content_for :before_content do %>
  <% breadcrumbs([{ 'Home' => root_path },
                  { 'View your device details' => assets_path },
                  @title,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      <%= @title %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      Search any serial number in our database. You can search for up to 5 serial numbers at once. Use commas to separate each serial number.
    </p>

    <%= form_with url: search_assets_path do |f| %>
      <%= f.govuk_text_field :serial_number,
                             label: { text: 'Enter a serial number', size: 'm' }, value: @current_serial_number_search || '' %>

      <%= f.govuk_submit 'Search' %>
    <% end %>
  </div>
</div>

<% if action_name == 'index' && !current_user.is_support? %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
      <p class="govuk-body">This page shows you all the devices associated with your organisation. You can also search our database for a device by entering its serial number.</p>
    </div>
  </div>
<% end %>

<% if @csv_download && @assets.any? %>
  <%= link_to "Export to CSV", assets_path(format: 'csv'), class: 'govuk-button govuk-button--secondary' %>
<% end %>

<table class="govuk-table">
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <% width = current_user.is_support? ? '14' : '20' %>
    <th class="govuk-table__header app-schools-table__column-<%= width -%>">Serial/IMEI</th>
    <th class="govuk-table__header app-schools-table__column-<%= width -%>">Model</th>
    <th class="govuk-table__header app-schools-table__column-<%= width -%>">Local Authority/Academy Trust</th>
    <th class="govuk-table__header app-schools-table__column-<%= width -%>">School/College</th>
    <% if current_user.is_support? %>
      <th class="govuk-table__header app-schools-table__column-<%= width -%>">Sold To</th>
      <th class="govuk-table__header app-schools-table__column-<%= width -%>">Ship To</th>
    <% end %>
    <th class="govuk-table__header app-schools-table__column-<%= width -%>">View your BIOS/admin passwords and hardware hash</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% @assets.each do |asset| %>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><%= asset.serial_number %></td>
      <td class="govuk-table__cell"><%= asset.model %></td>
      <td class="govuk-table__cell"><%= asset.department %></td>
      <td class="govuk-table__cell"><%= asset.location %></td>
      <% if current_user.is_support? %>
        <td class="govuk-table__cell"><%= asset.department_sold_to_id %></td>
        <td class="govuk-table__cell"><%= asset.location_cc_ship_to_account %></td>
      <% end %>
      <td class="govuk-table__cell"><%= asset.has_secret_information? ? link_to('Show', asset) : 'N/A' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              My device does not appear in the search results
            </span>
  </summary>
  <div class="govuk-details__text">
    Check you&rsquo;ve entered the device&rsquo;s serial number correctly, or try copying
    and pasting it into the search box. If you&rsquo;re still unable to find your serial
    number visit
    <%= govuk_link_to 'Get support', support_ticket_path %>.
  </div>
  <div class="govuk-details__text">
    <%= govuk_link_to 'Find out more about warranties and replacing faulty devices', '/devices/replace-a-faulty-device' %>
  </div>
  <div class="govuk-details__text">
    <%= govuk_link_to 'Guide to resetting Windows laptops and tablets', devices_guide_to_resetting_windows_laptops_and_tablets_path %>
  </div>
</details>
