<%- title = t('page_titles.internet_access') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { "Your account" => responsible_body_home_path },
                  title ,
                 ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      Extra data for mobile devices
    </h2>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'Request extra data for mobile devices', responsible_body_internet_mobile_extra_data_guidance_path %>
      </li>
      <li>
        <%= govuk_link_to 'View your requests', responsible_body_internet_mobile_extra_data_requests_path %>
      </li>
    </ul>


    <h2 class="govuk-heading-l govuk-!-font-size-27">
      4G wireless routers
    </h2>
    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <%= govuk_link_to 'What you need to know to request 4G wireless routers', how_to_request_4g_wireless_routers_path %>
      </li>
      <li>
        <%= govuk_link_to 'Request a 4G wireless router', 'https://forms.gle/LE1hi2FAKdedUvCz6' %>
      </li>
    </ul>
  </div>
</div>
