<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 1 } %>

    <h3 class="govuk-heading-m">
      Why do I need this information?
    </h3>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>Local admin password - this allows you to sign into the admin user accounts for laptops and tablets where you can access options to reset the device. This cannot be done from the ‘localuser’ account on the device.</li>
      <li>BIOS password - every laptop and tablet has a system that controls the device, called the BIOS. To protect devices, this system has been password protected. You need the BIOS password so you can complete the reset process.</li>
    </ul>
    
    <p class="govuk-body">You should only share your passwords with trusted users who are resetting laptops and tablets or applying device management and content filtering settings.</p>
    
    <h3 class="govuk-heading-m">
      Get passwords
    </h3>
    
    <p class="govuk-body">If you’re resetting Dynabook A30 laptops, <%= govuk_link_to 'contact us', 'get_support_path' %> to request your passwords.</p>

    <p class="govuk-body">For all other device types, log in to the <%= govuk_link_to 'Support Portal', 'https://computacenterprod.service-now.com/dfe' %> and select the ‘Device BIOS & Local Admin Passwords’ option.</p>    

    <div class="govuk-inset-text">If you can’t see this option or are unable to access the Support Portal, ask another person in your organisation if they have this information or <%= govuk_link_to 'contact us', 'get_support_path' %>.</div>
    
    <p class="govuk-body">To get local admin and BIOS password information for your devices you can either:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Export a spreadsheet (in .XLS format) containing information for all devices by clicking the ‘Download Full Data Sheet’ button</li>
      <li>Use the search filters to find information for specific devices by serial or model number - click the icon next to each to reveal details</li>
    </ul>    

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
