<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 3 } %>

    <p class="govuk-body">To reset devices, you need to access the device BIOS and reset the password.</p>

    <p class="govuk-body">When you’ve completed this stage, remember to work through the rest of the guidance to the end.</p>

    <h3 class="govuk-heading-m">
      How to access the BIOS for your device
    </h3>
    <p class="govuk-body">
      If your specific device is not listed below, follow the
      <%= govuk_link_to 'instructions for other makes and models', '#other-makes-models' %>.
    </p>
    <p class="govuk-body">
      If you have any issues during this process, take screenshots of the stage(s) you&rsquo;re unable
      to complete and
      <%= govuk_link_to 'contact us', support_ticket_path %>
      for technical support.
    </p>

    <%= render GovukComponent::AccordionComponent.new do |component| %>
      <%= component.section(heading_text: "Acer (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ol class="govuk-list govuk-list--number">
            <li>From the Windows Start menu, select the power icon</li>
            <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
            <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
            <li>On the &lsquo;Advanced Options&rsquo; screen, select &lsquo;UEFI Firmware settings&rsquo;</li>
            <li>Select &lsquo;Restart&rsquo;</li>
            <li>The device will boot into BIOS</li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the &lsquo;Security&rsquo; tab and &lsquo;Set Supervisor Password&rsquo;</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Press &lsquo;Enter&rsquo; and when you see &lsquo;Changes have been saved&rsquo;, select &lsquo;Continue&rsquo;</li>
            <li>Press F10 to save and exit &ndash; confirm by selecting &lsquo;Yes&rsquo;</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "ASUS (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ol class="govuk-list govuk-list--number">
            <li>From the Windows Start menu, select the power icon</li>
            <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
            <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
            <li>On the &lsquo;Advanced Options&rsquo; screen, select &lsquo;UEFI Firmware settings&rsquo;</li>
            <li>Select &lsquo;Restart&rsquo;</li>
            <li>The device will boot into BIOS</li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Press F7 for Advanced Mode</li>
            <li>Select the &lsquo;Security&rsquo; tab and &lsquo;Setup Administrator Password&rsquo;</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select the &lsquo;Save & Exit&rsquo; tab</li>
            <li>Select &lsquo;Save Changes and Exit&rsquo;, then confirm when prompted</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "Dell (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ol class="govuk-list govuk-list--number">
            <li>If the device is on, shut it down fully from the Windows Start menu</li>
            <li>
              Press the power button and immediately press F2 key repeatedly (multiple presses,
              not holding the key down)
            </li>
            <li>Keep pressing the F2 key until you&rsquo;re prompted for the &lsquo;Supervisor Password&rsquo;</li>
            <li>
              If you&rsquo;re not asked for this password, you may not have timed pressing F2 correctly &ndash; shut the device
              down fully and try again
            </li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the &lsquo;Security&rsquo; tab and &lsquo;Administrator Password&rsquo;</li>
            <li>If asked, enter the current BIOS password</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select the &lsquo;Exit&rsquo; menu</li>
            <li>Select &lsquo;Save Changes and Exit&rsquo;, then confirm if prompted</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "Dynabook (A30)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ol class="govuk-list govuk-list--number">
            <li>If the device is on, shut it down fully from the Windows Start menu</li>
            <li>
              Press the power button and immediately press F2 key repeatedly (multiple presses,
              not holding the key down)
            </li>
            <li>Keep pressing the F2 key until you&rsquo;re prompted for the &lsquo;Supervisor Password&rsquo;</li>
            <li>
              If you&rsquo;re not asked for this password, you may not have timed pressing F2 correctly &ndash; shut the device
              down fully and try again
            </li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive) and press &lsquo;Enter&rsquo;</li>
            <li>Choose the &lsquo;Security Menu&rsquo; and select &lsquo;Supervisor - Registered&rsquo;</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank, then press &lsquo;Enter&rsquo;</li>
            <li>Press F10 to save and exit &ndash; confirm by selecting &lsquo;Yes&rsquo;</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "Dynabook (R50)") do %>
        <%- begin %>
          <p class="govuk-body">
            A &lsquo;BIOS Unlock&rsquo; app is required for Dynabook R50 laptops. To download this executable
            file, go to
            <%= govuk_link_to 'view your device details', '/assets' %>
            and select the &lsquo;show&rsquo; link under &lsquo;View your BIOS/admin passwords and hardware hash&rsquo;.
          </p>
          <p class="govuk-body">
            If you&rsquo;re unable to do this, email
            <%= govuk_mail_to 'COVID.TECHNOLOGY@education.gov.uk', 'COVID.TECHNOLOGY@education.gov.uk', subject: 'Dynabook R50 BIOS' %>
            with &lsquo;Dynabook R50 BIOS&rsquo; as the subject line.
          </p>

          <p class="govuk-body">
            Once the file has been downloaded, right-click it and select &lsquo;Run as administrator&rsquo;.
            Follow the on-screen instructions to reset the BIOS password.
          </p>
        <%- end %>
      <% end %>
      <%= component.section(heading_text: "Dynabook (other models)") do %>
        <%- begin %>
          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>
          <ol class="govuk-list govuk-list--number">
            <li>From the Windows Start menu, select the power icon</li>
            <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
            <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
            <li>On the &lsquo;Advanced Options&rsquo; screen, select &lsquo;UEFI Firmware settings&rsquo;</li>
            <li>Select &lsquo;Restart&rsquo;</li>
            <li>The device will boot into BIOS</li>
          </ol>
          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>
          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the &lsquo;Security&rsquo; tab and &lsquo;Setup Administrator Password&rsquo;</li>
            <li>Enter the current BIOS password when asked</li>
            <li>
              Enter and confirm your new password, or leave this blank. If you leave this blank,
              press &lsquo;Enter&rsquo; when asked &lsquo;Clear Old Password. Continue?&rsquo;
            </li>
            <li>Press F10 to save and exit &ndash; confirm by selecting &lsquo;Yes&rsquo;</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "Geobook (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ol class="govuk-list govuk-list--number">
            <li>From the Windows Start menu, select the power icon</li>
            <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
            <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
            <li>On the &lsquo;Advanced Options&rsquo; screen, select &lsquo;UEFI Firmware settings&rsquo;</li>
            <li>Select &lsquo;Restart&rsquo;</li>
            <li>The device will boot into BIOS</li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the &lsquo;Security&rsquo; tab and &lsquo;Setup Administrator Password&rsquo;</li>
            <li>Enter the current BIOS password when asked</li>
            <li>
              Enter and confirm your new password, or leave this blank. If you leave this blank,
              press &lsquo;Enter&rsquo; when asked &lsquo;Clear Old Password. Continue?&rsquo;
            </li>
            <li>Press F10 to save and exit &ndash; confirm by selecting &lsquo;Yes&rsquo;</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "HP (255)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <p class="govuk-body">
            When the device is powered off, press the power button then repeatedly press F10, or:
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>From the Windows Start menu, select the power icon</li>
            <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
            <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
            <li>On the &lsquo;Advanced Options&rsquo; screen, select &lsquo;UEFI Firmware settings&rsquo;</li>
            <li>Select &lsquo;Restart&rsquo;</li>
            <li>The device will boot into BIOS</li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the &lsquo;Security&rsquo; menu and &lsquo;Administrator Password&rsquo;</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select the &lsquo;Exit&rsquo; menu</li>
            <li>Select &lsquo;Save Changes and Exit&rsquo;, then confirm when prompted</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "Lenovo (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ol class="govuk-list govuk-list--number">
            <li>From the Windows Start menu, select the power icon</li>
            <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
            <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
            <li>On the &lsquo;Advanced Options&rsquo; screen, select &lsquo;UEFI Firmware settings&rsquo;</li>
            <li>Select &lsquo;Restart&rsquo;</li>
            <li>The device will boot into BIOS</li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the &lsquo;Security&rsquo; tab and &lsquo;Setup Administrator Password&rsquo;</li>
            <li>If asked, enter the current BIOS password</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Press &lsquo;Enter&rsquo; when you see &lsquo;Changes have been saved&rsquo;</li>
            <li>Press F10 to save and exit &ndash; confirm by selecting &lsquo;Yes&rsquo;</li>
          </ol>

        <%- end %>
      <% end %>
      <%= component.section(heading_text: "Microsoft (Surface Go)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <p class="govuk-body">
            When the device is powered off, hold down the volume up (+) button while pressing
            the power button, or:
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>From the Windows Start menu, select the power icon</li>
            <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
            <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
            <li>Select &lsquo;UEFI&rsquo; then &lsquo;Firmware Settings&rsquo;</li>
            <li>Select &lsquo;Restart&rsquo;</li>
            <li>The device will boot into BIOS</li>
          </ol>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">
            Check if your organisation has security policies that you need to follow before resetting
            and storing your passwords.
          </p>

          <ol class="govuk-list govuk-list--number">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the &lsquo;Security&rsquo; menu and &lsquo;UEFI Password&rsquo;</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select &lsquo;Yes&rsquo;</li>
            <li>Select &lsquo;OK&rsquo; when you see &lsquo;Changes have been saved&rsquo;</li>
            <li>Select the &lsquo;Exit&rsquo; menu and choose &lsquo;Restart Now&rsquo;</li>
          </ol>

        <%- end %>
      <% end %>

    <%- end %>

    <h3 class="govuk-heading-m" id="other-makes-models">
      Other makes and models
    </h3>

    <h4 class="govuk-heading-s">
      Access BIOS
    </h4>

    <ol class="govuk-list govuk-list--number">
      <li>From the Windows Start menu, select the power icon</li>
      <li>Hold down &lsquo;Shift&rsquo; and select &lsquo;Restart&rsquo;</li>
      <li>When the &lsquo;Choose an option&rsquo; screen appears, select &lsquo;Troubleshoot&rsquo;</li>
      <li>On the &lsquo;Advanced Options&rsquo; screen, select &lsquo;UEFI Firmware settings&rsquo;</li>
      <li>Select &lsquo;Restart&rsquo;</li>
      <li>The device will boot into BIOS &ndash; you may be required to select &lsquo;Unlock&rsquo;</li>
    </ol>

    <h4 class="govuk-heading-s">
      Reset BIOS Password
    </h4>

    <p class="govuk-body">
      Check if your organisation has security policies that you need to follow before resetting
      and storing your passwords.
    </p>

    <ol class="govuk-list govuk-list--number">
      <li>Enter the BIOS password (case sensitive)</li>
      <li>Select the &lsquo;Security&rsquo; menu and the option that resembles &lsquo;Administrator Password&rsquo;</li>
      <li>If asked, enter the current BIOS password</li>
      <li>Enter and confirm your new password, or leave this blank</li>
      <li>Select the &lsquo;Exit&rsquo; menu</li>
      <li>Select &lsquo;Save Changes and Exit&rsquo;, then confirm if prompted</li>
    </ol>

    <div class="govuk-inset-text">

      <h4 class="govuk-heading-s">
        Help us improve these instructions
      </h4>
      <p class="govuk-body">
        If you have any suggestions for making these steps easier to follow for other users, email
        <%= govuk_mail_to 'COVID.TECHNOLOGY@education.gov.uk', 'COVID.TECHNOLOGY@education.gov.uk', subject: 'Improve Reset Guide' %>
        using the subject line &lsquo;Improve Reset Guide&rsquo;.
        Include the make and model of your device(s) and any screenshots that will help with the
        explanation.
      </p>

    </div>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
