<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'guide_contents', locals: { index: 3 } %>

    <p class="govuk-body">To reset devices you need to access the device BIOS and reset the password.</p>

    <h3 class="govuk-heading-m">
      How to access the BIOS for your device
    </h3>
    <p class="govuk-body">
      If your specific device is not listed below, follow
      the <%= govuk_link_to 'instructions for other makes and models', '#other-makes-models' %>.
    </p>
    <p class="govuk-body">
      If you encounter any issues during this process, take screenshots of the stage(s) you’re unable to complete
      and <%= govuk_link_to 'contact us', support_ticket_path %> for technical support.
    </p>

    <%= render GovukComponent::AccordionComponent.new do |component| %>
      <%= component.section(title: "Acer (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>From the Windows Start menu, click the power icon</li>
            <li>Hold down ‘Shift’ and click ‘Restart’</li>
            <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
            <li>On the ‘Advanced Options’ screen, select ‘UEFI Firmware settings’</li>
            <li>Click ‘Restart’</li>
            <li>The device will boot into BIOS</li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the ‘Security’ tab and ‘Set Supervisor Password’</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Press ‘Enter’ and when you see ‘Changes have been saved’, click continue</li>
            <li>Press F10 to save and exit - confirm by selecting ‘Yes’</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "ASUS (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>From the Windows Start menu, click the power icon</li>
            <li>Hold down ‘Shift’ and click ‘Restart’</li>
            <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
            <li>On the ‘Advanced Options’ screen, select ‘UEFI Firmware settings’</li>
            <li>Click ‘Restart’</li>
            <li>The device will boot into BIOS</li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Press F7 for Advanced Mode</li>
            <li>Select the ‘Security’ tab and ‘Setup Administrator Password’</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select the ‘Save & Exit’ tab</li>
            <li>Select ‘Save Changes and Exit’, then confirm when prompted</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "Dell (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>If the device is on, shut it down fully from the Windows Start menu</li>
            <li>Press the power button and immediately press F2 key repeatedly (multiple presses, not holding the key
              down)
            </li>
            <li>Keep pressing the F2 key until you’re prompted for the ‘Supervisor Password’</li>
            <li>If you’re not asked for this password, you may not have timed pressing F2 correctly - shut the device
              down fully and try again
            </li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the ‘Security’ tab and ‘Administrator Password’</li>
            <li>If asked, enter the current BIOS password</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select the ‘Exit’ menu</li>
            <li>Select ‘Save Changes and Exit’, then confirm if prompted</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "Dynabook (A30)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>If the device is on, shut it down fully from the Windows Start menu</li>
            <li>Press the power button and immediately press F2 key repeatedly (multiple presses, not holding the key
              down)
            </li>
            <li>Keep pressing the F2 key until you’re prompted for the ‘Supervisor Password’</li>
            <li>If you’re not asked for this password, you may not have timed pressing F2 correctly - shut the device
              down fully and try again
            </li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive) and press ‘Enter’</li>
            <li>Choose the ‘Security Menu’ and select ‘Supervisor - Registered’</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank, then press ‘Enter’</li>
            <li>Press F10 to save and exit - confirm by selecting ‘Yes’</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "Dynabook (R50)") do %>
        <%- begin %>
          <p class="govuk-body">
            A ‘BIOS Unlock’ app is required for Dynabook R50 laptops. To download this executable file, log in to
            the <%= govuk_link_to 'Support Portal', 'https://computacenterprod.service-now.com/dfe', target: '_blank', rel: 'noopener noreferrer' %>
            and select the ‘Device BIOS & Local Admin Passwords’ option.
          </p>
          <p class="govuk-body">
            If you’re unable to access this,
            email <%= govuk_mail_to 'COVID.TECHNOLOGY@education.gov.uk', 'COVID.TECHNOLOGY@education.gov.uk', subject: 'Dynabook R50 BIOS' %>
            with ‘Dynabook R50 BIOS’ as the subject line.
          </p>

          <p class="govuk-body">
            Once the file has been downloaded, right-click it and select ‘Run as administrator’. Follow the on-screen
            instructions to reset the BIOS password.
          </p>
        <%- end %>
      <% end %>
      <%= component.section(title: "Dynabook (other models)") do %>
        <%- begin %>
          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>From the Windows Start menu, click the power icon</li>
            <li>Hold down ‘Shift’ and click ‘Restart’</li>
            <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
            <li>On the ‘Advanced Options’ screen, select ‘UEFI Firmware settings’</li>
            <li>Click ‘Restart’</li>
            <li>The device will boot into BIOS</li>
          </ul>
          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>
          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the ‘Security’ tab and ‘Setup Administrator Password’</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank - if you leave this blank, press ‘Enter’ when
              asked ‘Clear Old Password. Continue?’
            </li>
            <li>Press F10 to save and exit - confirm by selecting ‘Yes’</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "Geobook (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>From the Windows Start menu, click the power icon</li>
            <li>Hold down ‘Shift’ and click ‘Restart’</li>
            <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
            <li>On the ‘Advanced Options’ screen, select ‘UEFI Firmware settings’</li>
            <li>Click ‘Restart’</li>
            <li>The device will boot into BIOS</li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the ‘Security’ tab and ‘Setup Administrator Password’</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank - if you leave this blank, press ‘Enter’ when
              asked ‘Clear Old Password. Continue?’
            </li>
            <li>Press F10 to save and exit - confirm by selecting ‘Yes’</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "HP (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>When the device is powered off, press the power button then repeatedly press F10</li>
          </ul>

          <p class="govuk-body">Or:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>From the Windows Start menu, click the power icon</li>
            <li>Hold down ‘Shift’ and click ‘Restart’</li>
            <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
            <li>On the ‘Advanced Options’ screen, select ‘UEFI Firmware settings’</li>
            <li>Click ‘Restart’</li>
            <li>The device will boot into BIOS</li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the ‘Security’ menu and ‘Administrator Password’</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select the ‘Exit’ menu</li>
            <li>Select ‘Save Changes and Exit’, then confirm when prompted</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "Lenovo (all models)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>From the Windows Start menu, click the power icon</li>
            <li>Hold down ‘Shift’ and click ‘Restart’</li>
            <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
            <li>On the ‘Advanced Options’ screen, select ‘UEFI Firmware settings’</li>
            <li>Click ‘Restart’</li>
            <li>The device will boot into BIOS</li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the ‘Security’ tab and ‘Setup Administrator Password’</li>
            <li>If asked, enter the current BIOS password</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Press ‘Enter’ when you see ‘Changes have been saved’</li>
            <li>Press F10 to save and exit - confirm by selecting ‘Yes’</li>
          </ul>

        <%- end %>
      <% end %>
      <%= component.section(title: "Microsoft (Surface Go)") do %>
        <%- begin %>

          <h4 class="govuk-heading-s">
            Access BIOS
          </h4>

          <ul class="govuk-list govuk-list--bullet">
            <li>When the device is powered off, hold down the volume up (+) button while pressing the power button</li>
          </ul>

          <p class="govuk-body">Or:</p>


          <ul class="govuk-list govuk-list--bullet">
            <li>From the Windows Start menu, click the power icon</li>
            <li>Hold down ‘Shift’ and click ‘Restart’</li>
            <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
            <li>Select ‘UEFI’ then ‘Firmware Settings’</li>
            <li>Click ‘Restart’</li>
            <li>The device will boot into BIOS</li>
          </ul>

          <h4 class="govuk-heading-s">
            Reset BIOS Password
          </h4>

          <p class="govuk-body">Check if your organisation has security policies that you need to follow before
            resetting and storing your passwords.</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Enter the BIOS password (case sensitive)</li>
            <li>Select the ‘Security’ menu and ‘UEFI Password’</li>
            <li>Enter the current BIOS password when asked</li>
            <li>Enter and confirm your new password, or leave this blank</li>
            <li>Select ‘Yes’</li>
            <li>Select ‘OK’ when you see ‘Changes have been saved’</li>
            <li>Select the ‘Exit’ menu and choose ‘Restart Now’</li>
          </ul>

        <%- end %>
      <% end %>

    <%- end %>

    <h3 class="govuk-heading-m" id="other-makes-models">
      Other makes and models
    </h3>

    <h4 class="govuk-heading-s">
      Access BIOS
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>From the Windows Start menu, click the power icon</li>
      <li>Hold down ‘Shift’ and click ‘Restart’</li>
      <li>When the ‘Choose an option’ screen appears, select ‘Troubleshoot’</li>
      <li>On the ‘Advanced Options’ screen, select ‘UEFI Firmware settings’</li>
      <li>Click ‘Restart’</li>
      <li>The device will boot into BIOS - you may be required to select ‘Unlock’</li>
    </ul>

    <h4 class="govuk-heading-s">
      Reset BIOS Password
    </h4>

    <p class="govuk-body">Check if your organisation has security policies that you need to follow before resetting and
      storing your passwords.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Enter the BIOS password (case sensitive)</li>
      <li>Select the ‘Security’ menu and the option that resembles ‘Administrator Password’</li>
      <li>If asked, enter the current BIOS password</li>
      <li>Enter and confirm your new password, or leave this blank</li>
      <li>Select the ‘Exit’ menu</li>
      <li>Select ‘Save Changes and Exit’, then confirm if prompted</li>
    </ul>

    <div class="govuk-inset-text">

      <h4 class="govuk-heading-s">
        Help us improve these instructions
      </h4>
      <p class="govuk-body">
        If you have any suggestions for making these steps easier to follow for other users, please
        email <%= govuk_mail_to 'COVID.TECHNOLOGY@education.gov.uk', 'COVID.TECHNOLOGY@education.gov.uk', subject: 'Improve Reset Guide' %>
        using the subject line ‘Improve Reset Guide’. Include the make and model of your device(s) and any screenshots
        that will help with the explanation.
      </p>

    </div>

    <%= render partial: 'shared/guide_navigation' %>
  </div>
</div>
