<%- title = t('page_titles.new_responsible_body_user') %>
<%- content_for :before_content do %>
  <%= govuk_back_link(text: 'Back', href: responsible_body_users_path) %>
<% end %>
<%- content_for :title, title_with_error_prefix(title, @rb_user.errors.any?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Do not add school or college contacts here. <%= govuk_link_to 'Use the schools and colleges list instead', responsible_body_devices_path %>.
      </strong>
    </div>

    <%= form_for @rb_user, url: responsible_body_users_path do |f| %>
      <%= render partial: 'shared/responsible_body_user_form', locals: { submit_text: 'Send invite', form: f } %>
    <%- end %>
  </div>
</div>
