<%- if @user.is_school_user? && @user.schools.size == 1 %>
  <%- title = t(:related_organisation, scope: %i[page_titles click_to_sign_in], organisation: @user.schools.first.name) %>
<%- elsif @user.is_responsible_body_user? && @user.responsible_bodies.size == 1 %>
  <%- title = t(:related_organisation, scope: %i[page_titles click_to_sign_in], organisation: @user.responsible_bodies.first.name) %>
<%- else %>
  <%- title = t(:standard, scope: %i[page_titles click_to_sign_in]) %>
<%- end %>
<%- content_for :title, title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>
    <%- if @user.is_school_user? %>
      <%= render partial: 'shared/school_user_welcome_text' %>
    <%- end %>
    <p class="govuk-body">
      <%= form_with url: destroy_sign_in_token_path, method: 'delete' do |f| %>
        <%= hidden_field_tag :token, params[:token] %>
        <%= hidden_field_tag :identifier, params[:identifier] %>
        <%= f.govuk_submit 'Continue' %>
      <% end %>
    </p>
  </div>
</div>
