<%- picker = InterstitialPicker.new(user: @current_user) %>
<%- content_for :title, title = picker.call.title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: picker.call.partial, locals: { title: title } %>

    <p class="govuk-body">
      <%= form_with url: destroy_sign_in_token_path, method: 'delete' do |f| %>
        <%= hidden_field_tag :token, params[:token] %>
        <%= hidden_field_tag :identifier, params[:identifier] %>
        <%= f.govuk_submit 'Continue' %>
      <% end %>
    </p>
  </div>
</div>
