<% content_for :title, t('page_titles.enter_token_manually') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Enter your special sign-in values manually
    </h1>
    <p class="govuk-body">
      Copy and paste the two special sign-in values from your email into here:
    </p>
    <%= form_for @sign_in_token_form, url: validate_manually_entered_sign_in_token_path, method: :get do |f| %>
      <%= f.govuk_text_field :token %>
      <%= f.govuk_text_field :identifier %>
      <%= f.govuk_submit %>
    <% end %>
    <p class="govuk-body">
      Or <%= govuk_link_to 'send a new email', new_sign_in_token_path %>
    </p>
  </div>
</div>
