<%- title = t('page_titles.support.users.schools.index') %>
<% content_for :title, title %>
<%- content_for :before_content, govuk_link_to('Back', support_user_path(@user), class: 'govuk-back-link') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @user.full_name %></span>
      <%= title %>
    </h1>

    <%- if @schools.present? %>
      <%= form_for @user, url: support_user_update_schools_path(@user) do |f| %>
        <%= f.govuk_collection_check_boxes :school_ids, @schools, :id, :name, legend: nil %>
        <%= f.govuk_submit 'Update' %>
      <%- end %>
    <%- end %>

    <%= form_for @user_school_form, url: new_support_user_school_path(@user), method: :get do |f| %>
      <%= f.govuk_fieldset legend: { text: 'Grant access to a school', size: 'm' } do %>
        <%= f.govuk_text_field :name_or_urn, width: 'two-thirds', hint: { text: 'Enter part of a school name or URN' } %>
        <%= f.hidden_field :school_urn %>
        <%= f.govuk_submit %>
      <%- end %>
    <%- end %>
  </div>
</div>
