<%- title = t('page_titles.support.users.schools.index') %>
<% content_for :title, title %>
<%- content_for :before_content, govuk_back_link(text: 'Back', href: support_user_path(@user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @user.full_name %></span>
      <%= title %>
    </h1>

    <%- if @schools.present? %>
      <%= form_for @user, url: support_user_update_schools_path(@user) do |f| %>
        <%= f.govuk_collection_check_boxes :school_ids, @schools, :id, :name, legend: nil %>
        <%= f.govuk_submit 'Update' %>
      <%- end %>
    <%- end %>

    <%= form_for @user_school_form, url: support_user_schools_path(@user) do |f| %>
      <%= f.govuk_fieldset legend: { text: 'Grant access to a school', size: 'm' } do %>
        <%= f.govuk_text_field :name_or_urn_or_ukprn,
          width: 'two-thirds',
          hint: { text: 'Enter part of a school name, URN or UKPRN' },
          data: {
            autocomplete_school: true,
            autocomplete_school_path: '/support/schools/results',
            autocomplete_school_hidden_field: 'support_school_suggestion_form_school_urn',
          } %>
        <%= f.hidden_field :school_urn %>
        <%= f.govuk_submit %>
      <%- end %>
    <%- end %>
  </div>
</div>
