<%- title = t('page_titles.support.users.schools.new') %>
<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: 'Back', href: support_user_schools_path(@user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @user.full_name %></span>
      <%= title %>
    </h1>

    <p class="govuk-body">
      You searched for “<%= @form.name_or_urn_or_ukprn %>”.
    </p>

    <%- if @school_options.present? %>
      <p class="govuk-body">
        We found these schools which matched your search
        <%- if @form.matching_schools_capped? %> (showing the first <%= @form.maximum_matching_schools %> results)<%- end %>:
      </p>

      <%= form_for @form, url: support_user_schools_path(@user) do |f| %>
        <%= f.govuk_radio_buttons_fieldset(:school_id, legend: nil) do %>
          <% @school_options.each do |school| %>
            <%= f.govuk_radio_button :school_urn, school.urn, label: { text: school.name } %>
          <% end %>
        <% end %>
        <%= f.govuk_submit 'Grant access' %>
      <% end %>
    <%- else %>
      <p class="govuk-body">
        There were no matches that <%= @user.full_name %> doesn’t already have access to.
      </p>
    <%- end %>

    <%- if @user.schools.any? %>
      <p class="govuk-body">
        <%= @user.full_name %> can already access:
      </p>

      <ul id="existing-schools" class="govuk-list govuk-list--bullet">
        <% @user.schools.order(name: :asc).each do |school| %>
          <li><%= school.name %></li>
        <% end %>
      </ul>
    <%- end %>

    <%= govuk_details(summary: 'Try another school') do %>
      <%= form_for @form, url: support_user_schools_path(@user) do |f| %>
        <%= f.govuk_text_field :name_or_urn_or_ukprn, width: 'two-thirds', hint: { text: 'Enter part of a school name, URN or UKPRN' } %>
        <%= f.hidden_field :school_urn %>
        <%= f.govuk_submit 'Search again' %>
      <%- end %>
    <% end %>
  </div>
</div>
