<%- title = t('page_titles.support.users.schools.new') %>
<% content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: 'Back', href: support_user_schools_path(@user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @user.full_name %></span>
      <%= title %>
    </h1>

    <%= form_for @form, url: support_user_schools_path(@user) do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_text_field :name_or_urn_or_ukprn, width: 'two-thirds', hint: { text: 'Enter part of a school name, URN or UKPRN' } %>
      <%= f.hidden_field :school_urn %>
      <%= f.govuk_submit 'Search again' %>
    <%- end %>
  </div>
</div>
