<% content_for :title, t('page_titles.support_responsible_bodies') %>

<h1 class="govuk-heading-xl">
  <%= t('page_titles.support_responsible_bodies') %>
</h1>

<table id="responsible-bodies" class="govuk-table">
  <caption class="govuk-table__caption">Responsible bodies with at least one user</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type</th>
      <th scope="col" class="govuk-table__header">Name</th>
      <th scope="col" class="govuk-table__header">User count</th>
      <th scope="col" class="govuk-table__header">Users signed in at least once</th>
      <th scope="col" class="govuk-table__header">BT hotspot allocations</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @responsible_bodies.each do |responsible_body| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= responsible_body.type.underscore.humanize %></td>
        <td class="govuk-table__cell"><%= responsible_body.name %></td>
        <td class="govuk-table__cell"><%= pluralize(responsible_body.users.size, "user") %></td>
        <td class="govuk-table__cell">
          <%= pluralize(responsible_body.users.select { |u| u.sign_in_count > 0 }.size, "user") %> signed in
        </td>
        <td class="govuk-table__cell"><%= responsible_body&.bt_wifi_voucher_allocation&.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
