<%- title = t('page_titles.support_responsible_bodies') %>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= breadcrumbs([{ "Home" => root_path },
    { 'Support home' => support_home_path },
    title,
  ]) %>
<%- end %>

<h1 class="govuk-heading-xl">
  <%= title %>
</h1>

<table id="responsible-bodies" class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Name and type</th>
      <th scope="col" class="govuk-table__header">User count</th>
      <th scope="col" class="govuk-table__header">Users signed in at least once</th>
      <th scope="col" class="govuk-table__header">Who will order devices?</th>
      <th scope="col" class="govuk-table__header">Preorder info <a title="status not 'Needs info' or 'Needs contact'">completed</a></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @responsible_bodies.each do |responsible_body| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <%= govuk_link_to responsible_body.name, support_responsible_body_path(responsible_body) %>
          <br>
          <%= responsible_body.type.underscore.humanize %>
        </td>
        <td class="govuk-table__cell"><%= pluralize(responsible_body.user_count, "user") %></td>
        <td class="govuk-table__cell">
          <%= pluralize(responsible_body.users_who_have_signed_in_at_least_once, "user") %> signed in
        </td>
        <td class="govuk-table__cell"><%= responsible_body.who_manages_orders_label %></td>
        <td class="govuk-table__cell">
          <%= responsible_body.completed_preorder_info_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
