<% content_for :title, "#{@responsible_body.name} – Support" %>
<%- content_for :before_content do %>
  <%= breadcrumbs([
    { 'Support home' => support_home_path },
    { t('page_titles.support_responsible_bodies') => support_responsible_bodies_path },
    @responsible_body.name,
  ]) %>
<% end %>

<%= render partial: 'shared/banners/responsible_body' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      <%= @responsible_body.name %>
    </h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>

      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#schools-colleges">
            Schools and colleges
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#users">
            Users
          </a>
        </li>

        <%- if @responsible_body.extra_mobile_data_requests.present? %>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#mobile-data-requests">
              Mobile data requests
            </a>
          </li>
        <%- end %>
      </ul>

      <div class="govuk-tabs__panel" id="schools-colleges">
        <h2 class="govuk-heading-l">Schools and colleges</h2>

        <% if @responsible_body.has_virtual_cap_feature_flags_and_centrally_managed_schools? %>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-l govuk-!-margin-top-9">Centrally managed schools and colleges</h2>
              <p class="govuk-body"><%= @responsible_body.name %>:</p>
              <ul id="responsible-body-centrally-managed-stats" class="govuk-list govuk-list--bullet">
                <li>manages ordering for <%= centrally_managing_count_or_all_schools(responsible_body: @responsible_body) %> of its schools and colleges</li>
                <li>has <%= what_to_order_allocation_list(allocations: @virtual_cap_pools) %> available to order right now</li>
                <li>has ordered <%= what_to_order_state_list(allocations: @virtual_cap_pools) %> so far</li>
              </ul>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <p class="govuk-body">
                For centrally managed schools and colleges, device allocations are combined. We only know how many devices <%= @responsible_body.name %> has ordered, not how many devices went to which school or college.
              </p>
            </div>
          </div>
        <% end %>

        <table id="responsible-body-schools" class="govuk-table">
          <caption class="govuk-table__caption govuk-visually-hidden">Schools and colleges</caption>

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name and URN</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Devices</th>
              <th scope="col" class="govuk-table__header">Routers</th>
              <th scope="col" class="govuk-table__header">Who is ordering</th>
              <th scope="col" class="govuk-table__header">Actions</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <% @schools.each do |school| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><%= govuk_link_to "#{school.name} (#{school.urn})", support_school_path(urn: school.urn) %><br><%= school.human_for_school_type %></td>
                <td class="govuk-table__cell"><%= render SchoolPreorderStatusTagComponent.new(school: school) %></td>
                <%- device_allocations_data = school.std_device_allocation %>
                <td class="govuk-table__cell">
                  <%= device_allocations_data&.raw_allocation.to_i %> allocated<br>
                  <% unless @responsible_body.has_virtual_cap_feature_flags_and_centrally_managed_schools? && @responsible_body.has_school_in_virtual_cap_pools?(school) %>
                    <%= device_allocations_data&.cap || 0 %> caps<br>
                    <%= device_allocations_data&.devices_ordered || 0 %> ordered
                  <% end %>
                </td>
                <%- dongles_allocations_data = school.coms_device_allocation %>
                <td class="govuk-table__cell">
                  <%= dongles_allocations_data&.raw_allocation.to_i %> allocated<br>
                  <% unless @responsible_body.has_virtual_cap_feature_flags_and_centrally_managed_schools? && @responsible_body.has_school_in_virtual_cap_pools?(school) %>
                    <%= dongles_allocations_data&.cap || 0 %> caps<br>
                    <%= dongles_allocations_data&.devices_ordered || 0 %> ordered
                  <% end %>
                </td>
                <td class="govuk-table__cell">
                  <%= school&.preorder_information&.who_will_order_devices_label || 'Not decided' %>
                </td>
                <td class="govuk-table__cell">
                  <% if policy(school).invite? && school&.preorder_information&.school_will_be_contacted? %>
                    <%= govuk_link_to 'Invite', support_school_confirm_invitation_path(school_urn: school.urn) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="users">
        <h2 class="govuk-heading-l">Users</h2>

        <% if policy(User).new? %>
          <%= govuk_button_link_to 'Invite a new user', new_support_responsible_body_user_path(@responsible_body) %>
        <% end %>

        <% if @users.present? %>
          <% @users.each do |user| %>
            <div class="user">
              <h3 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">
                <%= govuk_link_to user.full_name, support_user_path(user) %>
              </h3>
              <% if policy(user).edit? %>
                <p class="govuk-body">
                  <%= govuk_link_to "Edit user<span class=\"govuk-visually-hidden\"> #{user.full_name}</span>".html_safe, edit_support_user_path(user) %>
                </p>
              <% end %>
              <%= render Support::UserPreviewSummaryListComponent.new(user: user) %>
            </div>
          <% end %>
        <% else %>
          <p class="govuk-body">None</p>
        <% end %>
      </div>

      <%- if @responsible_body.extra_mobile_data_requests.present? %>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="mobile-data-requests">
          <h2 class="govuk-heading-l">Mobile data requests</h2>

          <%= render Support::ExtraMobileDataRequestsSummaryListComponent.new(requests: @responsible_body.extra_mobile_data_requests) %>
        </div>
      <%- end %>
    </div>
  </div>
</div>
