<%- title = t('page_titles.responsible_body_devices_chromebooks') %>
<%- content_for :title, title %>
<% content_for :before_content, govuk_back_link(text: 'Back', href: responsible_body_devices_school_path(urn: @school.urn)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= render partial: 'shared/chromebook_information_intro' %>
    <%= render partial: 'shared/chromebook_information_form', locals: { url: responsible_body_devices_school_chromebooks_path(@school.urn), form_object: @chromebook_information_form } %>
  </div>
</div>

<p class="govuk-body">
  <%= govuk_link_to 'Return to list of schools and colleges', responsible_body_devices_schools_path %>
  <%= render ResponsibleBody::NextSchoolLinkComponent.new(current_school: @school, recordsets: @schools.values) %>
</p>
