<%- content_for :before_content do %>
  <%= govuk_link_to('Back', school_home_path, class: 'govuk-back-link') %>
<% end %>
<% content_for :title, t('page_titles.school_details') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl"><%= @school.name %></span>
      <%= t('page_titles.school_details') %>
    </h1>

    <%= render School::SchoolDetailsSummaryListComponent.new(school: @school) %>

    <h2 class="govuk-heading-m">
      About allocations
    </h2>
    <p class="govuk-body">Allocations are based on:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the number of children in years 3 to 10</li>
      <li>free school meals data</li>
      <li>an estimate of the number of devices a school already has</li>
    </ul>
    <p class="govuk-body">Numbers will be reassessed at the time of ordering based on availability and the extent of coronavirus restrictions.</p>
    <p class="govuk-body">If you need to query your allocation, email <%= ghwt_contact_mailto %></p>

    <h2 class="govuk-heading-m">
      About Google Chromebooks
    </h2>

    <p class="govuk-body">It’s possible to order a range of different devices (laptops, tablets, Chromebooks). If you are going to order Google Chromebooks, we’ll need 2 pieces of information to configure them:</p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>the domain your school uses for its Google services</li>
      <li>the school’s recovery email address</li>
    </ul>
    <p class="govuk-body">We need this information so we can secure the devices.</p>

    <p class="govuk-body">
      If you need help finding these details, email <%= ghwt_contact_mailto %>
    </p>
  </div>
</div>
