<%- title = t('page_titles.edit_user') %>
<%- content_for :title, title_with_error_prefix(title, @user.errors.any?) %>
<%- content_for :before_content, govuk_back_link(text: 'Back', href: support_user_path(@user)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= form_for @user, url: support_user_path(@user) do |f| %>
      <%= f.govuk_error_summary %>
      <%= render partial: 'shared/school_user_form', locals: { form: f } %>
      <%= f.govuk_submit 'Save changes' %>
    <%- end %>
  </div>
</div>
