<%- if params[:pilot] == 'devices' %>
  <%- responsible_body_link = support_devices_responsible_body_path(@responsible_body) %>
  <%- responsible_bodies_link = support_devices_responsible_bodies_path %>
<%- else %>
  <%- responsible_body_link = support_internet_responsible_body_path(@responsible_body) %>
  <%- responsible_bodies_link = support_internet_responsible_bodies_path %>
<%- end %>

<% content_for :title, "Add a user for #{@responsible_body.name} – Support" %>
<%- content_for :before_content do %>
  <%= render GovukComponent::Breadcrumbs.new(breadcrumbs:{
    'Home': responsible_body_home_path,
    "#{t('page_titles.support_responsible_bodies')}": responsible_bodies_link ,
    "#{@responsible_body.name}": responsible_body_link ,
    "Add a user": ''
  }) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <%= form_for @user, url: support_responsible_body_users_path(pilot: params[:pilot]), method: :post do |f| %>
          <%= f.govuk_error_summary %>

          <h1 class="govuk-heading-xl">Add a user</h1>

          <%= f.govuk_text_field :full_name, label: {size: 'm', text: 'Full name'} %>

          <%= f.govuk_text_field :email_address, label: {size: 'm', text: 'Email address'} %>

          <%= f.govuk_submit 'Submit' %>
      <%- end %>
    </div>
</div>
