<% title = t('page_titles.support.users.new') %>
<%- content_for :title, title_with_error_prefix(title, @user.errors.any?) %>
<%- content_for :before_content, breadcrumbs(@form.breadcrumbs_to_page + [title]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= form_for @user, url: @form.submission_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= render partial: 'shared/school_user_form', locals: { form: f, change_order_devices: @change_order_devices } %>
      <%= f.govuk_submit 'Send invite' %>
    <%- end %>
  </div>
</div>
