<%- title = t('page_titles.support.users.search') %>
<% content_for :title, title %>
<%- content_for :before_content do %>
  <%= breadcrumbs([{ "Home" => root_path },
    { 'Support home' => support_home_path },
    title,
  ]) %>
<%- end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <p class="govuk-body">
      Search for responsible body, school, college or FE institution users by their email address or name.
    </p>

    <%= form_with model: @search_form, url: results_support_users_path do |f| %>
      <%= f.govuk_text_field :email_address_or_full_name,
                             label: { text: 'Email address or name', size: 'm' } %>

      <%= f.govuk_submit 'Search' %>
    <% end %>
  </div>
</div>

<% if current_user.is_support? %>
  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Export all users
      </h1>

      <p class="govuk-body">
        Generate a CSV file of all users.
      </p>

      <%= form_with url: export_support_users_path(format: :csv) do |f| %>
        <div class="govuk-form-group">
          <%= f.govuk_check_box :include_audit_data, 1, 0, multiple: false, link_errors: true, label: { text: "Include audit data (soft deleted, support and supplier users)" } %>
        </div>
        <div class="govuk-form-group">
          <%= f.govuk_submit 'Download CSV', name: :export %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
