<% content_for :title, "#{@user.full_name} – Support" %>
<%- content_for :before_content do %>
  <%= breadcrumbs([
    { 'Support home' => support_home_path },
    @user.full_name,
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= @user.full_name %>
    </h1>

    <%= render Support::UserSummaryListComponent.new(user: @user, viewer: @current_user) %>

    <% if ImpersonationPolicy.new(current_user, @user).create? %>
      <%= govuk_button_to('Impersonate user',
                          support_impersonate_path,
                          params: {
                            impersonated_user_id: @user.id,
                          },
                          method: :post)  %>
    <% end %>

    <p class="govuk-body">
      <% if UserPolicy.new(current_user, @user).destroy? %>
        <%= govuk_link_to 'Delete this user', confirm_deletion_support_user_path(@user) %>
      <% end %>
    </p>
  </div>
</div>
