<%- title = t('page_titles.support.allocation_batch_jobs.show') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  { 'Support home' => support_home_path },
                  { t('page_titles.support.technical_support') => support_technical_support_path },
                  { t('page_titles.support.allocation_batch_jobs.index') => support_allocation_batch_jobs_path },
                  title,
                 ]) %>
<% end %>

<h1 class="govuk-heading-xl">Allocation batch job</h1>

<table id="details" class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
      <th scope="col" class="govuk-table__header"></th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">ID</th>
      <td class="govuk-table__cell"><%= @jobs.first.batch_id %></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Processed jobs</th>
      <td class="govuk-table__cell"><%= processed_jobs(@jobs) %></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Aggregate allocation change</th>
      <td class="govuk-table__cell"><%= aggregate_allocation_change(@jobs) %></td>
    </tr>
  </tbody>
</table>

<br>
<br>

<table id="schools" class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">URN</th>
      <th scope="col" class="govuk-table__header">UKPRN</th>
      <th scope="col" class="govuk-table__header">Allocation delta</th>
      <th scope="col" class="govuk-table__header">Applied delta</th>
      <th scope="col" class="govuk-table__header">Order state</th>
      <th scope="col" class="govuk-table__header">Send notification?</th>
      <th scope="col" class="govuk-table__header">Sent notification?</th>
      <th scope="col" class="govuk-table__header">Processed?</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
    <% @jobs.each do |job| %>
      <tr class="govuk-table__row <%= 'govuk-tag--yellow' if job.delta_adjusted? %>">
        <td class="govuk-table__cell"><%= link_to_urn_or_ukprn(job.urn) %></td>
        <td class="govuk-table__cell"><%= link_to_urn_or_ukprn(job.ukprn) %></td>
        <td class="govuk-table__cell"><%= job.allocation_delta %></td>
        <td class="govuk-table__cell"><%= job.applied_allocation_delta %></td>
        <td class="govuk-table__cell"><%= job.order_state %></td>
        <td class="govuk-table__cell"><%= job.send_notification %></td>
        <td class="govuk-table__cell"><%= job.sent_notification %></td>
        <td class="govuk-table__cell"><%= job.processed %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= govuk_button_to('Send notifications', send_notifications_support_allocation_batch_job_path(id: @jobs.first.batch_id)) %>
