<% content_for :title, "#{@responsible_body.name} – Support" %>
<%- content_for :before_content do %>
  <%= breadcrumbs([
    { t('page_titles.support_responsible_bodies') => support_devices_responsible_bodies_path },
    @responsible_body.name,
  ]) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-4">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Devices pilot</span>
      <%= @responsible_body.name %>
    </h1>

    <h2 class="govuk-heading-l">Users</h2>

    <table id="responsible-body-users" class="govuk-table">
      <caption class="govuk-table__caption">Responsible body users</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Email address</th>
          <th scope="col" class="govuk-table__header">Full name</th>
          <th scope="col" class="govuk-table__header">Sign-in count</th>
          <th scope="col" class="govuk-table__header">Last sign in</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @users.each do |user| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= user.email_address %></td>
            <td class="govuk-table__cell"><%= user.full_name %></td>
            <td class="govuk-table__cell"><%= user.sign_in_count %></td>
            <td class="govuk-table__cell"><%= user.last_signed_in_at&.to_date&.to_s(:govuk) || 'Never' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= govuk_button_link_to 'Add a user', new_support_responsible_body_user_path(@responsible_body, pilot: 'devices') %>
  </div>

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Schools</h2>

    <table id="responsible-body-schools" class="govuk-table">
      <caption class="govuk-table__caption">Schools managed by <%= @responsible_body.name %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name and URN</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Devices</th>
          <th scope="col" class="govuk-table__header">Dongles</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @schools.each do |school| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= school.name %> (<%= school.urn %>)<br><%= school.type_label %></td>
            <td class="govuk-table__cell"><%= render SchoolPreorderStatusTagComponent.new(school: school) %></td>
            <%- device_allocations_data = school.device_allocations.detect(&:std_device?) %>
            <td class="govuk-table__cell">
              <%= device_allocations_data&.allocation || 0 %> allocated<br>
              <%= device_allocations_data&.cap || 0 %> caps<br>
              <%= device_allocations_data&.devices_ordered || 0 %> ordered
            </td>
            <%- dongles_allocations_data = school.device_allocations.detect(&:coms_device?) %>
            <td class="govuk-table__cell">
              <%= dongles_allocations_data&.allocation || 0 %> allocated<br>
              <%= dongles_allocations_data&.cap || 0 %> caps<br>
              <%= dongles_allocations_data&.devices_ordered || 0 %> ordered
            </td>
            <td class="govuk-table__cell">
              <% if school&.preorder_information&.school_will_be_contacted? %>
                <%= form_with url: support_devices_school_invite_path(school_urn: school.urn), method: 'post' do |f| %>
                  <%= f.govuk_submit 'Invite' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
