<%- title = t('page_titles.your_requests') %>
<%- content_for :title, title %>
<%- content_for :before_content do %>
  <%- school_breadcrumbs(items: [
      { t('page_titles.school.internet.home.show.title') => internet_school_path(@school) },
      { t('page_titles.request_extra_mobile_data') => extra_data_guidance_internet_mobile_school_path(@school) },
      title
    ],
    user: @current_user,
    school: @school) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= title %>
    </h1>

    <%= govuk_button_link_to 'New request',
      extra_data_requests_type_internet_mobile_school_path(@school)
    %>

    <p class="govuk-body">To contact us about a request, give us the request IDs. Do not include names and phone numbers in your email.</p>

    <% if @extra_mobile_data_requests.any? %>
      <%= render partial: 'shared/internet/help_with_statuses', locals: { statuses_with_descriptions: @statuses_with_descriptions } %>
    <% end %>
  </div>
</div>

<% if @extra_mobile_data_requests.any? %>
  <table class="govuk-table requests">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header">Request ID</th>
        <th class="govuk-table__header">Account holder</th>
        <th class="govuk-table__header">Mobile number</th>
        <th class="govuk-table__header">Requested</th>
        <th class="govuk-table__header">Mobile Network</th>
        <th class="govuk-table__header">Status</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <%- for emd_request in @extra_mobile_data_requests do %>
        <tr class="govuk-table__row" id="request-<%= emd_request.id %>">
          <td class="govuk-table__cell"><%= emd_request.id %></td>
          <td class="govuk-table__cell"><%= govuk_link_to(emd_request.account_holder_name, extra_data_request_internet_mobile_school_path(@school, emd_request)) %></td>
          <td class="govuk-table__cell"><%= emd_request.device_phone_number %></td>
          <td class="govuk-table__cell"><%= emd_request.created_at.to_date.to_s(:govuk_date_short) %></td>
          <td class="govuk-table__cell"><%= emd_request.mobile_network.try(:brand) %></td>
          <td class="govuk-table__cell">
            <%= render ExtraMobileDataRequestStatusComponent.new(status: emd_request.status) %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>

  <%= render partial: 'shared/pagination', locals: { pagination: @pagination } %>
<% end %>
