<%- content_for :before_content do %>
  <%= govuk_back_link(text: 'Back', href: extra_data_guidance_internet_mobile_school_path(@school)) %>
<% end %>

<% content_for :title, title_with_error_prefix(t('page_titles.how_would_you_like_to_submit_information'), @submission_type.errors.any?) %>
<div class="govuk-grid-row">
  <%= form_for @submission_type, url: extra_data_requests_type_internet_mobile_school_path, method: :get, html: { class: 'govuk-grid-column-two-thirds' } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_radio_buttons :submission_type,
        ExtraMobileDataSubmissionForm.submission_type_options,
        :value,
        :label,
        legend: { text: t('page_titles.how_would_you_like_to_submit_information'), size: 'xl', tag: 'h1' },
        classes: 'govuk-!-margin-top-3'
      %>

      <%= f.govuk_submit 'Continue' %>
  <%- end %>
</div>
