<% content_for :title, t('landing_pages.get_support.start') %>

<%- content_for :before_content do %>
  <% breadcrumbs([{ "Home" => root_path },
                  t('landing_pages.get_support.start'),
                 ]) %>
<% end %>


<h1 class="govuk-heading-xl">
  <%= t('landing_pages.get_support.start') %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-7">
      We&rsquo;re here to answer any queries you have about the Get help with technology programme. To
      help us respond to you more quickly (within 3 working days), please answer a few questions.
      These should take no longer than 5 minutes.
    </p>

    <%= render GovukComponent::StartButtonComponent.new(
      text: 'Start now',
      href: support_ticket_describe_yourself_path) %>

    <p class="govuk-body govuk-!-margin-top-3">
      If you&rsquo;d rather not answer these questions, you can email <a href="mailto:COVID.TECHNOLOGY@education.gov.uk" class="govuk-link">COVID.TECHNOLOGY@education.gov.uk</a>
      instead. We&rsquo;ll still aim to respond to you within 3 working days.
    </p>
  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="help-guides">
        Most viewed help guides
      </h2>
      <!-- @TODO NEED TRACKING FOR THESE LINKS ? -->
      <nav role="navigation" aria-labelledby="help-guides">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <%= govuk_link_to "How to reset Windows laptops and tablets", devices_guide_to_resetting_windows_laptops_and_tablets_path %>
          </li>
          <li>
            <%= govuk_link_to "Get local admin and BIOS passwords",
            devices_guide_to_resetting_windows_laptops_and_tablets_get_local_admin_and_bios_passwords_path %>
          </li>
          <li>
            <%= govuk_link_to "How to reset your wireless router", "/devices/managing-your-4g-wireless-routers" %>
          </li>
        </ul>
      </nav>
    </aside>

  </div>
</div>
