<h2 class="govuk-heading-l govuk-!-margin-top-8">Mobile data requests</h2>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <div class="app-card app-card--blue">
      <span class="app-card__count"><%= @stats.total_extra_mobile_data_requests %></span>
      requests
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__secondary-count">
        <%= @stats.extra_mobile_data_requests_by_status['requested'] || 0 %>
      </span>
      requested
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card">
      <span class="app-card__secondary-count">
        <%= @stats.extra_mobile_data_requests_by_status['in_progress'] || 0 %>
      </span>
      in progress
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card app-card--red">
      <span class="app-card__secondary-count">
        <%= @stats.extra_mobile_data_requests_by_status['queried'] || 0 %>
      </span>
      not valid
    </div>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <div class="app-card app-card--green">
      <span class="app-card__secondary-count">
        <%= @stats.extra_mobile_data_requests_by_status['complete'] || 0 %>
      </span>
      completed
    </div>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-one-half">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Network</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Requests</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        <% @stats.extra_mobile_data_requests_by_mobile_network_brand.each do |mno_name, count| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= mno_name %></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><%= count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
