<h2 class="govuk-heading-l govuk-!-margin-top-8">Responsible body engagement</h2>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <%= render Support::TileComponent.new(
                 count: @stats.number_of_different_responsible_bodies_with_at_least_one_preorder_information_completed,
                 label: t(:responsible_bodies_with_at_least_one_preorder_information_completed, scope: %i[support service_performance], count: @stats.number_of_different_responsible_bodies_with_at_least_one_preorder_information_completed),
                 colour: :blue) %>
  </div>
</div>

<h2 class="govuk-heading-l govuk-!-margin-top-8">School decisions and details</h2>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-full">
    <%= render Support::TileComponent.new(
                 count: @stats.number_of_schools_with_a_decision_made,
                 label: t(:decision_made, scope: %i[support devices_performance], count: @stats.number_of_schools_with_a_decision_made),
                 colour: :blue) %>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-4">
  <div class="govuk-grid-column-one-half">
    <%= render Support::TileComponent.new(
                 count: @stats.number_of_schools_devolved_to,
                 label: t(:schools_devolved_to, scope: %i[support devices_performance], count: @stats.number_of_schools_devolved_to),
                 size: :reduced) %>
  </div>
  <div class="govuk-grid-column-one-half">
    <%= render Support::TileComponent.new(
                 count: @stats.number_of_schools_managed_centrally,
                 label: t(:schools_managed_centrally, scope: %i[support devices_performance], count: @stats.number_of_schools_managed_centrally),
                 size: :reduced) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <%= render Support::TileComponent.new(
                 count: @stats.school_counts_by_status['needs_contact'] || 0,
                 label: t(:needs_a_contact, scope: %i[support devices_performance], count: @stats.school_counts_by_status['needs_contact'] || 0),
                 size: :reduced) %>

    <%= render Support::TileComponent.new(
                 count: @stats.school_counts_by_status['school_contacted'] || 0,
                 label: t(:school_contacted, scope: %i[support devices_performance], count: @stats.school_counts_by_status['school_contacted'] || 0),
                 colour: :blue,
                 size: :reduced) %>

  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render Support::TileComponent.new(
                 count: @stats.school_counts_by_status['school_will_be_contacted'] || 0,
                 label: t(:school_contacts, scope: %i[support devices_performance], count: @stats.school_counts_by_status['school_will_be_contacted'] || 0),
                 colour: :'light-blue',
                 size: :reduced) %>

    <%= render Support::TileComponent.new(
                 count: @stats.school_counts_by_status['school_ready'] || 0,
                 label: t(:school_ready, scope: %i[support devices_performance], count: @stats.school_counts_by_status['school_ready'] || 0),
                 colour: :green,
                 size: :reduced) %>

  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render Support::TileComponent.new(
                 count: @stats.school_counts_by_status['needs_info'] || 0,
                 label: t(:needs_information, scope: %i[support devices_performance], count: @stats.school_counts_by_status['needs_info'] || 0),
                 size: :reduced) %>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <%= render Support::TileComponent.new(
                 count: @stats.school_counts_by_status['ready'] || 0,
                 label: t(:information_given, scope: %i[support devices_performance], count: @stats.school_counts_by_status['needs_info'] || 0),
                 colour: :'light-blue',
                 size: :reduced) %>
  </div>
</div>
