<% content_for :devices_service, true %>
<%= content_for :title, @page.title %>

<%= content_for :head do %>
  <% if @page.noindex %>
    <meta name="robots" content="noindex" />
  <% end %>
<% end %>

<%- content_for :before_content do %>
  <% if @page.guidance_section == 'parents_carers_students' %>
    <% breadcrumbs([{ "Home" => root_path },
                    { t('landing_pages.guides_parents_carers_students.title') => guides_for_parents_carers_and_students_path },
                    @page.title,
                   ]) %>
  <% elsif @page.guidance_section == 'finding_out_about_internet_access_needs' %>
    <% breadcrumbs([{ "Home" => root_path },
                    { t('page_titles.finding_out_about_internet_access_needs') => finding_out_about_internet_access_needs_path },
                    @page.title,
                   ]) %>
  <% else %>
    <% breadcrumbs([{ "Home" => root_path }, @page.title]) %>
  <% end %>
<% end %>

<% content_for :content do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= @page.title %></h1>

      <p class="govuk-body-l"><%= @page.description %></p>

      <% if content_for(:html_list_of_headings_links).present? %>
        <h2 class="govuk-heading-s">Contents</h2>

        <%= content_for :html_list_of_headings_links %>
      <% end %>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <%= yield %>

    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
