<%= content_for :title, @title %>

<%- content_for :before_content do %>
  <%= govuk_breadcrumbs(breadcrumbs: { 'Home' => root_path, @title => nil }) %>
<% end %>

<% content_for :content do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= @title %></h1>

      <% if content_for(:html_list_of_headings_links).present? %>
        <h2 class="govuk-heading-s">Contents</h2>

        <%= content_for :html_list_of_headings_links %>
      <% end %>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <%= yield %>

    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
